<li>
    <a href="https://thoree.neocities.org/" target="_blank">Thoree</a>
</li>
<li>
    <a href="https://sadgrl.online/" target="_blank"><img src="/assets/images/buttons/sadgrlonline.gif" alt="sadgrl.online"></a>
</li>
<li>
    <a href="https://meowbark2000.neocities.org" target="_blank"><img src="/assets/images/buttons/meowButton.png" alt="meowbark2000.neocities.org"></a> 
</li>
<li>
    <a href="https://doqmeat.neocities.org" target="_blank"><img src="/assets/images/buttons/doqmeatButton.png" alt="doqmeat.neocities.org/h"></a>
</li>
<li>
    <a href="https://trick-916.neocities.org/" target="_blank"> <img src="/assets/images/buttons/trick-916-button.gif" alt="trick-916.neocities.org"> </a>
</li>
<li>
    <a href="https://godmode.neocities.org" target="_blank"><img src="/assets/images/buttons/godmodeButton.gif" alt="godmode.neocities.org"></a>
</li>
<li>
    <a href="https://twansgendew.net/" target="_blank"><img src="/assets/images/buttons/twansButton.gif" alt="twansgendew.net"></a>
</li>
<li>
    <a href="https://anewchanceanewday.neocities.org/" target="_blank"> <img src="/assets/images/buttons/anewchanceButton.gif" alt="anewchanceanewday.neocities.org"></a>
</li>
<li>
    <a href="https://eatsteas.neocities.org/" target="_blank"><img src="/assets/images/buttons/eatsteasnew.gif" alt="eatsteas.neocities.org"></a>
</li>
<li>
    <a href="https://local98.neocities.org" target="_blank"><img src="/assets/images/buttons/local98button.gif" width="88" height="31" alt="local98.neocities.org"></a>
</li>
<li>
    <a href="https://kiwimeowo.neocities.org" target="_blank"><img src="/assets/images/buttons/kiwiButton.png" alt="kiwimeowo.neocities.org"></a>
</li>
<li>
    <a href="https://sapphic-cafe.neocities.org" target="_blank"><img src="/assets/images/buttons/sapphic-cafe-button.png" alt="sapphic-cafe.neocities.org"></a>
</li>
<li>
    <a href="https://sixtoesss.neocities.org//" target="_blank"><img src="/assets/images/buttons/sixtoesssButton.gif" alt="sixtoesss.neocities.org"></a>
</li>
<li>
    <a href="https://matchaprika.club/" target="_blank"><img src="/assets/images/buttons/matchaprika.png" alt="matchaprika.neocities.org"></a>
</li>
<li>
    <a href="https://rhinedottir.neocities.org/" target="_blank"><img src="/assets/images/buttons/rhinedottir.gif" alt="rhinedottir"></a>
</li>
<li>
    <a href="https://slaid.neocities.org/" target="_blank"><img src="/assets/images/buttons/slaidbeach.png" alt="slaid.neocities.org"></a>
</li>
<li>
    <a href="https://lilithdev.neocities.org/" target="_blank"><img src="/assets/images/buttons/lilithdevbtn.gif" alt="lilithdev.neocities.org"></a>
</li>
<li>
    <a href="https://spider.pink/" target="_blank"><img src="/assets/images/buttons/spiderbutton.png" alt="spider.pink"></a>
</li>
<li>
    <a href="https://snowyfin.neocities.org" target="_blank"><img src="/assets/images/buttons/SnowyFin.png" width="88" alt="snowyfin.neocities.org"></a>
</li>
<li>
    <a href="https://catboo.neocities.org/" target="_blank"><img src="/assets/images/buttons/catboo.webp" alt="catboo.neocities.org"></a>
</li>
<li>
    <a href="https://memer.online" target="_blank"><img src="/assets/images/buttons/memerOnlineButtonHQ.png" style="width: 88px" alt="memer.online"></a>
</li>
<li>
    <a href="https://crossingtown.neocities.org" target="_blank"><img src="/assets/images/buttons/crossingtown.gif" alt="crossingtown.neocities.org"></a>
</li>
<li>
    <a href="https://rxqueen.neocities.org/" target="_blank"><img src="/assets/images/buttons/rxqueen.gif" alt="rxqueen.neocities.org/"></a>
</li>
<li>
    <a href="https://virtualobserver.moe/" target="_blank"><img src="/assets/images/buttons/virtualobserverButton.png" alt="virtualobserver.moe"></a>
</li>
<li>
    <a href="https://arandomsite.neocities.org/" target="_blank"><img src="/assets/images/buttons/arandomsite.gif" alt="arandomsite.neocities.org"></a>
</li>
<li>
    <a href="https://deepintheforest.neocities.org/" target="_blank"><img src="/assets/images/buttons/deepintheforest.png" alt="deepintheforest.neocities.org"></a>
</li>
<li>
    <a href="https://n-has-a-site.neocities.org" target="_blank"><img src="/assets/images/buttons/n-has-a-site.png" alt="n-has-a-site.neocities.org"></a>
</li>
<li>
    <a href="https://numbersstory.com" target="_blank"><img src="/assets/images/buttons/numbersstory.png" alt="numbersstory.com"></a>
</li>
<li>
	<a href="https://bobs-cool-site.neocities.org/" target="_blank"><img src="/assets/images/buttons/bobsbutton.gif" alt="bobs-cool-site.neocities.org"></a>
</li>
<li>
	<a href="https://maddoxxing.neocities.org/" target="_blank"><img src="/assets/images/buttons/maddoxxing.png" alt="madoxxing.neocities.org">
</li>
<li>
    <a href="/misc/the_stuff.html">All Buttons, Links and Stuff</a>
</li>
