<footer id="footer" class="han-shot-first">
	<div class="firework"><img src="/assets/images/gifs/firework.gif" alt="firework"></div>
	<div>
		<p>
			<a href="/thanks.html">thanks-page</a> ❤️  | <a href="/privacy-policy.html">privacy</a> 🔐 | <a href="/about">About</a> 📖 <!-- | <a href="/sitemap.xml">sitemap</a> 🗺️ -->
		</p>
    <p>Unless otherwise noted, <b>my content</b> is licensed</p>
    <p>with ❤️  under <b>CC0 Public Domain</b>, 2023-2024</p> 
		<img src="/assets/images/blinkies/neocitiesbadge.svg" alt="hosted via neocities" class="draggable">
	</div>
	<div class="firework"><img src="/assets/images/gifs/firework.gif" alt="firework"></div>
</footer>
