<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>
    
    <meta name="author" content="sadlyLink">
    
    <meta name="date" content="{{page.date}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{page.description}}">
    <meta name="keywords" content="neocities, sadlyLink, sadly.link, sadly-link, sadly link,{{page.keywords}}, blog, code-cafe, code cafe">
    <meta name="theme-color" content="#000000">
    <meta http-equiv="Content-Security-Policy" content="font-src 'self'; {{ page.csp }}">
    
    {% include favicon.html %}
    
    <!-- <link href="/assets/css/style.css" rel="stylesheet" type="text/css" media="all"> -->
    {% if page.style %}
    <link href="/assets/css/{{ page.style }}" rel="stylesheet" type="text/css" media="all">
    {% else %}
    <link href="/assets/css/style.css" rel="stylesheet" type="text/css" media="all">
    {% endif %}
    
    <script src="/assets/js/interact.min.js"></script> <!-- Class draggable -->
    <script src="/assets/js/draggable.js"></script> <!-- Supporting Class for draggable by ** https://sadgrl.online *-->

    {% if page.neko %}
    <!-- Neko cat chasing cursor by: https://webneko.net/ -->
    <script>NekoType="white"</script>
    <h4 id=nl><script src="https://webneko.net/n20171213.js"></script><a href="https://webneko.net">Neko</a></h4>
    {% endif %}
  </head>