<aside id="leftSidebar">
	<h2>Update-Log</h2>
	<div class="update-log-box">
		<div class="update-log-content">
		  {% include updates.html %}
		</div>
	</div>  
	
	<h2>Status Updates</h2>
	<div id="statuscafe"><div id="statuscafe-username"></div><div id="statuscafe-content"></div></div><script src="/assets/js/status-cafe-update.js" defer></script><br>
	My current mood: <a href="https://www.imood.com/users/sadlyLink" target="_blank"><img src="https://moods.imood.com/display/uname-sadlyLink/imood.gif" alt="The current mood of sadlyLink at www.imood.com" class="ImoodButton"></a>
	<h2>Piclog</h2>
	<a href="https://piclog.blue/profile.php?id=250" target="_blank"><img id="piclog" src="https://piclog.blue/latest.php?id=250" alt="current picture I shared on piclog"></a>
	<br>
	<a href="https://www.mabsland.com/Adoption.html" target="_blank"><img src="/assets/images/blinkies/Censor_14c.gif" alt="WEB/PG-14"></a>
	<a href="https://neocities.org/site/code-cafe" target="_blank"><img src="/assets/images/blinkies/Neocities.gif" alt="hosted on neocities"></a>
	<a href="https://gitlab.com/sadlylink/neocities-blog"><img src="/assets/images/blinkies/gitlab-repo.gif" alt="GitLab Repo"></a>
</aside>