<div id="entry30" class="entry">
	<h2>Entry #30 -- 21. December </h2>
	<p>
		<b><i>oh my Cthulhu: 50k views!</i></b> AHHH — I'm so happy!
		<small>(shh — not the right time imposter syndrome)</small>
	</p>
	<p>
		This was faster than I anticipated…like I wrote the other entry a week ago — I didn't actually think I would hit the 50k in this year. Ahem *clears throat,* ya.
		<br>What I wrote in my last post still holds — I want to upgrade my blog. I am slowly getting in a position where I can mentally dedicate more time to my blog.
<br>On my laptop is a big folder with all my unfinished blog posts, which I didn't feel comfortable enough to share. So this is my new year's resolution: publishing more of my blog posts!
	</p>
	<p>
		This blog is a small personal project to see what I can and cannot do. And even though this blog is not much, I strive to have a super cool site one day, like all those other fantastic Neocities blogs I've seen in the last one and a half years! And I am fairly optimistic that 2025 will be the year I'll be getting much closer to that goal.
	</p>
	<p><b>Thank you — yeah, I mean you specifically 🫵 — thanks for taking the time to read this. I hope to see you in my corner of the internet again soon.</b></p>
</div>
<div id="entry29" class="entry">
	<h2>Entry #29 -- 13. December</h2>
	<p>
		I am a bit exhausted lately. Not particular because of my studies but mostly because of some family BS. That's why I haven't updated this blog in a while and probably won't in the next few weeks. I hope I get some time to work on my blog over Xmas.</p> 
	<p>
	Anyway, the second (and final season) of Arcane dropped (some time ago, but I couldn't write earlier--see above).
	<br> I loved the show! I am going to rewatch both seasons back-to-back again. I am so hyped!
	</p>
	<p>
	Also I really do have a few things I want to change on this blog in the next year. I already have this blog over a year, and I want to improve it and finally make it all my one. This will be some work. During that time I want to improve my writing. I will share more story progress, add a story page where my short story + other stuff will be posted. I want to put a focus on my writing, because I hope that it will help me grow as a writer (though I'm still a bit undecided). 
	A few blog posts of mine were written with the "help" of AI models, because I was super afraid what I write is awful and AI could help improve it. Now rereading this makes me so uncomfortable. I won't delete my old posts, BUT I won't use AI models for writing. All the code that I write for this blog with the help of AI in the future will be from open source models and not github copilote or some other BS.
	So what will be the next things to change: no ai-co-written posts anymore for my own sake, expanding my writing corner and change the themes for my blog more.
	</p>
	<p>All this coincides with the fact that my blog will (hopefully) soon crack the 50k views. Maybe I should prepare smth for when this happens - a new task for me to do while procrastinating (yay) /s </p>
</div>
<div id="entry28" class="entry">
        <h2>Entry #28 -- 25. October</h2>                        
        <p>Guess who got the new print version of <a href="https://www.webtoons.com/en/fantasy/castle-swimmer/list?title_no=1499"><i>Castle Swimmer</i></a> by Wendy Lian Martin. I wrote exactly 2 Month ago that I preordered the book. Sadly, I was — and still am — a bit sick, so I couldn't pick it up last week (btw. please support your local bookshop(s) if possible). A<b>nya</b>way I got the comic book about two mermen who fall in love (if this is even possible underwater).
        It's awesome! I'm still super happy I now also got it in print.
        </p>
        <p>So after catching up with all the Uni stuff, I know what I'll be reading.</p>
        <details>
        <summary>A small rant</summary>
        <p>I'm really picky about romance stories I like. Most are just unnecessary bloat, IMHO.
        In a <a href="https://yewtu.be/watch?v=dcjB2DU5MdU" target="_blank">video about 50 lessons the writers of the Netfilx show Arcane</a> gave online, composed by the channel schnee, one rule was, that each scene should fulfill at least two of three criteria: furthering the plot, developing a character, or teaching something new about the world. Romance often only "develops" a character, and that in a very predictable way.
        »Don't write boring« is something every piece of writing should keep in mind, but in my experience it often fails especially hard in romance.
        </p>
        </details>
        <p>Still, I love good romance stories that have an awesome surrounding plot. <i>Castle Swimmer</i> absolutly has, <strong>And I devoured the webcomic!</strong>. Getting the book is my minimum of thanks to the author for this story. The <span title="I do have some problems with the depiction of god-like entities in the comic but this would be worth a whole blog post - this doesn't make the comic less evective, I simple would have gone a different route">theme of "destiny" is so well poignant</span> and the characters...THE FUCKING CHARACTERS: I LOVE KAPPA AND SIREN!
        I LOVE THEM!! (you can't tell, but i am crying screaming in a very squeaky voice rn.)
        </p>
        <p>I also got Anne Applebaum's <i>Autocracy, Inc.</i>, which recently won the Peace Prize of the German Book Trade. </p>
        <p>When I picked up the books, the bookshop employee asked me three times if one of the two books was a gift.
        <b><i>No, they are a gift for me! I just like reading about mermen and how our democracies are menaced by autocrats.</i></b>
        </p>
        <p>The <a href="https://www.penguinrandomhouse.com/books/748931/castle-swimmer-volume-1-by-wendy-martin/"><i>Castle Swimmer</i> print book</a> looks very promising, as does Autocracy, Inc.
        </p>
  </div>
<div id="entry27" class="entry">
	<h2>Entry #27 -- 1. October</h2>
	<p>I feel really stupid when I need to write someone and I just can't. It's like, dude, com'on, it's one WhatsApp message, but I can't (like right now).</p>
	<p>And then again, I can say all this stupid shit with people I sometimes do not really know, which is then forever engraved on the “Top-100-stupid-things-I-once-said-and-hopefully-didnt-hurt-anyone-more-than-this-tape-hurts-me”-Playlist that is played in an eternal loop every time I'm trying to sleep (like right now).</p>
</div>
<div id="entry26" class="entry">
	<h2>Entry #26 -- 26. September</h2>
	<p>
		I just finished the game <strong>“Do You Really Want To Know 2”</strong>. This. Game. Is. Awesome!✨
		<br>  Even though I haven't played the first installment, I can confidently say that you can dive right into this prequel without missing a beat. But after experiencing this gem, I’m definitely going to check out “Do You Really Want To Know 1” next! 
	</p>
	<p>It is a mobile text-adventure / role-playing game where you interact with the other characters via simulating social media interactions (posting updates, sending messages, etc.). It follows the perspective of <i>Nick</i>. The game is co-created by <a href="https://www.gamtropy.com/lovethevoice2-en/" target="_blank">Gamtropy</a> and the Taiwan AIDS Society – LOVE the VOICE.</p>
	<p>
		Nick gets tested HIV-positive and you, playing as him, need to navigate the family, friends and love-interest relationships. It's super informative, the dialogues are amazing, and the art style is lovely. It's also not that long to play, but with so many different dialogue options and paths to go, this game won't get boring so fast.
		<br> My only minor critique is that after a few playthroughs, you might notice some recurring dialogues in different contexts. However, they still fit seamlessly into the narrative, so it hardly detracts from the overall experience.
	</p>
	<p>This game has everything I could ask for: it’s super informative, beautifully crafted, and engagingly told. And the best part? It’s completely <strong>FREE!</strong> So what are you waiting for? Go play it! 🫵</p>
	<p>You can download the game on the <a href="https://apps.apple.com/us/app/do-you-really-want-to-know-2/id6478856261" target="_blank">Apple App Store</a> or <a href="https://play.google.com/store/apps/details?id=com.gamtropy.hiv2" target="_blank">Google Play Store</a></p>
</div>
<div id="entry25" class="entry">
	<h2>Entry #25 -- 15. September</h2>
	<p>
		I rewatched Arcane! It was the third time I binge-watched the whole series, I think (+ several times I watched a few episodes over and over). Aaaand it was the first time I watched it in German, so I didn't miss <strong>anything</strong>.
		I love this series so, so much!! I hope the second season is going to be awesome as well. Ashnikko's <a href="https://yt.artemislena.eu/watch?v=s4cqzF6tMBQ" target="_blank" title="Arcane Trailer">“Paint The Town Blue”</a> is on my playlist all day long.
	</p>
	<p>Oh, and I finally made progress on one of my blog posts that I've been working on for some time. Well actually, two, but they build on each other, and I am very excited about this.</p>
	<p>Last few weeks were very very exhausting and a bit much for me to handle 🥲, so I'm happy to be able to write again and finding time to watch one of my absolute fav series</p>
</div>
<div id="entry24" class="entry">
    <h2>Entry #24 -- 25. August</h2>
    <p>
        I wanted to write something about <a href="https://www.webtoons.com/en/fantasy/castle-swimmer/list?title_no=1499">Castle Swimmer</a> the webtoon by the amazing Wendy Lian Martin. <br>
        I read the whole 3 seasons in like a few days and I love it! This might just be one of my absolute favourite comics ever, and definitely in my top 5 emotionally destructive stories I've read (up there with “They Both Die At The End”).
        <br> And I pre-ordered the print edition. Why would I want to go through this lovely but emotionally absolutely horrific story again? I don't know, but I will. <br> Will I cry? <strong>Yes!</strong> Do I care? <strong>NO!</strong> …. <small>well actually a bit but i am strong ---- i'm somewhat grown up ---- i think</small>
    </p>
</div>
<div id="entry23" class="entry">
    <h2>Entry #23 -- 24. August</h2>
    <p>
        I added a comment widget for all posts and used it on the guestbook. <br>
        The widget is by the awesome project <a href="https://cactus.chat">Cactus Chat</a>.
        They use the Matrix protocol for the comments, which makes it more private and secure than using google docs + forms. <br>
        Best of all: it's <a href="https://gitlab.com/cactus-comments">open source!</a>
    </p>
</div>
<div id="entry22" class="entry">
    <h2>Entry #22 -- 17. August</h2>
    <p>
        I finally finished the <strong>new <a href="/about/">About</a> and <a href="/misc/lists">Lists</a> page</strong>. <br>
        This is part of reducing the repetitive style of the site to <i>hopefully</i> be able to remove the "under construction" banner soon. <br>
        <hr>
        Between this entry and my last, this blog turned <strong>1 year old</strong>! <br> 
        Still can't believe it is under construction, but hey... | To quote <a href="https://invidious.nerdvpn.de/watch?v=UXVMRAWDkBk" target="_blank" title="PEGGY: Mess">PEGGY: <i>«Im a Mess!»</i></a>
    </p>
</div>
<div id="entry21" class="entry">
    <h2>Entry #21 -- 5. July</h2>
    <p>
        I haven't written anything in a while. <br>
        It's been a few very stressfull weeks for me.
    </p>
    <p>And <b>what the f* happend in the last few days?!?</b></p>
    <p>Labour got majority in the UK elections 🥳, RN got the most votes in the first round of french elections 🤢 now i put all my hope in the second round.</p>
    <p>Oh And the EU elections are also over.</p>
    <hr>
    <p><b>Anyway,</b> I know have a listed account: <a href="https://listed.to/@sadlyLink">listed.to/@sadlyLink</a> <br>
        I start by reposting and improving my old posts, and will add new things soon.
    </p>
</div>
<div id="entry20" class="entry">
<h2>Entry #20 -- 16. June</h2>
<p>
  I got infected by Star Trek!!!
    I just watched <b>Star Trek: Strange New Worlds</b> too!
</p>
<p>
  I know I somewhat had a Star Trek gen, but I didn't expected it to hit like this😓 
<br>
    And what was that for a cliffhanger at the end of season 2?!? Are you kidding me?! And I have to wait until 2025 for season 3. Unbelievable!
</p>
</div>
<div id="entry19" class="entry">
<h2>Entry #19 -- 1. June</h2>
<p>
      Ok I finished <b>Lower Decks</b>! <br>
    Awesome series, I love it sooo much!1! It is definitly one of my favourite series of all time. I just watched it in German, definitly going to rewatch it in English now (no this is not just an excuse to watch the series again... :3)
</p>
<p>
  Also I made the - more or less - complete switch to Linux, because some more things didn't function on Mac and I won't get a Mac after my current one dies. The M-Chips might be super cool and stuff, but I need compatibility and currently I feel like Linux is better at that then MacOS compared to non-Intel devices. And if I have problems on the Intel Chip with certain software, I don't want to know how it is with the new ones. <br>
    However, Proton (which I use as an iCloud alternative for now) is really lacking behind on Linux support. And allthough I love Ente.io for Photo backup and sync it is ofcourse not as mature as Apple and Google because ente cares about user privacy (Apple maybe a tiny tiny little bit too, to not loose their reputation, but that ship has sailed IMHO).
</p>
<small>
  Fun (not guaranteed) fact: in germany it's not "the ship has sailed" but "the train has left".
</small>
</div>
<div id="entry18" class="entry">
<h2>Entry #18 -- 27. May</h2>
<p>
<i>Lower Decks</i> is awesome. If you haven't seen it go do so know. I finished the first 2 seasons, and I <b>love</b> it! It is Star Trek at it's best, and a even if you don't know much about Star Trek, like I, you still will love this series. Promised! </p> 
<small>(LEGAL NOTICE: No guarantees are made on this blog. Please inform your local starfleet officer for futher inquiries.)</small>
</div>  
<div id="entry17" class="entry">
<h2>Entry #17 -- 23. May</h2>
<p>
    Today I voted for the first time!!! In the EU there are the upcoming Parlament elections and I casted my postal vote at my town hall. So it was more or less a postal vote with a ballot box, 'cause I wanted a bit more of an election feeling/vibe for my first elction, haha.
</p>
<p>
    Btw. anyone who can vote, please do so! Considering the shift to the right in the EU, every vote for democracy is important <3 !
</p>
</div>
<div id="entry16" class="entry">
<h2>Entry #16 -- 22. May</h2>
<p>
    Hey folks, I changed the blog and guide strucutre a bit. First from category (writing, videogames, ...) folowed by the date to just the date.
    <br>
    But found this to be extremely stupid two. So now all the posts have unique names and all the blog posts are under /blog/ and all the guides under /guides/ followed by the topic. For now this is just /guides/cpp/.
    <br>
    This would be all, I think. I hope you like the changes. I think it is much better now. <br>
    Also started watching “Lower Decks”. My mother is a big Star Trek fan and she hasn't seen it too yet, so new series to watch together 😊
</p>
</div>
<div id="entry15" class="entry">
<h2>Entry #15 -- 19. May</h2>
<p>
    A <a href="https://thoree.neocities.org" target="_blank">friend of mine</a> visited me today. It was awesome seeing him in person.
    <br>
    The Internet is kind of weird; I've known him for nearly two years, and we've never seen each other IRL.
    This is amazing and odd at the same time. Dunno. <br> <hr>
    Also, I think I haven't written anything about “Loveless” by Alice Oseman yet. I love this book. It's well written, the characters are authentic, and it is much-needed aro-ace representation.
    <br>
    I am very lucky that when I started to read more about different topics on sexuality, identity, LGBTQIA+, etc., asexuality and aromanticism were one of the topics I did find some content on and had the opportunity to learn about. 
    Still not in the same amount as compared to other topics. And I think this is very problematic.
    <br>
    My sexuality or related topics are not thematised on this blog, because I consider this highly personal and also nothing worth sharing. 
    <br>
    <strong>But</strong> I wanted to say that learning more about the aro-ace spectrum earlier would have helped me understand certain things I felt and experienced better. 
    Especially the concept of a squish. (It's also an awesome word)  <br>
    So reading this book and seeing the representation was important to me, also to better understnad aromanticism and asexuality.
    <br><hr><br>
    Anyway, like I wrote on my <a href="https://status.cafe/users/code-cafe">Status Café</a> 
    I'm very disappointed that there is no garlic bread emoji, just: 🧄🍞🥖 and 🇩🇰, unbelievable!!
</p>
</div>
<div id="entry14" class="entry">
<h2>Entry #14 -- 11. May</h2>
<p>
    I finally finished my guestbook. It uses the awesome template by <a href="https://virtualobserver.moe" target="_blank">Ayano</a>. <br>
    Took me 3 days, but I'm happy with the result. <br>
    It does use Google what but I think it's okay for now.
</p>
</div>
<div id="entry13" class="entry">
<h2>Entry #13 -- 9. May</h2>
<p>
    Well hello there! <br>
    I did some tweaks to this site, like new styles to improve accessebility, adding more private messaging options etc. <br>
    Don't know what to say but wanted to write something again. <br>
    123Guestbook shooting down is a shame, i think it is pretty handy. I will add another methode here soon. I tuses google forms. <br>
    I'm not a fan of google, but this would allow writing comments wihtout an external site and cookies. But it is google so... not ideal. <br>
    Anyway hope your all fine and if not I hope it get's better soon ❤️
</p>
</div>
<div id="entry12" class="entry">
<h2>Entry #12 -- 23. April</h2>
<p>
    OMFG I jut forgot to upload this new entry to Neocities and GitLab haha. Well still in time I guess<br>
    Uni is still tough but super fun and I am learning a lot. I try to use GitLab issues to organise this site more, which I also need for a 
    course.<br><br>
    I just got told I get free GitHub copilot and other perks for being a student, like WOW! Should use that more. <br><br>
    Anyway I'm still figering out how to improve the layout of the site, I have some ideas but I'm not sure if they are good. <br>
    sadgrl online's template is really cool and it helped me get started when all I wanted was a simple blog, but seeing all of the creative sites on neocities...I really have higher standards now. <br>
    BTW. definitly checkout the sites I link in the <a href="/misc/the_stuff.html">Links button and other stuff</a> page!!
</p>
</div>
<div id="entry11" class="entry">
<h2>Entry #11 -- 23. March</h2>
<p>
    It's been a while since I updated my website. <br>
    The reason for that were some exams in Uni and I lost a lot of changes I made to the site, which I am now trying to recreate. <br>
    Please, please make backups!!
</p>
</div>
<div id="entry10" class="entry">
<h2>Entry #10 -- 11. Febuary</h2>
<p>
    <strong>This site is now on GitLab!</strong> you can make issues, clone it, improve it, make jokes about it, let your cat look through it and make sure everything is okay: you do you. <br>
    <br>Hope this is all correct and I didn't make any dumb mistakes yet. <br>
    <br>
    The license for my code is MIT because it was the easiest I thought. Everything that is creative content by me on this site and isn't flagged otherwise is still published under CC0 (attribution is always appreciated :3)
</p>
</div>
<div id="entry9" class="entry">
<h2>Entry #09 -- 9. Febuary</h2>
<p>
    I finished "One Piece" - super cool!
</p>
</div>
<div id="entry8" class="entry">
<h2>Entry #08 -- 30. January</h2>
<p>
    Started watching "One Piece" - I know I'm late <br>
    Also I added a recommendation page. I will add there a recommendation for a video/song every week
</p>
</div>
<div id="entry7" class="entry">
<h2>Entry #07 -- 26. January</h2>
<p>
    I am currently working on making the source code opensource on GitLab, shouldn't take that long <br>
    Hopefully...
</p>
</div>
<div id="entry6" class="entry">
<h2>Entry #06 -- 23. January</h2>
<p>
    I want to write blog posts more frequently. I have a few outlined, but because of the upcoming exams I am a bit stressed.
    <br>
    Anyway
</p>
</div>
<div id="entry5" class="entry">
<h2>Entry #05 -- 31. December '23</h2>
<p>
    2023 is drawing to a close! <br>
    It has been a very eventful, exciting and, not least, stirring year for me. <br>
    I hope you're all doing fine and that 2024 won't be too much worse than 2023. Or as good - idk <br>
    I haven't heard so much yet that it's bound to get better. <br>
    Everyone has learnt their lesson 😅 <br>
    Happy new year, folks! Stay safe.
</p>
</div>
<div id="entry4" class="entry">
<h2>Entry #04 -- 22. December</h2>
<p>
    I thought about writing down my thoughts surrounding Doki Doki Literature Club and 5th wall breaks before. finally finished that! <br>
    Also started a new project for the 404 page, but I have to learn a few new things for that. Could be awesome when it's finished
</p>
</div>
<div id="entry3" class="entry">
<h2>Entry #03 -- 18. Dezemeber</h2>
<p>
    Astolfo is a super interesting character. I mean not just the Fate character but the story of the character. <br>
    Translating the english wikipedia article to german was very fun. I now read some apper on Astolfo and statted to go down this rabbithole. <br>
    Maybe I do a post on Astolfo in the near future! Would be fun
</p>
</div>
<div id="entry2" class="entry">
<h2>Entry #02 -- 27. November</h2>
<p>
    I am currently working to make a cool new c++ project to also get more in touch with the language. I still need to figure out how to properly use emscripten. <br>
    But at least i started doing it. If you are interested you can find it <a href="/not_found.html">here</a> but I would <strong>not</strong> recommend it! It's still ugly and very limited in functions. <br>
    I hope it will be fun, when it's finished
</p>
</div>
<div id="entry1" class="entry">
<h2>Entry #01 -- 22. November</h2>
<p>
    I try to use more opensource software and. I now use VSCodium instead of VSCode and I use LibreOffice more often. <br>
    Though I still am not a big fan of LibreOffice it definitly imporved over the last years and is now really good to use.
</p>
</div>
