<div id="container">
<div id="headerArea">
    <div id="header"></div>
    <nav id="navbar" role="navigation" aria-label="Main Navigation">
        <ul>
            <li><a href="/home/" tabindex="0">Home</a></li>
            <li><a href="/blog/" tabindex="0">Blog</a></li>
            <li><a href="/misc/">Misc</a></li>
            <li><a href="/misc/the_stuff">Buttonwall</a></li>
            <li><a href="/misc/lists">Lists</a></li>
            <li><a href="/misc/The_Dream_You_Give">Short Story</a></li>
            <li><a href="/about/">About</a></li>
            <li><a href="/about/positions">Positions</a></li>
            <li><a href="/guestbook.html">Guestbook</a></li>
        </ul>
    </nav>
</div>
