<aside id="rightSidebar">
    <a class="guestbook" href="/guestbook" title="Guestbook"></a>

    <h2>Check out:</h2>
    <p id="misc-link">See all <a href="/misc/the_stuff.html">here</a></p>
    <script src="/assets/js/conveyor-belt.js"></script>
    <div class="conveyor-belt">
        <div class="box-container">
            <div class="box">
                <ul>
                    <br><br><br><br><br><br><br><br><br><br><br>
                    {% include conveyor-buttons.html %}
                </ul>
            </div>
        </div>
        <!-- <noscript>
            <div class="box-container">
                <div class="box scrollable">
                    <ul>
                        {% include conveyor-buttons.html %}
                    </ul>
                </div>
            </div>
        </noscript> -->
    </div>
    <h2>Webring: </h2>
    <!-- ++++++++ Code by https://nuthead.neocities.org/ring/ring.js ++++++++ -->
    <!-- alternative: <script src="/assets/js/ring.js"></script> <br> -->
    <script src="https://nuthead.neocities.org/ring/ring.js"></script> <br>
    <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
    <p>Part of the Null-Webring</p> <br>
    
    <!-- ++++++++ Code by https://webring.koinuko.pink/ ! ++++++++ -->
	<style>
        #webringdesc strong {color: #A62E79;}
		#templateWebring a {color: #A62E79; font-weight:bold;}
		#templateWebring a:hover {font-weight:bold; color: #A62E79;}
	</style>
    <div id="templateWebring">
        <div id="webringiconbox">
            <img id="iconWebring" src="/assets/images/site-images/astolfo.png" alt="Astolfo image">
        </div>
        <div id="webringdescbox">
            <p id="webringdesc">
                <strong>sadlyLink</strong> is lost in the studying of<br>
                <strong>Astolfo</strong> from <strong>Fate</strong>!
            </p>
        </div>
        <div id="webringlinks">
            <p id="linkparaWebring">
                | <a href="https://webring.koinuko.pink/members.php" target="_PARENT">Members List</a> | <br>
                Part of the <a href="https://webring.koinuko.pink" target="_PARENT">Self-Insert Webring</a>
            </p>
        </div>
    </div>
    <!-- +++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
    <br> <hr> <br>
    
    The current mood of the Internet is <a href="https://www.imood.com/imood"><img src="https://moods.imood.com/internet/current.gif"  alt="The current mood of the Internet at www.imood.com" class="ImoodButton"></a>

    <br>
</aside>
