<ul>
	<li><strong>21-12-2024: </strong> <span>I hit 50k view! Thx y'all: here is a <strong><a href="/misc#entry30">new misc post</a></strong> about this.</li>
	<li><strong>24-10-2024: </strong> <span>New <strong>misc</strong> post about <strong>Castle Swimmer</strong></span></li>
	<li><strong>02-10-2024: </strong> <span>Added <strong>bobs-cool-site</strong> button + <strong>new 88x31-buttons</strong> on buttonwall page</span></li>
	<li><strong>26-09-2024: </strong> <span>New misc update!</span>
	<li><strong>24-08-2024: </strong> <span>Added <strong>comment section</strong> and more private guestbook, via <a href="https://cactus.chat">Cactus-Chat</a>!</span></li>
	<li><strong>16-08-2024: </strong> <span><strong>All new <a href="/about">About theme!</a></strong></span></li>
	<li><strong>16-06-2024: </strong> <span>Added <a href="https://sorbier.neocities.org">sorbier</a> + new misc post + code & style improvements</span></li>
	<li><strong>22-05-2024: </strong> <span>New misc post and changed the post structure of the links</span></li>
	<li><strong>20-05-2024: </strong> <span>Moved my <a href="/misc/The_Dream_You_Give">short story</a></span></li>
	<li><strong>19-05-2024: </strong> <span>Added <strong><a href="https://deepintheforest.neocities.org" target="_blank">Eddie's Place</a></strong> and a new misc post</span></li>
	<li><strong>09-05-2024: </strong> <span>Added kaleidiope link + SimpleX chat as contact option + made some accessibility improvements</span></li>
  	<li><strong>05-05-2024: </strong> <span>New fonts, improved accessibility, icons and the updated <strong>matchaprika</strong> link</span></li>
	<li><strong>01-05-2024: </strong> <span>Fixed site unavailability (finally!!) + added <strong>rxqueen</strong></span></li>
	<li><strong>23-04-2024: </strong> <span>Added NEKO!!, the site <strong>Divsel</strong> and new misc post</span></li>
	<li><strong>22-04-2024: </strong> <span>Added two new sites: <strong>memer.online</strong> and <strong>crossigtown</strong> .neocities.org! Also some code improvements</span></li>
	<li><strong>20-03-2024: </strong> <span>You can now write me E2EE Emails using PGP.</span></li>
	<li><strong>11-02-2024: </strong> <span><strong>The code of this site is now open-source</strong>; visit it on <a href="https://gitlab.com/sadlylink/neocities-blog">GitLab</a></span></li>
	<li><strong>30-01-2024: </strong> <span>Added a recommendation page</span></li>
	<li><strong>27-01-2024: </strong> <span>I added some new buttons - also friendly reminder: <strong>check them out</strong></span></li>
	<li><strong>26-01-2024: </strong> <span><strong>New blog card layout!</strong> and some minor changes</span></li>
	<li><strong>25-01-2024: </strong> <span>Made some smaller improvements to the code + made the check-out box delay</span></li>
	<li><strong>24-01-2024: </strong> <span>Fuck yea <br><strong>I finally have a custom domain!</strong></span></li>
	<li><strong>22-01-2024: </strong> <span>Some changes to the code + improved contact options</span></li>
	<li><strong>29-12-2023: </strong> <span>Moved my short story to misc</span></li>
	<li><strong>22-12-2023: </strong> <span><strong>New post + guide</strong> + updated structure</span></li>
	<li><strong>30-11-2023: </strong> <span><strong>Changed Fonts + New Guide Series</strong></span></li>
	<li><strong>27-11-2023: </strong> <span><strong>New design!</strong></span></li>
	<li><strong>11-11-2023: </strong> <span>Updated <strong>ZELDA post and Webring</strong></span></li>
	<li><strong>04-11-2023: </strong> <span>Updated <strong>About-Page</strong>, links and images</span></li>
	<li><strong>05-10-2023: </strong> <span>New blog post, Cbox and link animation</span></li>
	<li><strong>04-10-2023: </strong> <span>Added Status Updater</span></li>
	<li><strong>30-09-2023: </strong> <span><strong>My first public Short Story!</strong> You can find it under Projects</span></li>
	<li><strong>25-09-2023: </strong> <span><strong>New Guestbook Link</strong>, updated CSS, fixed about page</span></li>
	<li><strong>12-09-2023: </strong> <span>Added some links, check them out on the right <strong>→</strong></span></li>
	<li><strong>31-08-2023: </strong> <span>New background and header + new About page</span></li>
	<li><strong>24-08-2023: </strong> <span>Added an update-log to the site</span></li>
</ul>
