@import "variables", "widgets/insert-webring";

//* Links move like on a conveyor 
.box {
    background-color: $dark-bg-color;
    border: 1px solid $accent-color;
    padding: 10px;
    height: 200px; // Set the desired height for the box
    overflow: hidden;
    position: relative;
    
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        animation: conveyor 15s linear infinite;
    }
    
    li {
        margin: 10px 0 10px 0;
    }

    li:hover {
        transform: scale(1.3);
    } // Links are highlighted
}

.scrollable {
    overflow-y: scroll;
    height: 200px; // Ensure the height matches the animated version
}

@keyframes conveyor {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-100%);
    }
}

// Hide the JavaScript-dependent content when JavaScript is disabled
.js-enabled {
    display: none;
}

// Style the button that is used to open and close the collapsible content
.collapsible {
    background-color: #000;
    color: $accent-color;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
}

// Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover)
.active, .collapsible:hover {
    background-color: $accent-color;
    color: #000;
}

.collapsible:focus {
    border: 2px solid $green-accent;
}

// Style the collapsible content. Note: hidden by default
.content-collapsible {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #000;
    // color: #ff00ff;
    // font-family: 'Courier New', Courier, monospace;
}

// https://www.w3schools.com/howto/howto_js_copy_clipboard.asp
.tooltip {
    position: relative;
    display: inline-block;
    margin-left: 5px;

    &:hover{ 
        .tooltiptext {
            visibility: visible;
            opacity: 1;
        }
    }
        
    .tooltiptext {
        visibility: hidden;
        width: 140px;
        background-color: $dark-bg-color;
        color: $focus-color;
        text-align: center;
        border-radius: 6px;
        padding: 5px;
        position: absolute;
        z-index: 1;
        bottom: 150%;
        left: 50%;
        margin-left: -75px;
        opacity: 0;
        transition: opacity 0.3s;
        
        &::after {
            content: "";
            position: absolute;
            top: 100%;
            left: 50%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: #555 transparent transparent transparent;
        }
    }
  }

// First used in my debate culture post: hover for more information
.note {
      position: relative;
      display: inline-block;
      margin-left: 5px;

      &:hover {
        .more-info { 
            visibility: visible;
            opacity: 1;
        }
      }
  }
.more-info{
    visibility: hidden;
    width: 150px;
    background-color: $dark-bg-color;
    color: $focus-color;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1; // Place the tooltip above everything else
    bottom: 150%;
    left: 50%;
    margin-left: -75px;
    opacity: 0; // Hide the tooltip by default
    transition: opacity 0.3s; // Fade in the tooltip
}
