$header-image: url("/assets/images/site-images/header.jpg");
// $body-bg-image: url("/assets/images/site-images/halloween.JPG");// "halloween.JPG
$body-bg-image: url("/assets/images/site-images/glitch-background.avif");//! "city.jpeg"
// $body-bg-image: url("/assets/images/site-images/books.jpg");

// List of colors used: #ff00ff, #00ff00, #f6ad43, lightgreen, #13092D, #43256E, #08031A, #5e4e8c, #fceaff, rgb(142, 210, 41)

// accent and h1,2,3 color
$accent-color: #ff00ff; // also often used for borders

$yellow-accent: #f6ad43;

$green-accent: #00ff00;

// lightgreen for outsticking text
$focus-color: lightgreen;

$dark-bg-color: #13092D;

// bg-color of <main>
$main-color: #43256E;

// <body> background
$body-bg-color: #08031A; 

$header-bg-color: #5e4e8c;

// color in body
$text-color: #fceaff;

$hover-color: rgb(142, 210, 41); // used for links and other transitioning when hovered (dropdown)

//* Components
// $dropdown-bg-color: black;
// $dropdown-hover-bg-color: white;
// $borders: $accent-color;
// $dropdown-hover-text-color: white;
