@import "variables";

/* Source for Info-Banner: https://codepen.io/dcode-software/pen/yLaJKYq */
.banner {
	background: #14092d; /*#21829f /#009579*/
  }
      
  .banner__content {
	padding: 10px 10px 0 10px;
	max-width: 550px;
	margin: 0 auto 0 auto;
	display: flex;
	align-items: center;
	font-size: medium;
  }
      
  .banner__text, .banner__text strong{
	flex-grow: 1;
	line-height: 1.4;
	color: lightgreen;
  }
      
  .banner__close {
	background: none;
	border: none;
	cursor: pointer;
  }
      
  .banner__text,
  .banner__close > span {
	color: lightgreen; /*#ffff*/
  }


  #demo {
	text-align: center;
	margin-top: 0px;
	color: antiquewhite;
}


//* Spoiler warning
.spoiler-banner {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #ffcccb; /* Light red background */
	color: black;
	padding: 10px;
	text-align: center;
	border-bottom: 1px solid red;
	box-sizing: border-box;
	z-index: 1000; // Ensure it stays on top
      
	.close-banner {
	  position: absolute;
	  right: 20px;
	  top: 50%;
	  transform: translateY(-50%);
	  cursor: pointer;
	  font-size: 24px;
	  font-weight: bold;
	}
      }
      
