// Chat Iframe Styling
// This block styles the chat iframe. It sets the width, height, top margin, overflow, and border.
#chatBox{
    height: 100%;
    width: auto;
    margin: 15px;
    overflow: absolute;
    border: 2px solid white;
    padding: 10px;
    background-color: #2D0B52;
    box-sizing: border-box;
    overflow: auto;
    background-attachment: fixed;
}

.d-container {
    display: flex;
    justify-content: center; // Center the chat box
    width: 100%;
}

.retro-box {
    background: linear-gradient(#43256E, #13092D);
    padding: 20px;
    border: 5px dashed #5e4e8c;
    width: 40%;
}

.retro-box h1 {
    color: #ff00ff;
    font-size: 24px;
}

.retro-box p {
    color: #00ff00;
}

.retro-box button {
    background-color: rgb(142, 210, 41);
    color: #13092D;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.retro-box button:hover {
    background-color: #f6ad43;
}

.chat-activation {
    width: 40%;
    background-color: #13092D;
    padding: 20px;
    color: #fceaff;
    font-size: 16px;
}

.chat-activation div {
    margin-bottom: 10px;
}

@media screen and (max-width: 600px) {
    .retro-box {
        width: 100%;
    }
    .chat-activation {
        width: 100%;
    }
}