a.guestbook {
	margin-bottom: -40px;
	height: 150px;
	width: 100%;
	display: inline-block;
	position: static;
	background-color: inherit; // Image + gif have no bg,so the bg color should stay same
	background-image: url("/assets/images/site-images/guestbook.png");
	background-repeat: no-repeat; // Image doesn't repeat
	// background-size: 100% 100%;
	background-position: center center;
	background-size: cover;

	&:hover{
		background-image: url("/assets/images/site-images/guest-book.gif");
		background-repeat: no-repeat;
		background-size: contain;
	} // changes to gif while hovering
}
// TODO: make the gif repeat (start over again), without the need to refresh the site
