//! Style by https://webring.koinuko.pink/ !
#webringdesc strong {color: #A62E79;}
#templateWebring a {color: #A62E79; font-weight:bold}
#templateWebring a:hover {font-weight:bold; color: #A62E79}
#templateWebring {
    width:186px !important;
    text-align:center !important;
    height:293px !important;
    border:2px solid #DD28A7 !important;
    margin: auto !important;
    background-image:url('/assets/images/site-images/webring-bg.png');
    background-size:cover
}
#webringiconbox {
    border:2px solid #DD28A7 !important;
    position:relative !important;
    overflow:hidden !important;
    height:100px !important;
    width:100px !important;
    left:41px !important;
    padding:0px !important;
    margin:0px !important;
    margin-top:8px !important;
    box-sizing:content-box !important;
    max-width:100% !important;
    justify-content:start !important;
    display:block !important;
    clear:none !important
}
#iconWebring {
    width:100px !important;
    overflow:hidden !important;
    height:100px !important;
    margin:0px !important;
    padding:0px !important;
    box-sizing:content-box !important
}
#webringdescbox {
    width:166px !important;
    height:100px !important;
    margin-left:10px !important;
    margin-top:6px !important;
    border:1px dashed #DD28A7 !important
}
#webringdesc {
    line-height: normal !important;
    font-weight:normal !important;
    padding:2px !important;
    width:160px !important;
    color:#452134 !important;
    font-family:Verdana !important;
    font-size:small !important;
    margin:auto !important;
    text-align:center !important;
    position:relative !important;
    top:50% !important;
    -ms-transform: translateY(-50%) !important;
    -webkit-transform: translateY(-50%) !important;
    transform: translateY(-50%) !important;
}
#webringlinks {
    line-height:normal !important;
    font-weight:normal !important;
    width:166px !important;
    margin:auto !important;
    height:57px !important;
    margin-top:6px !important;
    border:1px dashed #DD28A7 !important
}
#linkparaWebring {
    font-family:Verdana !important;
    color:#452134 !important;
    font-size:small !important;
    margin:auto !important;
    line-height: normal !important;
    text-align:center !important;
    margin-top:3px !important;
    padding:0px !important
}
// End of webring styles