//* Stauts Cafe Updates
#statuscafe {
	padding: .5em;
	background-color: midnightblue;
	border: 1px solid $focus-color;
	margin-top: 10px;
    }
#statuscafe-username {
	margin-bottom: .5em;
    }
#statuscafe-content {
	margin: 0 1em 0.5em 1em;
    }
