// TL;DR section for my blog posts
.tldr{
	background-color: $dark-bg-color; 
	border: 1px solid $accent-color; 
	color: $accent-color; 
	padding: 5px;
	width: auto;
	max-width: 700px;
	
	ul {
		padding: 0px 0px 0px 20px;
	}
	li {
		margin-bottom: 5px;
	}

	strong{
		color: $focus-color;
	}
}
