.note-box {
	position: fixed; /* Fix position on the page */
	top: 70px; /* Adjust to position correctly */
	right: 20px; /* Adjust for right spacing */
	width: 200px;
	background-color: #fffb88; /* Post-it note color */
	color: $main-color;
	padding: 10px; /* Padding inside the note box */
	box-shadow: 5px 5px 15px rgba(0,0,0,0.2); /* Shadow effect */
	z-index: 1000; /* Ensure it's above other elements */
	overflow: scroll;
	max-height: 255px;

	resize: both;
	ul {
		list-style-type: none;
		padding: 0;
		margin: 0;
	
		li {
			margin-bottom: 5px;
			line-height: 1.5;
		    }
	    }
}
    
.note-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 10px;
	
	button {
		border: none;
		background-color: transparent;
		color: $main-color;
		cursor: pointer;
	    }
}

/* Media Query for smaller screens */
@media screen and (max-width: 600px) {
    .note-box {
        position: fixed;
        top: 200px;
        right: 10px; /* More central on smaller screens */
        width: 50vw; /* width based on Viewport */
        box-shadow: none; /* Optional: shadow removed on smaller screens */
    }
}

//! No-JS version for the future!
// .note-box {
// 	position: fixed;
// 	top: 70px;
// 	right: 20px;
// 	width: 200px;
// 	background-color: #fffb88;
// 	color: black;
// 	padding: 10px;
// 	box-shadow: 5px 5px 15px rgba(0,0,0,0.2);
// 	z-index: 1000;
// 	overflow: auto;
// 	max-height: 255px;
//   }
  
//   .note-header {
// 	display: flex;
// 	justify-content: space-between;
// 	align-items: center;
// 	margin-bottom: 10px;
//   }
  
//   .toggle:not(:checked) ~ .content {
// 	display: none;
//   }
  
