// Format: %D-%M-%Y: update descirption <strong>sometimes highlighted</strong>

.update-log-box {
	
	background-color: $dark-bg-color;
	border: 1px solid $accent-color;
	padding: 10px;
	height: 200px; // sets how many updates you can see (1 is around 100px)
	overflow: auto;
}
      
.update-log-content {
	font-size: 14px;
	list-style: none;
	padding: 0;
	margin: 0;

	a {
		color: $focus-color;
		background-color: $dark-bg-color;

		&:hover {
			text-decoration: none;
		}
	}

	ul{
		padding: 0;
	}

	li{
		border: 1px solid #ccc; // Add border to each list item
		background-color: #ddd;
		color: $dark-bg-color;
		padding: 5px;
		margin: 5px 0;
		flex-direction: column; // Display Date above description
		// Align items to the left
		display: flex;
		align-items: flex-start; 
		strong {
			color: #003eaa;
		}
		span {
			margin-top: 5px; // Add space between date and description

			strong {
				color: $focus-color; 
				background-color: $dark-bg-color;
			}
		}
	}
}
