.search-404 {
	text-align: center;
	margin-top: 20px;
      
	.search-input {
	  border-radius: 20px; // Round edges
	  border: 2px solid $accent-color; // Use accent color for border
	  padding: 5px 10px;
	  width: 250px;
	  background-color: $body-bg-color;
	  color: $text-color;
	}
      
	.search-button {
	  border-radius: 20px;
	  background-color: $accent-color;
	  color: $text-color;
	  padding: 5px 15px;
	  border: none;
	  cursor: pointer;
	  transition: background-color 0.3s ease;
      
	  &:hover {
	    background-color: $hover-color;
	  }
	}
}
      
