// Styling for post metadata such as first published and last edited date
.post-metadata {
    color: $yellow-accent;
}

// Styling for the list of blog posts
.post-list {
    list-style: none;
    width: 100%;
}

// Styling for individual blog items
.blog-item {
    margin-bottom: 1.5rem;
}

// Styling for the card that contains blog post preview
.card {
    display: flex;
    align-items: center;
    background-color: #202022;
    color: #ffffffda;
    transition: box-shadow 150ms ease-in-out;

    // Styling for the card hover effect | first: rgba(0,0,0,0.5)
    &:hover {
        box-shadow: 0 0 10px rgba($color: #ffe30f, $alpha: 1.0);
    }
}

// Styling for the image container within the card
.card-image {
    width: 50%; // Increased width for images
    padding: 0.5rem;
    
    // Styling for the image within the image container
    img {
        width: 100%;
        height: auto;
        border-radius: 0.5rem;
    }
}


// Styling for the content within the card
.card-content {
    flex-grow: 1;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

// Styling for the link within the card
.card-link {
    text-decoration: none;
    color: inherit;
}

// Styling for the title within the card
.card-title {
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
}

// Styling for the date within the card
.date {
    color: #bb86fc;
    font-size: 0.85rem;
    text-decoration: underline;
}

// Styling for the tags within the card
.tags .tag {
    display: inline-block;
    background-color: #ED64F5;
    color: #202022;
    border-radius: 0.25rem;
    padding: 0.25rem 0.5rem;
    margin-right: 0.5rem;
    font-size: 0.75rem;
}

// Styling for the description within the card
.description {
    font-size: 0.9rem;
}

// Styling for the image container that holds the license info
.image-container {
    position: relative;
    display: inline-block;
}

// Styling for the info button within the image container
.info-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    background: none;
    cursor: pointer;
}

// Styling for the license info tooltip
.license-info {
    color: white;
    background-color: $dark-bg-color;
    border: 1px solid #ddd;
    border-radius: 4px;
    
    display: none;
    position: absolute;
    top: 40px;
    right: 10px;
    padding: 5px;
    z-index: 10;
    
    // Styling for the hover effect on the link within the license info tooltip
    a:hover {
        color: lightgreen;
    }
}

.content-container-posts {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap; // Allow wrapping for smaller screens
}

.text-content-posts {
    flex: 1;
    margin-right: 20px;
}

.image-container-posts {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%; // Ensure images don't overflow
}

.image-container-posts img {
    margin-bottom: 10px;
    width: 100%; // Make images responsive
    height: auto;
    max-height: 600px;
}

@media (max-width: 768px) {
    .content-container-posts {
        flex-direction: column; // Stack elements vertically on smaller screens
    }

    .text-content-posts {
        margin-right: 0;
        margin-bottom: 20px; // Add space between text and image
    }
}

.license-info {
    display: none;
}

.info-btn {
    background: none;
    border: none;
    cursor: pointer;
}

.retro-disclaimer {
    background: linear-gradient(#43256E, #13092D);
    padding: 8px 0 8px 0;
    border: 5px dashed #5e4e8c;
    color: #ff00ff;
    font-family: 'Press Start 2P', cursive;
    font-size: 14px;
    margin-bottom: 20px;
    text-align: center;

    :hover {
        color: lightgreen;
    }
}

.study-img, #sw-meme-img, .harmon {
    max-width: 600px;
    width: 100%;
    height: auto;
    border-radius: 0.5rem;
}

#sw-meme-img {
    max-width: 380px;
    // height: 100%;
    // width: auto;
}

#monica-img {
    max-height: 200px;
    width: auto;
}

.harmon {
    max-width: 350px;
}

table {
    border-collapse: collapse;
  }

  th, td {
    border: 1px solid black;
    padding: 8px;
  }

  th {
    text-align: left;
  }

/**

//! TEST
.content-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.text-content {
    flex: 1;
    margin-right: 20px;
}

.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.image-container img {
    margin-bottom: 10px;
}

.license-info {
    display: none;
    margin-top: 10px;
    font-size: 12px;
}

.retro-info-btn {
    background-color: #f39c12; // Retro color
    border: 2px solid #d35400; // Retro border 
    color: white;
    font-family: 'Press Start 2P', cursive; // Retro font 
    font-size: 14px;
    padding: 5px;
    cursor: pointer;
    position: absolute;
    bottom: 10px; // Adjust position 
    right: 10px; // Adjust position 
    z-index: 10;
    text-align: center;
    width: 24px;
    height: 24px;
    line-height: 24px;
    border-radius: 50%;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.retro-info-btn:hover {
    background-color: #d35400;
}

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
**/
