@import "widgets/todo-box";
@import "widgets/chat-box";

// Still under construction
.retro-text {
    font-family: 'Courier New', Courier, monospace;
    color: $accent-color;
    text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    background-color: #09ee09;
    padding: 10px;
    border: 2px solid #000;
}

.split-view-container {
	display: flex;

	// change the layout to column on small screens
	@media (max-width: 600px) {
		flex-direction: column;
	  }
}
    
.left-panel, .right-panel {
	flex: 1; // Ensures that both panels take up equal space
	padding: 10px;
	ul {
		list-style-type: "✊";
		padding-left: 13px;
	}
}

// Snowflake Iframe Styling
// This block styles the Snowflake iframe. It sets the width, height, overflow, and border.
.snowflakeTor {
    border: 0;
    width: 320px;
    height: 240px;
    overflow: hidden;
}


//* Copy Button Styling
// These blocks style the copy buttons. They set the display, margin, width, font size, background color, text color, and height.
.ccButton {
    display: flex;
    margin: 0 auto;
    width: 300px;
}
.copyButton {
    width: 100px;
    font-size: 10px;
    background-color: $dark-bg-color;
    color: $focus-color;
    height: auto;
    margin: 0 0 10px 5px;
}


.results {
	width: 200px;
	background-color: transparent;
	color: #fff;
	display: block;
	padding: 10px;
	margin: 0 auto;
	// font-family: 'times';
	// font-size: 15pt; 

	.zebra{
		max-width: 160px;
		border: 1px solid; 
		transition: transform .7s ease-in-out; // Animation lasts 0.7 seconds; starts slow and ends slow
		
		&:hover {
			transform: scale(1.3) rotate(360deg); // Zebra rotates and gets bigger
		}
	}
}
