---
---
@import "base/typography", "pages/404";

body {
    background-color: $body-bg-color;
    color: $text-color;
    font-family: 'Courier New', monospace;
}

h1, h2 {
    color: $accent-color;
    text-align: center;
}

h1 {
    font-size: 4em; // Large, eye-catching
}

h2 {
    font-size: 2em; // Smaller than h1 but still prominent
}

p, a {
    color: $text-color;
    text-align: center;
    font-size: 1em;
}

a {
    color: $hover-color;
    text-decoration: none;

    &:hover {
        color: $accent-color;
        text-decoration: underline;
    }
}

.center-image {
	display: block;
	margin-left: auto;
	margin-right: auto;
	// width: 50%; /* or any other width */
}
