---
---

@import "base/typography";

strong {
    font-weight: bold;
    color: $text-color;
    background-color: rgba(255, 0, 255, 0.2); /* Light accent background */
    // font-family: 'Cursive', sans-serif; /* Use a cozy font */
}

body {
    font-family: 'Courier New', monospace;
    font-size: 14px;
    background: rgb(111,130,226);
    background: radial-gradient(circle, rgba(111,130,226,1) 41%, rgba(228,94,217,1) 75%); // Gradiant background - similar to my button
    background-attachment: fixed;
    color: $text-color;

    a{
        color: $yellow-accent; 
        font-weight: bold;

        &:hover {
            text-decoration: none;
        }
    }
}

.about-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.card {
    background-color: $header-bg-color;
    border: 2px solid $accent-color;
    border-radius: 15px; /* Rounded corners */
    padding: 20px;
    margin: 15px 0; /* Space between cards */
    width: 90%; /* Adjust width as needed */
    max-width: 700px; /* Limit max width for larger screens */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Soft shadow for depth */
    transition: transform 0.3s; /* Smooth hover effect */

    &:hover {
        transform: scale(1.02); /* Slightly enlarge on hover */
    }

    h2 {
        color: $yellow-accent; /* Yellow accent for headings */
    }
}

.aLinkToThePast {
    a {
        color: white; /* Set the link color to white */
        text-decoration: none; /* Remove the underline from the link */
        margin: 10px 10px 5px; /* Set the margin around the link */
        transition: transform 0.3s ease-in-out; /* Add a smooth transition effect */
        display: inline-block; /* Display the link as an inline block element */
        position: relative; /* Set the position to relative for absolute positioning of child elements */
    }

    a:hover {
        transform: scale(1.5); /* Scale the link on hover */
        color: white; /* Change the link color on hover */
    }
}

.about-me {
    #study{
        background-color: black; 
        color: lightgreen;
    }

    #pronouns{
        font-weight: bold;
        color: #ff6b6b;
    }

    #interests{
        font-style: italic;
        font-weight: bold;
        color: lightseagreen;
    }

    a {
        transition: transform 0.3s; 
        display: inline-block;

        &:hover{
            transform: scale(1.1);
        }
    }
    li{
		padding-bottom: 8px;
		list-style-type: "☕️ "; // Use a coffee cup icon as the list item marker
	}

	//* Circular Avatar
	.avatar {
		border-radius: 50%; // Makes the image a circle
		width: 100px; // Adjust the width as needed 
		height: 100px; // Adjust the height as needed 
		margin-right: 20px; // Adds space between the image and text 
		object-fit: cover; // Scale the image to cover the container while maintaining aspect ratio
		cursor: pointer; // Add a pointer cursor to indicate interactivity 
	  }
	  .avatar:focus {
		outline: 2px solid rgb(255, 208, 0); // Add a yellow outline when the avatar is focused
	}
	  
	// CSS for the container
	.avatar-container {
		display: flex; // Use flexbox to position the image and list side by side
		align-items: center; // Vertically center the content
		
		button {
			background-color: transparent; // Make the button background transparent
			border: none; // Remove the button border
		}
	}
}

.key-section{
    margin-top: 20px;

	li{
		padding-bottom: 8px;
		list-style-type: "🔑 "; // Use a key icon as the list item marker
	}
}

.quotes{
    #my-quotes{
        text-decoration: none;
        color:#aaa;
    }
    
    #gr_quote_body {
        border: 2px solid #EBE8D5;
        border-radius:10px;
        padding: 7px 7px 0px 7px;
    }
}

.navbar {
    background-color: $header-bg-color; /* Match the card background */
    padding: 10px 20px; /* Padding for the navbar */
    border-radius: 15px; /* Rounded corners */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Soft shadow for depth */
    margin-bottom: 20px; /* Space below the navbar */
}

.navbar ul {
    list-style: none; /* Remove default list styling */
    display: flex; /* Use flexbox for horizontal layout */
    justify-content: space-around; /* Evenly space items */
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
}

.navbar li {
    margin: 0 10px; /* Space between items */
}

.navbar a {
    color: $text-color;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s; /* Smooth color transition */
}

.navbar a:hover {
    color: $yellow-accent;
    text-decoration: underline;
}

.kawaii{
    max-width: 700px;
    margin: 20px auto;
    margin-bottom: 0px;
	background-color:  rgba(252, 228, 236, 0.65);
	text-align: center;
	padding: 10px 0px 10px 0px;
	
	a {
		display: inline-block;
		margin: 5px;
		padding: 10px 20px;
		text-decoration: none;
		color: #fff;
		background-color: #ff4081;
		border-radius: 20px;
		box-shadow: 0 4px #d81b60;
		transition: all 0.3s ease;
	}
	a:hover {
        color: #fff;
		background-color: #f50057;
		box-shadow: 0 4px #c51162;
	}
}

.public-key {
    display: block;
    background-color: $header-bg-color;
    border: 2px solid $accent-color;
    border-radius: 15px;
    padding: 10px;
    margin: 10px 0;
    width: 90%;
    max-width: 700px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    overflow-x: auto;
    white-space: pre;
    font-size: 14px;
    font-family: 'Courier New', monospace;
    font-weight: bold;
    word-break: break-all;
}


.footer {
    background-color: $header-bg-color; /* Match the card background */
    color: $text-color;
    padding: 20px;
    text-align: center; /* Center the text */
    border-top: 2px solid $accent-color;
    border-radius: 10px;
    // max-width: 650px; /* Limit the width of the footer */
    // margin: 0 auto; /* Center the footer */
    margin-top: 20px;
    width: auto;
}

.footer-content {
    max-width: 600px; /* Limit the width of the footer content */
    margin: 0 auto; /* Center the footer content */
    
    a {
		color: $yellow-accent;
		text-decoration: none;
		transition: color 0.3s; /* Smooth color transition */

		&:hover {
		    color: $accent-color; /* Change color on hover */
		    text-decoration: underline; /* Underline on hover */
		}
    }
    
    img {
        margin-top: 10px; /* Space above the image */
        width: 100px; /* Adjust width as needed */
    }
}

.scrollable-images {
    max-width: 700px;
    width: 100%;
    height: auto;
    overflow-x: auto; /* Enable horizontal scrolling */
    display: flex;
    flex-direction: row; /* Arrange images horizontally */
    align-items: center;
    gap: 10px; /* Space between images */

    img {
        height: 17px;
        padding: 10px 0px;
        transition: transform 0.3s ease-in-out; /* Smooth transition for the hover effect */
    
        &:hover {
            transform: scale(1.2); /* Scale the image up on hover */
        }
    }
}

/* Responsive Styles */
@media (max-width: 1043px) {
    body {
        font-size: 12px; /* Decrease font size on smaller screens */
    }

    .card {
        padding: 15px; /* Reduce padding in cards */
        margin: 10px 0; /* Reduce margin between cards */
    }

    .about-page {
        padding: 10px; /* Reduce padding for the about page */
    }

    .avatar {
        width: 80px; /* Smaller avatar size */
        height: 80px; /* Smaller avatar size */
        margin-right: 10px; /* Reduce margin */
    }

    .navbar ul {
        flex-direction: column; /* Stack items vertically */
        align-items: center; /* Center items */
    }

    .navbar li {
        margin: 5px 0; /* Space between items */
    }
}

@media (max-width: 480px) {
    body {
        // font-size: 10px; /* Further decrease font size on very small screens */
    }

    .card {
        width: 95%; /* Make cards take more width on small screens */
    }

    .aLinkToThePast a {
        margin: 5px; /* Adjust link margins */
    }

    .navbar {
        padding: 10px; /* Reduce padding for the navbar */
    }

    .navbar ul {
        padding: 0; /* Remove padding from the list */
    }
}

/* Additional Responsive Styles */
@media (max-width: 320px) {
    body {
        // font-size: 8px; /* Further decrease font size on extra small screens */
    }

    .card {
        width: 100%; /* Make cards take full width on extra small screens */
    }

    .avatar {
        width: 60px; /* Smaller avatar size on extra small screens */
        height: 60px; /* Smaller avatar size on extra small screens */
        margin-right: 5px; /* Reduce margin on extra small screens */
    }

    .navbar {
        padding: 5px; /* Reduce padding for the navbar on extra small screens */
    }

    .navbar li {
        margin: 3px 0; /* Space between items on extra small screens */
    }
}
