--- 
--- 
@import "base/_typography";

html, body {
    margin: 0;
    background: $body-bg-color url(/assets/images/gifs/stars.gif) repeat;  // https://goblin-heart.net/sadgrl/webmastery/downloads/tiledbgs
}

main {
    display: flex;
    font-family: 'Courier New', monospace;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0 20px;
    text-align: center;
    p {
        color: $text-color;
        font-size: 20px;
        line-height: 1.5;
    }
    h1 {
        font-size: 25px;
    }
    strong {
        color: $accent-color;
    }
    a {
        color: $accent-color;
        text-decoration: none;
        font-size: 1.5em;  // Make the links larger
        text-shadow: 0 0 5px $accent-color;  // Add a glow effect
        transition: color 0.5s ease-in-out;  // Smooth color transition on hover
        &:hover {
            color: mix($accent-color, #ffbcff, 5%);  // Mix with white to lighten the color on hover
            text-decoration: underline;
        }
    }
}
