--- 
---
@import "base/typography", "base/global", "widgets/chat-box", "widgets/old-comment";

/* Main */

// Additional retro-inspired colors
$cactus-border-width: 1px;
$cactus-border-radius: 5px;
$cactus-text-color: #000;
$cactus-text-color--soft: #888;
$cactus-background-color: #fff;
$cactus-background-color--strong: #ccc;
$cactus-border-color: #999;
$cactus-box-shadow-color: #333;
$cactus-button-color: #333;
$cactus-button-color--strong: #555;
$cactus-button-color--stronger: #777;

body {
    font-family: "Courier New", monospace;
    font-size: 14px;
    margin: 0;
    background: #08031A;
    background-position-x: 0%;
    background-position-y: 0%;
    background-attachment: scroll;
    background-image: none;
    background-size: auto;
    background-size: 65px;
    color: #fceaff;
    background-image: url("/assets/images/gifs/stars.gif");
    background-position: center center;
    background-attachment: fixed;
}

.cactus-container {
    background-color: #33313186;
    width: auto;
    border: $cactus-border-width solid $cactus-border-color;
    border-radius: $cactus-border-radius;
    box-shadow: 0 0 10px $cactus-box-shadow-color;
    padding: 20px;
    margin: 70px 0px 20px 0px;
}
.cactus-editor-textarea, .cactus-editor-name input {
    background-color: $dark-bg-color;
    color: $text-color;
    border: $cactus-border-width solid $cactus-border-color;
    border-radius: $cactus-border-radius;
    padding: 10px;
    width: 100%;
}
.cactus-editor-buttons .cactus-button {
    background-color: $cactus-button-color;
    color: $text-color;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin: 5px 10px 0px 0px;
    
    &:hover {
        background-color: $cactus-button-color--strong;
    }
    &:active {
        background-color: $cactus-button-color--stronger;
    }
}
.cactus-comments-container {
    background-color: $dark-bg-color;
    color: $text-color;
    border: $cactus-border-width solid $cactus-border-color;
    border-radius: $cactus-border-radius;
    padding: 20px;
    margin: 20px 0;

    &:hover {
        box-shadow: 0 0 10px #f6ad43;
    }
}

.cactus-editor-textarea, .cactus-editor-name {
    background-color: #08031A;
    color: #fceaff;
    border-radius: 5px;
    padding: 10px;
    width: 100%;

    &:hover {
        box-shadow: 0 0 10px #f6ad43;
    }

    input {
        background-color: #6f6c6c21;
    }    
}

.no-js-info {
    margin: 70px 0px;
}

/* Add this to your existing guestbook.css */
#chatBox {
    display: none;
}

.typewriter {
    overflow: hidden; // Ensures the text is initially hidden
    color: $green-accent;
    font-size: 28px;
    border-right: .15em solid $green-accent; // Creates the typewriter cursor effect
    white-space: nowrap; // Keeps the text in one line
    margin: 20px 0 20px 0; // Centers the text horizontally
    letter-spacing: .15em; // Adjust as needed
    text-align: center; // Centers the text horizontally
    animation: typing 3.5s steps(40, end), blink-caret .75s step-end infinite;
    position: absolute; // Positions the text absolutely
    top: 40px; // Adjust the distance from the top
    left: 50%; // Positions the text at the center horizontally
    transform: translateX(-50%); // Centers the text horizontally
}
  
/* Keyframes for the typing animation */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

@media screen and (max-width: 600px) {
    .typewriter {
        font-size: 20px;
    }
}

.info-footer {
    text-align: center;
    padding: 10px;
    background-color: #08031A;
    color: #fceaff;
    border-top: 1px solid $cactus-border-color;
    margin-top: 20px;

    a {
        color: $green-accent;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}
