---
---

@import 'list/lists', 'variables', 'layout/footer';

/* Retro-Futuristic Theme for Lists Page */

/* General Styles */
body {
    background: rgb(67,37,110);
    background: radial-gradient(circle, rgba(67,37,110,1) 60%, rgba(147,3,147,1) 88%); 
    // background-repeat: no-repeat;·
    background-repeat: repeat;
    background-attachment: fixed;
    // make background fill the whole screen
    background-size: cover;
    color: $border-green; /* Neon text color */
    font-family: 'Courier New', Courier, monospace; /* Retro-futuristic font */
    margin: 0;
    padding: 0;
}

/* Header Styles */
#headerArea {
    background-color: $background; /* Dark background */
    padding: 20px;
    text-align: center;
    border-bottom: 2px solid $border-green; /* Neon border */
}

/* Navbar Styles */
#navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

#navbar ul li {
    margin: 0 10px;
}

#navbar ul li a {
    color: $border-green; /* Neon color */
    text-decoration: none;
    padding: 10px 20px;
    border: 2px solid $border-green;
    border-radius: 5px;
    background-color: $background;
    box-shadow: 0 0 10px $border-green, 0 0 20px $border-green, 0 0 30px $border-green;
    transition: all 0.3s ease;
    text-transform: uppercase; /* Retro-futuristic style */
}

#navbar ul li a:hover {
    color: $background;
    background-color: $border-green;
    box-shadow: 0 0 20px $border-green, 0 0 30px $border-green, 0 0 40px $border-green;
}

.list-nav{
	font-family: monospace, cursive, sans-serif; // Retro-futuristic font
    // background-color: rgba(26, 26, 26, 0); // Dark background with reduced opacity
	text-align: center;
	padding: 12px 0px 12px 0px;
	// border: 1px solid $background;
	// border-radius: 5px;
	
	a {
		display: inline-block;
		margin: 10px;
		padding: 10px 20px;
		text-decoration: none;
		color: $border-green; // Neon color
		background-color: $background;
		border: 2px solid $border-green;
		border-radius: 5px;
		box-shadow: 0 0 10px $border-green, 0 0 20px $border-green, 0 0 30px $border-green;
		transition: all 0.3s ease;
		text-transform: uppercase; // Retro-futuristic style
	}
	a:hover {
		color: $background;
		background-color: $border-green;
		box-shadow: 0 0 20px $border-green, 0 0 30px $border-green, 0 0 40px $border-green;
	}
}


/* Main Content Styles */
main {
    padding: 20px;
    text-align: center;
}

h1, h2, h3 {
    color: $border-pink; /* Different neon color for headings */
    text-shadow: 0 0 10px $border-pink, 0 0 20px $border-pink, 0 0 30px $border-pink;
}

a {
    color: $border-green; /* Neon color */
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: $border-pink; /* Different neon color on hover */
}

/* List Styles */
ul.lists {
    list-style: none;
    padding: 0;
}

ul.lists li {
    background-color: $background; /* Dark background */
    border: 2px solid $border-green; /* Neon border */
    box-shadow: 0 0 10px $border-green, 0 0 20px $border-green, 0 0 30px $border-green; /* Glowing effect */
    margin: 10px;
    padding: 10px;
    transition: all 0.3s ease;
}

ul.lists li:hover {
    box-shadow: 0 0 20px $border-green, 0 0 30px $border-green, 0 0 40px $border-green; /* Enhanced glowing effect on hover */
}

.lists {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    li {
        width: calc(50% - 20px); /* Two items per row */
        display: flex;
        align-items: center;
        font-family: monospace, 'Courier New', Courier, sans-serif; /* Retro-futuristic font */

        a {
            color: $border-green; /* Neon color */
            text-decoration: none; /* Remove underline */
            text-transform: uppercase; /* Retro-futuristic style */
            transition: color 0.3s ease;

            &:hover {
                color: $border-pink; /* Different neon color on hover */
            }
        }
    }
    
    #mangalist {
        width: auto;
    }
}

/* Footer Styles */
#footer {
    background-color: $background; /* Dark background */
    color: $border-green; /* Neon color */
    text-align: center;
    width: auto;
    padding: 20px;
    border-top: 2px solid $border-green; /* Neon border */
    border-radius: 10px;
	
	a {
	    color: $border-green; /* Neon color */
	    text-decoration: none;
	    transition: color 0.3s ease;
		
		&:hover {
			color: $border-pink; /* Different neon color on hover */
		}
	}
}

/* Responsive Design */
@media (max-width: 1241px) {
    #navbar ul {
        flex-direction: column;
        align-items: center;
    }

    #navbar ul li {
        margin: 10px 0;
    }

    #navbar ul li a {
        font-size: 14px; /* Smaller font size */
        padding: 5px; /* Add padding for better touch targets */
        border: none; /* Add border for better visibility */
        // border-radius: 5px; /* Rounded corners */
    }

    .lists {
        flex-direction: column;
        align-items: center;

        li {
            width: 100%;
        }
    }

    .list-nav a {
        display: block;
        margin: 10px 0;
    }
}
