---
---
// main scss for style.scss


// Elements on the sidebars
@import "base/typography", "widgets/guest-book", "widgets/update-log", 
"utils/utilities", "layout/navbar", "layout/dropdown", "layout/layout", "pages/blog";

body{
	background-color: #08031A;
	font-family: 'Courier New', monospace;
	color: #fceaff;
	font-size: 15px;
}

a{
	color: #ED64F5;

	&:hover {
		text-decoration: none;
	}
}

.entry {
	display: none;
	padding: 10px;
	
	&:target {
		display:block;
	}
}

.box{
	background-color: #241445;
	right: 1px;
	border: 1px solid #ED64F5;
	padding: 10px;
	height: 200px; /* Set the desired height for the box */
	width: 340px;
	overflow: auto;
	position: relative;
	color: #fceaff;
}

#flex {
	display: flex;
	justify-content: space-between;
} 

#container {
	max-width: 1100px;
	margin: 0 auto;
}

#container a {
	color: #ED64F5;
	font-weight: bold;
}

#statuscafe {
	padding: .5em;
	background-color: midnightblue;
	border: 1px solid #fceaff;
	margin-top: 10px;
}

#statuscafe-username {
	margin-bottom: .5em;
}
#statuscafe-content {
	margin: 0 1em 0.5em 1em;
}

@media screen and (max-width: 768px) {
	.box {
        width: 100%;
        height: auto; /* Adjust height for better responsiveness */
        margin-bottom: 20px; /* Add space between boxes */
    }

    #flex {
        flex-direction: column;
        align-items: center; /* Center align items */
    }
}
