---
---
.cactus-editor-textarea, .cactus-editor-name {
    background-color: #08031A;
    color: #fceaff;
    border: 2px solid #43256E;
    border-radius: 5px;
    padding: 10px;
    width: 100%;

    &:hover {
        box-shadow: 0 0 10px #f6ad43;
    }
}

.cactus-editor-textarea {
    margin: 10px 0;
}