--- 
--- 

@import 'base/typography', 'base/global', 'utils/blockquote';

/* Basic page settings */
body {
    background-color: #202124; /* Dark gray background */
    background-image: none;
    // color: #E2E2E2; /* Soft white text color */
    // font-family: 'VT323', monospace; /* Retro computer font */
    margin: 0;
    padding: 20px;
    line-height: 1.6;
}

#tldr {
    background-color: #000000;
    color: #FFFFFF;
    font-style: bold;
    border: 2px solid $accent-color;
    padding: 10px;
    span {
        color: $green-accent;
    }
}

/* Container for the privacy policy */
.container {
    width: 80%;
    margin: auto;
    background-color: #2A2B2E; /* Slightly lighter gray for the content box */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Subtle shadow for depth */
}

/* Links */
a {
    color: #FF8C00; /* Retro orange for links */
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Buttons and interactive elements */
button {
    background-color: #333;
    color: #FFF;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    font-family: 'Press Start 2P', cursive; /* Pixelated button font */
}

button:hover {
    background-color: #555;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .container {
        width: 95%;
        padding: 10px;
    }
}
