---
---
@import "variables";

body {
  font-family: 'Courier New', monospace;
  background-color: #000;
  background-image: url("/assets/images/site-images/tv-glitch.gif"); // Add a TV glitch background image https://tenor.com/de/view/tv-glitch-no-signal-gif-16431868
  color: $green-accent; // Green text color
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

p{
 margin: 5px 0;
 color: $green-accent;
}

input {
 background-color: transparent;
 color: $green-accent;
 padding: 8px;
 font-family: 'Courier New', monospace;
 border: none;
 border-radius: 3px;
}

.enter-button{
  background-color: black;
  color: $green-accent;
  border-radius: 5px;
  border: #000;
  box-shadow: 0 0 10px rgba(0, 255, 0, 0.5);
  cursor: pointer;
  text-decoration: none;
  font-family: 'Verdana', sans-serif; // Verdana is a web-safe font
  font-size: 14px;
  font-weight: lighter; // Make the font thinner
  padding: 5px 10px; // Add padding to create space between text and box
}

.js-button {
  display: none; // Hide the button by default
}

#rabbit-hole{
  background-color: black;
  color: $green-accent;
  border: 5px solid #000;
  box-shadow: 0 0 10px rgba(0, 255, 0, 0.5);
  cursor: pointer;
}

.terminal {
  background-color: #000;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 255, 0, 0.5);
  width: 600px;
  height: 400px;
  overflow: auto;
  position: relative;
  resize: both;
  cursor: grab;
}

.terminal-header {
  background-color: #222;
  display: flex;
  padding: 5px;
}

.terminal-header-button {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-right: 5px;
}

.terminal-body {
  padding: 20px;
  overflow-y: auto; // Enable vertical scrollbar
}


.typewriter {
  overflow: hidden; // Ensures the text is initially hidden
  border-right: .15em solid $green-accent; // Creates the typewriter cursor effect
  white-space: nowrap; // Keeps the text in one line
  margin: 0 auto; // Centers the text horizontally
  letter-spacing: .15em; // Adjust as needed
  text-align: center; // Centers the text horizontally
  animation: typing 3.5s steps(40, end), blink-caret .75s step-end infinite;
  position: absolute; // Positions the text absolutely
  top: 20px; // Adjust the distance from the top
  left: 50%; // Positions the text at the center horizontally
  transform: translateX(-50%); // Centers the text horizontally
}

/* Keyframes for the typing animation */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* Keyframes for the blinking cursor */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: $green-accent }
}

@media screen and (max-width: 600px) {
  .terminal {
    width: 100%; /* Adjust width for smaller screens */
    height: auto; /* Adjust height */
  }
  .terminal-body {
    padding: 10px; /* Adjust padding for smaller screens */
  }
  .typewriter {
    font-size: 1em; /* Adjust font size for smaller screens */
  }
}

.static-background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('/assets/images/site-images/glitch-background.avif'); // Add a glitch background image
  background-size: cover;
  z-index: -1; /* Behind everything else */
  display: none; /* Hidden by default */
}

.toggle-animation-checkbox {
  display: none;
}

.toggle-animation-label {
  position: relative;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: black;
  color: lightgreen;
  cursor: pointer;
}

.toggle-animation-checkbox:checked ~ .static-background {
  display: block; // Show static image when checkbox is checked
}

a {
  color: $green-accent;
}
