---
---
@import "main", "utils/code";

// Button Styling
// This block styles the buttons in the document. It sets the border radius, text color, and background color.
button {
    border-radius: 5px;
    color: #e8e6e3; 
    background-color: #16181a
}

// Responsive Design Styles
// These blocks adjust the layout for screens with a maximum width of 800px. They change the order and width of elements and allow for wrapping.
@media only screen and (max-width: 800px) {
    #flex {
        flex-wrap: wrap;
    }
    aside {
        width: 100%;
    }
    main {
        order: 1;
    }
    #leftSidebar {
        order: 2;
    }
    #rightSidebar {
        order: 3;
    }
    #navbar ul {
        flex-wrap: wrap;
    }
} 

// Imood Button Styling
// This block styles the Imood button. It removes the border.
.ImoodButton {
    border: 0;
}
