---
---

body {
    margin: 0;
}

#container {
    position: relative;
    width: 100vw;
    height: 100vh;
}

.draggable {
    /* position: absolute; */
    cursor: grab;
}

.buttons li{
    float: inline-start;
    margin: 20px 20px 6px 20px;
}

/* Media queries */
@media (min-width: 600px) {
    .buttons {
        display: flex;
        flex-wrap: wrap;
    }
    
    .buttons li {
        flex: 1 0 128px; /* Grow, don't shrink, and start at 200px wide */
        margin: 20px 20px 6px 20px;
    }
}

.button-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: auto;
	padding: 35px 100px 35px 100px;
}

.button-stuff {

}
