---
---
body {
    background-color: #1e1e1e;
    color: #c5c8c6;
    font-family: 'Courier New', Courier, monospace; // Monospaced font
    line-height: 1.5; // Improve readability
    padding: 20px;
}

h1, h2, h3 {
    color: #66d9ef; // Light blue for headings
    text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

pre {
    background-color: #272822;
    border: 1px solid #f8f8f2; /* Light border */
    padding: 10px;
    overflow-x: auto; /* Allow horizontal scrolling */
    
    &:hover {
    	box-shadow: 0 0 10px rgba($color: #ffe30f, $alpha: 1.0);
    }
}

code {
    background-color: #272822;
    color: #f8f8f2;
    padding: 2px 4px;
    border-radius: 4px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.9em; // Slightly smaller font size
	box-shadow: rgba(255, 0, 255, 0.45); //0 -0.625em 0 0 rgba(255, 0, 255, 0.45);
	text-decoration: none;
}

.c { color: #3596FF; } // command
.s { color: #28a745; } // string
.o { color: #ff606f; } // option

a {
    color: #ff00e3; // Pink for links
    text-decoration: none;

	&:hover {
	    text-decoration: underline; /* Underline on hover */
	}
}

.email {
    color: #ff00e3; // Pink color for email links
    text-decoration: none;
    font-weight: bold;
    border-bottom: 1px dotted #ff00e3; // Add a dotted underline
    transition: color 0.3s, border-bottom 0.3s; // Smooth transition for hover effect

	&:hover {
	    color: #66d9ef; /* Change color on hover */
	    border-bottom: 1px solid #66d9ef; // Solid underline on hover
	}
}

@media (max-width: 600px) {
    body {
        padding: 10px; /* Less padding on smaller screens */
    }
}

