//* Blockquotes Styling
// This block styles the blockquotes in the document. It adds a background color, a left border, and padding.
// The "quotes" property specifies the quotation marks for embedded quotations.
blockquote {
    background: #535353;
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019"; // Specifies the type of quotes to use for quotations

    // This block styles the opening quote in the blockquote. It sets the color, size, and position of the quote.
    &:before {
        color: #ccc;
        content: open-quote;
        font-size: 4em;
        line-height: 0.1em;
        margin-right: 0.25em;
        vertical-align: -0.4em;
    }

    // This block ensures that the text within the blockquote is displayed inline.
    p {
        display: inline;
    }
}