// Define color variables
$dark-bg-color: #1e1e1e;
$text-color: #d4d4d4;
$punctuation-color: #d4d4d4;
$operator-color: #c586c0;
$keyword-color: #569cd6;
$name-color: #dcdcaa;
$string-color: #ce9178;
$comment-color: #6a9955;
$built-in-color: #4ec9b0;
$function-color: #dcdcaa;
$tag-color: #4ec9b0;
$attribute-color: #4ec9b0;
$class-color: #9cdcfe;

// Syntax Highlighting Styles
.highlighter-rouge {
    background-color: $dark-bg-color;
    color: $text-color;
    border-radius: 10px;

    .highlight {
        overflow: auto; // Add scrollbars for overflow content
        padding: 0px 10px;
    }
}

.language-cpp, .language-javascript, .language-python, .language-html {
    border-radius: 10px;
    border: 1em thin #535353;
    padding: 5px;

    .p { color: $punctuation-color; }
    .o { color: $operator-color; }
    .k { color: $keyword-color; }
    .n { color: $name-color; }
    .s { color: $string-color; }
    .c1 { color: $comment-color; }
    .nb, .nt, .mi, .si, .sa { color: $built-in-color; }
    .nf, .mf { color: $function-color; }
    .cl { color: $class-color; }
}

.language-cpp {
    .cp, .cpf { color: $keyword-color; }
    .kt { color: $keyword-color; }
    .nv { color: $built-in-color; }
}

.language-javascript {
    .dl { color: $class-color; }
    .nx { color: $class-color; }
    .kd { color: $operator-color; }
}

.language-python {
    .sh { color: $string-color; }
    .kn { color: $built-in-color; }
    .nc { color: $keyword-color; }
    .ow { color: $operator-color; }
}

.language-html {
    .nt { color: $tag-color; }
    .na, .ni { color: $attribute-color; }
    .c { color: $comment-color; }
}

.language-bash {
    .nv { color: $built-in-color; }
    .nt { color: $tag-color; }
    .o { color: $operator-color; }
}