// Language Switch Styling
// This block styles the language switch. It sets the text alignment for the links within the switch.
// TODO: improve look (maybe button style/ real switch)
#language a{
    background-color: #f8f9fa;
    color: #333;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 5px;
    border: 1px solid #333;
    transition: background-color 0.3s ease;
}

#language a:hover {
    background-color: #333;
    color: #f8f9fa;
}