---
layout: none
title: Lists
permalink: /misc/lists.html
description: rankings and lists for my favourite books, movies and series
keywords: anime, ranking, tierlist, list, goodreads, movies, series, tv, fav, favourites, personal, theatre
csp: default-src 'self'; img-src 'self' https://i.gr-assets.com; script-src 'self' 'unsafe-inline'; style-src 'self' 'unsafe-inline';
style: lists.css
---

{% include header.html%}
<body>
  {% include navbar.html%}
  <div id="flex">  
  <main>

  <h1>Lists</h1>

  <nav class="list-nav">
    <a href="#books">Books</a>
    <a href="#video-games">Video Games</a>
    <a href="#movies-and-series">Movies & Series</a>
    <a href="#theater">Theater</a>
  </nav>

  <h2 id="books">Books</h2>
  <hr>
  <ul class="lists">
    <li id="mangalist">
      <a href="https://myanimelist.net/mangalist/sadlyLink" target="_blank" rel="noopener noreferrer">Manga List</a>
    </li>
  </ul>
  <small>Images and links by Goodreads (links are being replaced by OpenLibrary)</small>
  <br>
  <br>
  <button type="button" class="collapsible">All Time Favourite Books</button>
  <div class="content-collapsible">
    <h2>
      My all time favourite books montage
    </h2>
    <div class="gr_grid_container">
      <div class="gr_grid_book_container"><a title="Bird by Bird" rel="nofollow" href="https://www.goodreads.com/book/show/12543.Bird_by_Bird"><img alt="Bird by Bird" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1631772636l/12543._SX98_.jpg"/></a></div>
      <div class="gr_grid_book_container"><a title="They Both Die at the End" rel="nofollow" href="https://www.goodreads.com/book/show/33385229-they-both-die-at-the-end"><img alt="They Both Die at the End" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1494333138l/33385229._SX98_.jpg" /></a></div>
      <div class="gr_grid_book_container"><a title="Norse Mythology" rel="nofollow" href="https://www.goodreads.com/book/show/37903770-norse-mythology"><img alt="Norse Mythology" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1516128292l/37903770._SX98_.jpg"/></a></div>
      <div class="gr_grid_book_container"><a title="This is How You Lose the Time War" rel="nofollow" href="https://www.goodreads.com/book/show/46132305-this-is-how-you-lose-the-time-war"><img alt="This is How You Lose the Time War" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1568140880l/46132305._SX98_.jpg" /></a></div>
      <div class="gr_grid_book_container"><a title="Per Anhalter durch die Galaxis (Per Anhalter durch die Galaxis, #1)" rel="nofollow" href="https://www.goodreads.com/book/show/1667374.Per_Anhalter_durch_die_Galaxis"><img alt="Per Anhalter durch die Galaxis" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1186590917l/1667374._SX98_.jpg" /></a></div>
      <div class="gr_grid_book_container"><a title="On Writing: A Memoir of the Craft" rel="nofollow" href="https://www.goodreads.com/book/show/10569.On_Writing"><img alt="On Writing: A Memoir of the Craft" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1436735207l/10569._SX98_.jpg" /></a></div>
      <div class="gr_grid_book_container"><a title="Das merk ich mir!: Erfolgreich lernen und für immer behalten mit der Make-it-stick-Methode - Für Schule, Studium und Beruf" rel="nofollow" href="https://www.goodreads.com/book/show/48846537-das-merk-ich-mir"><img alt="Das merk ich mir!: Erfolgreich lernen und für immer behalten mit der Make-it-stick-Methode - Für Schule, Studium und Beruf" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1574031744l/48846537._SX98_.jpg" /></a></div>
      <div class="gr_grid_book_container"><a title="Supernova (Renegades, #3)" rel="nofollow" href="https://www.goodreads.com/book/show/42771754-supernova"><img alt="Supernova" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1557159835l/42771754._SX98_.jpg"/></a></div>
      <div class="gr_grid_book_container"><a title="I, Robot: Short Stories" rel="nofollow" href="https://www.goodreads.com/book/show/4448930-i-robot"><img alt="I, Robot: Short Stories" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1403170647l/4448930._SX98_.jpg"/></a></div>
      <div class="gr_grid_book_container"><a title="How to Be Animal: A New History of What It Means to Be Human" rel="nofollow" href="https://www.goodreads.com/book/show/54732978-how-to-be-animal"><img alt="How to Be Animal: A New History of What It Means to Be Human" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1613413924l/54732978._SX98_.jpg" /></a></div>
      <div class="gr_grid_book_container"><a title="Das Café der Existenzialisten: Freiheit, Sein und Aprikosencocktails (German Edition)" rel="nofollow" href="https://www.goodreads.com/book/show/31202256-das-caf-der-existenzialisten"><img alt="Das Café der Existenzialisten: Freiheit, Sein und Aprikosencocktails" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1469277865l/31202256._SX98_.jpg" /></a></div>
      <div class="gr_grid_book_container"><a title="Batman: Hush, Bd. 1 (von 2)" rel="nofollow" href="https://www.goodreads.com/book/show/38792320-batman"><img alt="Batman: Hush, Bd. 1" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1519688206l/38792320._SX98_.jpg"/></a></div>
      <div class="gr_grid_book_container"><a title="The Lion and the Unicorn: Socialism and the English Genius" rel="nofollow" href="https://www.goodreads.com/book/show/1235687.The_Lion_and_the_Unicorn"><img alt="The Lion and the Unicorn: Socialism and the English Genius" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1329620714l/1235687._SX98_.jpg" /></a></div>
      <div class="gr_grid_book_container"><a title="Les villes de papier" rel="nofollow" href="https://www.goodreads.com/book/show/40775648-les-villes-de-papier"><img alt="Les villes de papier" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1531239004l/40775648._SX98_.jpg"/></a></div>
      <div class="gr_grid_book_container"><a title="Das Romanverbot ist nur zu begrüßen" rel="nofollow" href="https://www.goodreads.com/book/show/58274128-das-romanverbot-ist-nur-zu-begr-en"><img alt="Das Romanverbot ist nur zu begrüßen" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1623007233l/58274128._SX98_.jpg" /></a></div>
      <div class="gr_grid_book_container"><a title="The Sandman, Bd. 1: Präludien & Notturni" rel="nofollow" href="https://www.goodreads.com/book/show/1239767.The_Sandman_Bd_1"><img alt="The Sandman, Bd. 1: Präludien & Notturni" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1182177631l/1239767._SX98_.jpg" /></a></div>
      <div class="gr_grid_book_container"><a title="The Tempest" rel="nofollow" href="https://www.goodreads.com/book/show/7264040-the-tempest"><img alt="The Tempest" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1348280151l/7264040._SX98_.jpg"/></a></div>
      <div class="gr_grid_book_container"><a title="The Legend of Zelda: Ocarina of Time 01 (The Legend of Zelda, #01)" rel="nofollow" href="https://www.goodreads.com/book/show/6715821-the-legend-of-zelda"><img alt="The Legend of Zelda: Ocarina of Time 01" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1327566198l/6715821._SX98_.jpg" /></a></div>
      <div class="gr_grid_book_container"><a title='Nachschrift zum "Namen der Rose"' rel="nofollow" href="https://www.goodreads.com/book/show/1329675.Nachschrift_zum_Namen_der_Rose_"><img alt="Nachschrift zum "Namen der Rose"" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1182793004l/1329675._SX98_.jpg" /></a></div>
      <div class="gr_grid_book_container"><a title="Waiting for Godot" rel="nofollow" href="https://www.goodreads.com/book/show/1098677.Waiting_for_Godot"><img alt="Waiting for Godot" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1180967338l/1098677._SX98_.jpg"/></a></div>
      <div class="gr_grid_book_container"><a title="Empört euch!" rel="nofollow" href="https://www.goodreads.com/book/show/10434525-emp-rt-euch"><img alt="Empört euch!" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1327350260l/10434525._SY160_.jpg"></a></div>
      <div class="gr_grid_book_container"><a title="All Systems Red (The Murderbot Diaries, #1)" rel="nofollow" href="https://www.goodreads.com/book/show/32758901-all-systems-red"><img alt="All Systems Red" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1631585309l/32758901._SX98_.jpg"></a></div>
      <div class="gr_grid_book_container"><a title="Der ewige Faschismus" rel="nofollow" href="https://www.goodreads.com/book/show/6384562720"><img alt="Der ewige Faschismus" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1580995565l/51022509._SX98_.jpg"></a></div>
      <div class="gr_grid_book_container"><a title="Loveless" rel="nofollow" href="https://www.goodreads.com/book/show/42115981"><img alt="Loveless" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1590592497l/42115981._SX98_.jpg"></a></div>
      <div class="gr_grid_book_container"><a title="Privacy is Power: Why and How You Should Take Back Control of Your Data" rel="nofollow" href="https://www.goodreads.com/book/show/6541164325"><img alt="Privacy is Power: Why and How You Should Take Back Control of Your Data" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1595822090l/51781479._SX98_.jpg"></a></div>
      <div class="gr_grid_book_container"><a title="Standpunkt beziehen: Fünf Essays (Was bedeutet das alles?)" rel="nofollow" href="https://www.goodreads.com/book/show/6623642265"><img alt="Standpunkt beziehen: Fünf Essays" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1466584058l/30730455._SX98_.jpg"></a></div>
    </div>
  </div>
  <br>
  <br>
  <button type="button" class="collapsible">Favourite Books 2024</button>
  <div class="content-collapsible">
    <h2>
      My favourite books of 2024
    </h2>
    <div class="gr_grid_container">
      <div class="gr_grid_book_container"><a title="Boys &amp; Sex: Young Men on Hookups, Love, Porn, Consent, and Navigating the New Masculinity" rel="nofollow" href="https://openlibrary.org/works/OL20641947W/Boys_Sex?edition=key%3A/books/OL40314051M"><img alt="Boys &amp; Sex: Young Men on Hookups, Love, Porn, Consent, and Navigating the New Masculinity" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1574328985l/45730106._SX98_.jpg"></a></div>
      <div class="gr_grid_book_container"><a title="Der ewige Faschismus" rel="nofollow" href="https://openlibrary.org/works/OL23032841W/Il_fascismo_eterno"><img alt="Der ewige Faschismus" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1580995565l/51022509._SX98_.jpg"></a></div>
      <div class="gr_grid_book_container"><a title="Loveless" rel="nofollow" href="https://openlibrary.org/books/OL30680399M/Loveless"><img alt="Loveless" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1590592497l/42115981._SX98_.jpg"></a></div>
      <div class="gr_grid_book_container"><a title="Privacy is Power: Why and How You Should Take Back Control of Your Data" rel="nofollow" href="https://openlibrary.org/books/OL35203644M/Privacy_Is_Power"><img alt="Privacy is Power: Why and How You Should Take Back Control of Your Data" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1595822090l/51781479._SX98_.jpg"></a></div>
      <div class="gr_grid_book_container"><a title="Standpunkt beziehen: Fünf Essays (Was bedeutet das alles?)" rel="nofollow" href="hhttps://openlibrary.org/works/OL496473W/Against_Interpretation"><img alt="Standpunkt beziehen: Fünf Essays" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1466584058l/30730455._SX98_.jpg"></a></div>
    </div>
  </div>
  <br>
  <br>
  <button type="button" class="collapsible">Favourite Books 2023</button>
  <div class="content-collapsible">
    <h2>
      My favourite books of 2023
    </h2>
    <div class="gr_grid_container">
      <div class="gr_grid_book_container"><a title="Norse Mythology" rel="nofollow" href="https://www.goodreads.com/book/show/37903770-norse-mythology"><img alt="Norse Mythology" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1516128292l/37903770._SX98_.jpg" /></a></div>
      <div class="gr_grid_book_container"><a title="This is How You Lose the Time War" rel="nofollow" href="https://www.goodreads.com/book/show/46132305-this-is-how-you-lose-the-time-war"><img alt="This is How You Lose the Time War" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1568140880l/46132305._SX98_.jpg" /></a></div>
      <div class="gr_grid_book_container"><a title="Per Anhalter durch die Galaxis (Per Anhalter durch die Galaxis, #1)" rel="nofollow" href="https://www.goodreads.com/book/show/1667374.Per_Anhalter_durch_die_Galaxis"><img alt="Per Anhalter durch die Galaxis" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1186590917l/1667374._SX98_.jpg" /></a></div>
      <div class="gr_grid_book_container"><a title="Das Café der Existenzialisten: Freiheit, Sein und Aprikosencocktails (German Edition)" rel="nofollow" href="https://www.goodreads.com/book/show/31202256-das-caf-der-existenzialisten"><img alt="Das Café der Existenzialisten: Freiheit, Sein und Aprikosencocktails" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1469277865l/31202256._SX98_.jpg" /></a></div>
      <div class="gr_grid_book_container"><a title="Dragon Teeth" rel="nofollow" href="https://www.goodreads.com/book/show/31287693-dragon-teeth"><img alt="Dragon Teeth" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1481163021l/31287693._SX98_.jpg" /></a></div>
      <div class="gr_grid_book_container"><a title="The Lion and the Unicorn: Socialism and the English Genius" rel="nofollow" href="https://www.goodreads.com/book/show/1235687.The_Lion_and_the_Unicorn"><img alt="The Lion and the Unicorn: Socialism and the English Genius" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1329620714l/1235687._SX98_.jpg" /></a></div>
      <div class="gr_grid_book_container"><a title="Enzensbergers Panoptikum: Zwanzig Zehn-Minuten-Essays" rel="nofollow" href="https://www.goodreads.com/book/show/19001711-enzensbergers-panoptikum"><img alt="Enzensbergers Panoptikum: Zwanzig Zehn-Minuten-Essays" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1385559664l/19001711._SX98_.jpg" /></a></div>
      <div class="gr_grid_book_container"><a title="Jedi: Battle Scars (Star Wars)" rel="nofollow" href="https://www.goodreads.com/book/show/61327519-jedi"><img alt="Jedi: Battle Scars" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1669927668l/61327519._SX98_.jpg" /></a></div>
      <div class="gr_grid_book_container"><a title="Tout est relatif (Les Aventures d'Anselme Lanturlu / Jean-Pierre Petit) (French Edition)" rel="nofollow" href="https://www.goodreads.com/book/show/4665094-tout-est-relatif-les-aventures-d-anselme-lanturlu-jean-pierre-petit"><img alt="Tout est relatif (Les Aventures d'Anselme Lanturlu / Jean-Pierre Petit)" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1420845583l/4665094._SX98_.jpg" /></a></div>
      <div class="gr_grid_book_container"><a title='Nachschrift zum "Namen der Rose"' rel="nofollow" href="https://www.goodreads.com/book/show/1329675.Nachschrift_zum_Namen_der_Rose_"><img alt='Nachschrift zum "Namen der Rose"' border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1182793004l/1329675._SX98_.jpg" /></a></div>
      <div class="gr_grid_book_container"><a title="Waiting for Godot" rel="nofollow" href="https://www.goodreads.com/book/show/1098677.Waiting_for_Godot"><img alt="Waiting for Godot" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1180967338l/1098677._SX98_.jpg" /></a></div>
      <div class="gr_grid_book_container"><a title="Spektrum Kompakt - Geschichten: Ausflug in fiktive Welten (German Edition)" rel="nofollow" href="https://www.goodreads.com/book/show/56422495-spektrum-kompakt---geschichten"><img alt="Spektrum Kompakt - Geschichten: Ausflug in fiktive Welten" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1608993565l/56422495._SX98_.jpg" /></a></div>
      <div class="gr_grid_book_container"><a title="Die Erfindung der Intoleranz: Wie die Christen von Verfolgten zu Verfolgern wurden (Historische Geisteswissenschaften. Frankfurter Vorträge 11) (German Edition)" rel="nofollow" href="https://www.goodreads.com/book/show/50523318-die-erfindung-der-intoleranz"><img alt="Die Erfindung der Intoleranz: Wie die Christen von Verfolgten zu Verfolgern wurden (Historische Geisteswissenschaften. Frankfurter Vorträge 11)" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1579269863l/50523318._SY160_.jpg" /></a></div>
      <div class="gr_grid_book_container"><a title="The Metamorphosis" rel="nofollow" href="https://www.goodreads.com/book/show/485894.The_Metamorphosis"><img alt="The Metamorphosis" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1646444605l/485894._SY160_.jpg" /></a></div>
      <div class="gr_grid_book_container"><a title="Introducing Political Philosophy: A Graphic Guide (Graphic Guides)" rel="nofollow" href="https://www.goodreads.com/book/show/23817494-introducing-political-philosophy"><img alt="Introducing Political Philosophy: A Graphic Guide" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1441977720l/23817494._SX98_.jpg" /></a></div>
      <div class="gr_grid_book_container"><a title="Politics and the English Language (Penguin Modern Classics)" rel="nofollow" href="https://www.goodreads.com/book/show/17118901-politics-and-the-english-language"><img alt="Politics and the English Language" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1356446495l/17118901._SX98_.jpg" /></a></div>
      <div class="gr_grid_book_container"><a title="Comics and Sequential Art" rel="nofollow" href="https://www.goodreads.com/book/show/33476.Comics_and_Sequential_Art"><img alt="Comics and Sequential Art" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1388435043l/33476._SX98_.jpg" /></a></div>
      <div class="gr_grid_book_container"><a title="Spider-Man: Into The Spider-Verse Screenplay" rel="nofollow" href="https://www.goodreads.com/book/show/43551305-spider-man"><img alt="Spider-Man: Into The Spider-Verse Screenplay" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1547358399l/43551305._SX98_.jpg" /></a></div>
      <div class="gr_grid_book_container"><a title="Supergirl: Woman of Tomorrow" rel="nofollow" href="https://www.goodreads.com/book/show/59854151-supergirl"><img alt="Supergirl: Woman of Tomorrow" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1639946077l/59854151._SX98_.jpg" /></a></div>
      <div class="gr_grid_book_container"><a title="Spider-Man: Fake Red" rel="nofollow" href="https://www.goodreads.com/book/show/62976856-spider-man"><img alt="Spider-Man: Fake Red" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1678900083l/62976856._SX98_.jpg" /></a></div>
      <div class="gr_grid_book_container"><a title="Boyfriends. Volume One (Boyfriends, #1)" rel="nofollow" href="https://openlibrary.org/search?q=boyfriends-volume-one"><img alt="Boyfriends. Volume One" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1681812239l/60070269._SX98_.jpg"></a></div>
      <div class="gr_grid_book_container"><a title="Gender Queer" rel="nofollow" href="https://www.goodreads.com/book/show/42837514-gender-queer"><img alt="Gender Queer" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1553583580l/42837514._SX98_.jpg"></a></div>
      <div class="gr_grid_book_container"><a title="Empört euch!" rel="nofollow" href="https://www.goodreads.com/book/show/10434525-emp-rt-euch"><img alt="Empört euch!" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1327350260l/10434525._SY160_.jpg"></a></div>
      <div class="gr_grid_book_container"><a title="All Systems Red (The Murderbot Diaries, #1)" rel="nofollow" href="https://www.goodreads.com/book/show/32758901-all-systems-red"><img alt="All Systems Red" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1631585309l/32758901._SX98_.jpg"></a></div>
      <div class="gr_grid_book_container"><a title="Die Freiheit, frei zu sein" rel="nofollow" href="https://www.goodreads.com/book/show/38100439-die-freiheit-frei-zu-sein"><img alt="Die Freiheit, frei zu sein" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1516366773l/38100439._SY160_.jpg"></a></div>
      <div class="gr_grid_book_container"><a title="The Yellow Wall-Paper" rel="nofollow" href="https://www.goodreads.com/book/show/286957.The_Yellow_Wall_Paper"><img alt="The Yellow Wall-Paper" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1351778524l/286957._SX98_.jpg"></a></div>
      <div class="gr_grid_book_container"><a title="Boyfriends. Volume Two (Boyfriends, #2)" rel="nofollow" href="https://openlibrary.org/search?q=boyfriends-volume-two"><img alt="Boyfriends. Volume Two" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1695100683l/144994136._SX98_.jpg"></a></div>
      </div>
  </div>
  <br>
  <br>
  <button type="button" class="collapsible">Favourite Books 2022</button>
  <div class="content-collapsible">
    <h2>
      My favourite books of 2022
    </h2>
    <div class="gr_grid_container">
      <div class="gr_grid_book_container"><a title="Bird by Bird" rel="nofollow" href="https://openlibrary.org/search?q=Bird_by_Bird"><img alt="Bird by Bird" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1631772636l/12543._SX98_.jpg" /></a></div>
      <div class="gr_grid_book_container"><a title="They Both Die at the End" rel="nofollow" href="https://openlibrary.org/search?q=they-both-die-at-the-end"><img alt="They Both Die at the End" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1494333138l/33385229._SX98_.jpg" /></a></div>
      <div class="gr_grid_book_container"><a title="On Writing: A Memoir of the Craft" rel="nofollow" href="https://openlibrary.org/search?q=On_Writing"><img alt="On Writing: A Memoir of the Craft" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1436735207l/10569._SX98_.jpg" /></a></div>
      <div class="gr_grid_book_container"><a title="Das merk ich mir!: Erfolgreich lernen und für immer behalten mit der Make-it-stick-Methode - Für Schule, Studium und Beruf" rel="nofollow" href="https://www.goodreads.com/book/show/48846537-das-merk-ich-mir"><img alt="Das merk ich mir!: Erfolgreich lernen und für immer behalten mit der Make-it-stick-Methode - Für Schule, Studium und Beruf" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1574031744l/48846537._SX98_.jpg" /></a></div>
      <div class="gr_grid_book_container"><a title="Star Wars: The High Republic (2021-2022) #1" rel="nofollow" href="https://openlibrary.org/search?q=star-wars-high-republic"><img alt="Star Wars: The High Republic (2021-2022) #1" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1613498920l/55921125._SX98_.jpg" /></a></div>
      <div class="gr_grid_book_container"><a title="Supernova (Renegades, #3)" rel="nofollow" href="https://www.goodreads.com/book/show/42771754-supernova"><img alt="Supernova" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1557159835l/42771754._SX98_.jpg" /></a></div>
      <div class="gr_grid_book_container"><a title="Ada Lovelace: A Life from Beginning to End (Biographies of Women in History Book 12)" rel="nofollow" href="https://openlibrary.org/search?q=ada-lovelace-life-beginning"><img alt="Ada Lovelace: A Life from Beginning to End" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1571815748l/48561240._SX98_.jpg" /></a></div>
      <div class="gr_grid_book_container"><a title="Star Wars: Doctor Aphra, Vol. 1: Aphra" rel="nofollow" href="https://www.goodreads.com/book/show/32941139-star-wars"><img alt="Star Wars: Doctor Aphra, Vol. 1: Aphra" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1507155737l/32941139._SX98_.jpg" /></a></div>
      <div class="gr_grid_book_container"><a title="The Legend of Zelda: Twilight Princess, Vol. 9 (9)" rel="nofollow" href="https://openlibrary.org/search?q=the-legend-of-zelda-twilight-princess-9"><img alt="The Legend of Zelda: Twilight Princess, Vol. 9" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1616337025l/55711513._SX98_.jpg" /></a></div>
      <div class="gr_grid_book_container"><a title="Battle Angel Alita Deluxe Edition, Vol. 1" rel="nofollow" href="https://openlibrary.org/search?q=battle-angel-alita-vol-1"><img alt="Battle Angel Alita Deluxe Edition, Vol. 1" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1501703980l/35197945._SX98_.jpg" /></a></div>
      <div class="gr_grid_book_container"><a title="I, Robot: Short Stories" rel="nofollow" href="https://www.goodreads.com/book/show/4448930-i-robot"><img alt="I, Robot: Short Stories" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1403170647l/4448930._SX98_.jpg" /></a></div>
      <div class="gr_grid_book_container"><a title="How to Be Animal: A New History of What It Means to Be Human" rel="nofollow" href="https://www.goodreads.com/book/show/54732978-how-to-be-animal"><img alt="How to Be Animal: A New History of What It Means to Be Human" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1613413924l/54732978._SX98_.jpg" /></a></div>
      <div class="gr_grid_book_container"><a title="Improvisation und Theater" rel="nofollow" href="https://www.goodreads.com/book/show/3809541-improvisation-und-theater"><img alt="Improvisation und Theater" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1266945167l/3809541._SX98_.jpg" /></a></div>
      <div class="gr_grid_book_container"><a title="Spider-Man : Spider-Verse : Spider-Gwen" rel="nofollow" href="https://www.goodreads.com/book/show/39739269-spider-man"><img alt="Spider-Man : Spider-Verse : Spider-Gwen" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1538420307l/39739269._SX98_.jpg" /></a></div>
      <div class="gr_grid_book_container"><a title="Ich bin sehr hübsch, das sieht man nur nicht so: Von einer, die auszog, das Scheitern zu lernen (German Edition)" rel="nofollow" href="https://www.goodreads.com/book/show/41446028-ich-bin-sehr-h-bsch-das-sieht-man-nur-nicht-so"><img alt="Ich bin sehr hübsch, das sieht man nur nicht so: Von einer, die auszog, das Scheitern zu lernen" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1535095528l/41446028._SX98_.jpg" /></a></div>
      <div class="gr_grid_book_container"><a title="Batman: Hush, Bd. 1 (von 2)" rel="nofollow" href="https://www.goodreads.com/book/show/38792320-batman"><img alt="Batman: Hush, Bd. 1" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1519688206l/38792320._SX98_.jpg" /></a></div>
      <div class="gr_grid_book_container"><a title="The Last Question" rel="nofollow" href="https://www.goodreads.com/book/show/4808763-the-last-question"><img alt="The Last Question" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1274107046l/4808763._SX98_.jpg" /></a></div>
      <div class="gr_grid_book_container"><a title="Les villes de papier" rel="nofollow" href="https://www.goodreads.com/book/show/40775648-les-villes-de-papier"><img alt="Les villes de papier" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1531239004l/40775648._SX98_.jpg" /></a></div>
      <div class="gr_grid_book_container"><a title="Das Romanverbot ist nur zu begrüßen" rel="nofollow" href="https://www.goodreads.com/book/show/58274128-das-romanverbot-ist-nur-zu-begr-en"><img alt="Das Romanverbot ist nur zu begrüßen" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1623007233l/58274128._SX98_.jpg" /></a></div>
      <div class="gr_grid_book_container"><a title="Life is Strange: Bd. 1: Staub" rel="nofollow" href="https://www.goodreads.com/book/show/49916582-life-is-strange"><img alt="Life is Strange: Bd. 1: Staub" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1569736083l/49916582._SX98_SY160_.jpg" /></a></div>
      <div class="gr_grid_book_container"><a title="Präludien &amp; Notturni (The Sandman, #1)" rel="nofollow" href="https://www.goodreads.com/book/show/1239767.Pr_ludien_Notturni"><img alt="Präludien &amp; Notturni" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1182177631l/1239767._SX98_.jpg"></a></div>
      <div class="gr_grid_book_container"><a title="The Tempest" rel="nofollow" href="https://www.goodreads.com/book/show/7264040-the-tempest"><img alt="The Tempest" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1348280151l/7264040._SX98_.jpg"></a></div>
      <div class="gr_grid_book_container"><a title="Shakespeare: Ein Sachcomic" rel="nofollow" href="https://www.goodreads.com/book/show/38280492-shakespeare"><img alt="Shakespeare: Ein Sachcomic" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1517355676l/38280492._SX98_.jpg"></a></div>
      <div class="gr_grid_book_container"><a title="Ethik der Appropriation" rel="nofollow" href="https://www.goodreads.com/book/show/62880568-ethik-der-appropriation"><img alt="Ethik der Appropriation" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1664907292l/62880568._SY160_.jpg"></a></div>
      <div class="gr_grid_book_container"><a title="Linguistik der Lüge" rel="nofollow" href="https://www.goodreads.com/book/show/43797035-linguistik-der-l-ge"><img alt="Linguistik der Lüge" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1548942086l/43797035._SX98_.jpg"></a></div>
      <div class="gr_grid_book_container"><a title="We Should All Be Feminists" rel="nofollow" href="https://www.goodreads.com/book/show/22738563-we-should-all-be-feminists"><img alt="We Should All Be Feminists" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1430821222l/22738563._SX98_.jpg"></a></div>
      <div class="gr_grid_book_container"><a title="Call Us What We Carry: Poems" rel="nofollow" href="https://www.goodreads.com/book/show/56805404-call-us-what-we-carry"><img alt="Call Us What We Carry: Poems" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1627672473l/56805404._SX98_.jpg"></a></div>
      <div class="gr_grid_book_container"><a title="Oh Gott!" rel="nofollow" href="https://www.goodreads.com/book/show/49120597-oh-gott"><img alt="Oh Gott!" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1575728028l/49120597._SX98_.jpg"></a></div>
    </div>
  </div>

  <!--
  Fav Webtoons: 
  - Boyfriends
  - The Epic Life Adventure of Connor
  - Castle Swimmer
  - Blue Chair
  - Hyperfocus
  - #muted
  - Out Voice
  - Skylie
  - Safely Endangerd
  -->

  <h2 id="video-games">Video Games</h2>

  <hr>
  <ul class="lists">
    <li>The Legend of Zelda (espacially: OoT, MM, BOTW, currently playing TotK and ALttP)</li>
    <li>Life is Strange</li>
    <li>Animal Crossing</li>
    <li>HALO</li>
    <li>Stardew Valley</li>
    <li>Spider Man 1,2 & Miles Morales</li>
    <li>Doki Doki Literature Club</li>
    <li>Assamble with care</li>
    <li>Monument Valley</li>
    <li>Love You ToBits</li>
    <li>Dead Cells</li>
    <li>Missed Messages</li>
  </ul>
  <p align="center">Click for information + links</p>
  <div class="grid-games">
    <button class="game-item" data-tooltip="Zelda" onclick="showLicenseInfo(this)" tabindex="0">
      <img src="/assets/images/misc/lists/Triforce.svg.png" alt="The Legend of Zelda" loading="lazy">
      <div class="license-info" style="display: none;">
        By <a href="https://en.wikipedia.org/wiki/User:Ian_Moody" target="_blank">Ian Moody</a> | and <a href="https://www.zelda.com/" traget="_blank">Zelda.com</a> <br><br>
        Img Source: <a href="https://commons.wikimedia.org/wiki/File:Triforce.svg" target="_blank">Wikipedia</a><br>
        Img License: Public Domain
      </div>
    </button>
    <button class="game-item" data-tooltip="Life is Strange" onclick="showLicenseInfo(this)" tabindex="0">
      <img src="/assets/images/misc/lists/lis.jpg" alt="Life is Strange" loading="lazy">
      <div class="license-info" style="display: none;">
        Website: <a href="https://lifeisstrange.square-enix-games.com/">LiS</a>
      </div>
    </button>
    <button class="game-item" data-tooltip="Doki Doki Literature Club" onclick="showLicenseInfo(this)" tabindex="0">
      <img src="/assets/images/misc/lists/DDLC_Plus_logo.svg" alt="DDLC" loading="lazy">
      <div class="license-info" style="display: none;">
        Website: <a href="https://ddlc.moe/">DDLC</a> <br><br>
        Img Source: <a href="https://commons.wikimedia.org/wiki/File:DDLC_Plus_logo.svg" target="_blank">Wikipedia</a><br>
        Img License: Public Domain
      </div>
    </button>
    <button class="game-item" data-tooltip="Animal Crossing" onclick="showLicenseInfo(this)" tabindex="0">
      <img src="/assets/images/misc/lists/animal-crossing.jpg" alt="Animal Corssing" loading="lazy">
      <div class="license-info" style="display: none;">
        Website: <a href="https://www.animal-crossing.com/" target="_blank">Animal Crossing</a><br><br>
        Img Source: <a href="https://en.wikipedia.org/wiki/File:Animal_Crossing_New_Horizons.jpg" target="_blank">Wikipedia</a>
      </div>
    </button>
    <button class="game-item" data-tooltip="Spider-Man PS-Games" onclick="showLicenseInfo(this)" tabindex="0">
      <img src="/assets/images/misc/lists/spidey.jpg" alt="Spidey PS Games" loading="lazy">
      <div class="license-info" style="display: none;">
        Website: <a href="https://insomniac.games/game/spider-man-ps4/">Spider Man - PS</a><br><br>
        Img Source: <a href="https://en.wikipedia.org/wiki/File:Spider-Man_PS4_cover.jpg">wikipedia</a>
      </div>
    </button>
    <button class="game-item" data-tooltip="HALO" onclick="showLicenseInfo(this)" tabindex="0">
      <img src="/assets/images/misc/lists/halo.jpg" alt="HALO" loading="lazy">
      <div class="license-info" style="display: none;">
        Website <a href="https://www.halowaypoint.com/">HALO</a><br><br>
        Img Source: <a href="https://en.wikipedia.org/wiki/File:Halo_3_final_boxshot.JPG" target="_blank">Wikipedia</a>
      </div>
    </button>
    <button class="game-item" data-tooltip="Stardew Valley" onclick="showLicenseInfo(this)" tabindex="0">
      <img src="/assets/images/misc/lists/stardew.jpg" alt="Stardew Valley" loading="lazy">
      <div class="license-info" style="display: none;">
        Website: <a href="https://stardewvalley.net/" target="_blank">Stardew Valley</a><br><br>
        Img Source: <a href="https://en.wikipedia.org/wiki/File:Logo_of_Stardew_Valley.png" target="_blank">Wikipedia</a>
      </div>
    </button>
    <button class="game-item" data-tooltip="Celeste" onclick="showLicenseInfo(this)" tabindex="0">
      <img src="/assets/images/misc/lists/Celeste_box_art_new.jpg" alt="celeste" loading="lazy"> 
      <div class="license-info" style="display: none;">
        Website: <a href="https://www.celestegame.com/" target="_blank">Celeste Game</a><br><br>
        Original Img Source: <a href="https://upload.wikimedia.org/wikipedia/commons/0/0f/Celeste_box_art_full.png" target="_blank">Wikipedia</a><br>
        Original Img: Licensed <a href="https://creativecommons.org/licenses/by-sa/4.0/" target="_blank">CC BY-SA 4.0</a>
        <br><br>
      </div>
    </button>
    <button class="game-item" data-tooltip="Deadcells" onclick="showLicenseInfo(this)" tabindex="0">
      <img src="/assets/images/misc/lists/Dead_cells_cover_art.jpg" alt="deadcells" loading="lazy">
      <div class="license-info" style="display: none;">
        Website: <a href="https://dead-cells.com/" target="_blank">Dead Cells</a><br>
        Img Source: <a href="https://en.wikipedia.org/wiki/File:Dead_cells_cover_art.png" target="_blank">Wikipedia</a>
    </div>
    </button>
    <button class="game-item" data-tooltip="Love you to Bits" onclick="showLicenseInfo(this)" tabindex="0">
      <img src="/assets/images/misc/lists/loveyoutobits.jpg" alt="Love you to bits" loading="lazy">
      <div class="license-info" style="display: none;">
        Website: <a href="https://loveyoutobitsgame.com/">Love you to Bits</a>
      </div>
    </button>
    <button class="game-item" data-tooltip="Monument Valley" onclick="showLicenseInfo(this)" tabindex="0"> 
      <img src="/assets/images/misc/lists/Monument_valley_2_icon.jpg" alt="Monument Valley" loading="lazy">
      <div class="license-info" style="display: none;">
        Website: <a href="https://www.monumentvalleygame.com/">Monument Valley</a><br>
        Img Source: <a href="https://en.wikipedia.org/wiki/File:Monument_valley_2_icon.jpg">wikipedia</a><br>
        and <a href="https://itunes.apple.com/us/app/monument-valley-2/id1187265767?mt=8">App Store</a><br>
      </div>
    </button>
    <button class="game-item" data-tooltip="Assamble with Care" onclick="showLicenseInfo(this)" tabindex="0">
      <img src="/assets/images/misc/lists/assamble.jpg" alt="assamble with care" loading="lazy">
      <div class="license-info" style="display: none;">
        Website: <a href="https://www.assemblegame.com/">AssembleGame.com</a>
    </div>
    </button>
  </div>
  <br>
  <small>Rights for images are not public, where not stated differently</small>

  <h2 id="movies-and-series">Movies and Series</h2>
  <hr>
  <p>more infos regarding my fav animes: <a rel="me" href="https://myanimelist.net/animelist/sadlyLink">AnimeList</a></p>
  <hr>

  <h3 id="movies">Movies</h3>
  <ul class="lists">
    <li><a href="https://libremdb.pussthecat.org/find?q=spider-verse" target="_blank">The Spider-Verse Movies</a></li>
    <li><a href="https://libremdb.pussthecat.org/find?q=star-wars" target="_blank">Star Wars (The only valid ranking: 3/5, 4, 1, 6, 2, 7, 8/9)</a></li>
    <li><a href="https://libremdb.pussthecat.org/find?q=everything-everywhere-all-at-once" target="_blank">Everything Everywhere All at Once</a></li>
    <li><a href="https://libremdb.pussthecat.org/find?q=the-batman" target="_blank">The Batman</a></li>
    <li><a href="https://libremdb.pussthecat.org/find?q=matrix" target="_blank">Matrix</a></li>
    <li><a href="https://libremdb.pussthecat.org/find?q=dune" target="_blank">Dune</a></li>
    <li><a href="https://libremdb.pussthecat.org/find?q=barbenheimer" target="_blank">Barbenheimer</a></li>
    <li><a href="https://libremdb.pussthecat.org/find?q=nimona" target="_blank">Nimona</a></li>
    <li><a href="https://libremdb.pussthecat.org/find?q=belle" target="_blank">Belle</a></li>
    <li><a href="https://libremdb.pussthecat.org/find?q=your-name" target="_blank">Your Name</a></li>
    <li><a href="https://libremdb.pussthecat.org/find?q=thank-you-for-smoking" target="_blank">Thank You for Smoking</a></li>
    <li><a href="https://libremdb.pussthecat.org/find?q=blade-runner" target="_blank">Blade Runner</a></li>
    <li><a href="https://libremdb.pussthecat.org/find?q=trumanshow" target="_blank">Trumanshow</a></li>
    <li><a href="https://libremdb.pussthecat.org/find?q=your-name" target="_blank">Your Name</a></li>
    <li><a href="https://libremdb.pussthecat.org/find?q=john-wick" target="_blank">John Wick (loved 1, liked 2, 3 was ..., loved 4)</a></li>
  </ul>

  <h3 id="series">Series</h3>
  <ul class="lists">
    <li><a href="https://libremdb.lunar.icu/find?q=Star%20Wars:%20Andor" target="_blank">Star Wars: Andor</a></li>
    <li><a href="https://libremdb.lunar.icu/find?q=Dickinson" target="_blank">Dickinson</a></li>
    <li><a href="https://libremdb.lunar.icu/find?q=Arcane" target="_blank">Arcane</a></li>
    <li><a href="https://libremdb.lunar.icu/find?q=Star%20Trek:%20Lower%20Decks" target="_blank">Star Trek: Lower Decks</a></li>
    <li><a href="https://libremdb.lunar.icu/find?q=Star%20Wars:%20Clone%20Wars" target="_blank">Star Wars: Clone Wars</a></li>
    <li><a href="https://libremdb.lunar.icu/find?q=Futurama" target="_blank">Futurama</a></li>
    <li><a href="https://libremdb.lunar.icu/find?q=Queensgambit" target="_blank">Queensgambit</a></li>
    <li><a href="https://libremdb.lunar.icu/find?q=Kaleidoscope" target="_blank">Kaleidoscope</a></li>
    <li><a href="https://libremdb.lunar.icu/find?q=Wednesday" target="_blank">Wednesday</a></li>
    <li><a href="https://libremdb.lunar.icu/find?q=Sandman" target="_blank">Sandman</a></li>
    <li><a href="https://libremdb.lunar.icu/find?q=Trinkets" target="_blank">Trinkets</a></li>
    <li><a href="https://libremdb.lunar.icu/find?q=Brooklyn%20Nine-Nine" target="_blank">Brooklyn Nine-Nine</a></li>
    <li><a href="https://libremdb.lunar.icu/find?q=Inside%20Job" target="_blank">Inside Job</a></li>
  </ul>
  </ul>

  <h3 id="youtube-series">YouTube Series</h3>
  <ul class="lists">
    <li>The Heros Purpose - by MajorLink</li>
    <li>Sword Art Online Abridged - by Something Witty Entertainment</li>
    <li>Philosophy Tube</li>
  </ul>

  <h2 id="theater">Theater</h2>
  <p>Below are links to the plays on OpenLibrary</p>
  <ul class="lists">
    <li>
      <a href="https://openlibrary.org/works/OL362699W/Tempest" target="_blank">The Tempest</a>
    </li>
    <li>
      <a href="https://openlibrary.org/works/OL4489200W/No_exit" target="_blank">No Exit (Huis Clos)</a>
    </li>
    <li>
      <a href="https://openlibrary.org/works/OL259010W/A_Midsummer_Night%27s_Dream" target="_blank">A Midsummer Night's Dream</a>
    </li>
    <li>
      <a href="https://openlibrary.org/works/OL15164672W/En_attendant_Godot?edition=key%3A/books/OL6153708M" target="_blank">Waiting for Godot</a>
    </li>
  </ul>

  </main>
  </div>
  {% include footer.html %}
  </div>
  <script src="/assets/js/showLicenseInfo.js" defer></script>
  <script src="/assets/js/collapsible.js"></script>
</body>
</html>