---
layout: none
title: misc
permalink: /misc/
description: I will writedown things of my dialy life, lists, reviews and rankings or thoughts, dreams, nightmares and everything inbetweeen and beyond, here.
keywords: misc, writing, personal, reviews, lists, rankings, thoughts, dreams, nightmares, diary
---
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Miscellaneous</title>
	<meta name="author" content="sadlyLink">
	<meta name="date" content="11.22.2023">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="I will writedown things of my dialy life, lists, reviews and rankings or thoughts, dreams, nightmares and everything inbetweeen and beyond, here.">
	<meta name="keywords" content="neocities, sadlyLink, sadly.link, sadly-link, sadly link, misc, writing, personal, reviews, lists, rankings, thoughts, dreams, nightmares, diary, blog">
	<meta name="theme-color" content="#ffffff">
		<meta http-equiv="Content-Security-Policy" content="
	  default-src 'self';
	  script-src 'self';
	  style-src 'self' 'unsafe-inline';
	  img-src 'self' https://moods.imood.com https://piclog.blue data:;
	  connect-src 'self' https://status.cafe;
	  font-src 'self';
	  frame-src 'none';
	  object-src 'none';
	  base-uri 'self';
	  form-action 'self';
	">
	<link rel="stylesheet" href="/assets/css/misc.css">
	{% include favicon.html%}
</head>
{% include navbar.html %}
</div>
<body>
	<div id="flex">
		<div class="box">
			<h3>Entries of my life</h3>
			<ul style="list-style: none;">
			<li><strong>2024</strong></li>
				<li><a href="#entry30">Entry #30 - Dec. 21</a></li>
				<li><a href="#entry29">Entry #29 - Dec. 13</a></li>
				<li><a href="#entry28">Entry #28 - Oct. 25</a></li>
				<li><a href="#entry27">Entry #27 - Oct. 1</a></li>
				<li><a href="#entry26">Entry #26 - Sep. 26</a></li>
				<li><a href="#entry25">Entry #25 - Sep. 15</a></li>
				<li><a href="#entry24">Entry #24 - Aug. 25</a></li>
				<li><a href="#entry23">Entry #23 - Aug. 24</a></li>
				<li><a href="#entry22">Entry #22 - Aug. 17</a></li>
				<li><a href="#entry21">Entry #21 - Jul. 5</a></li>
        		<li><a href="#entry20">Entry #20 - Jun. 16</a></li>
				<li><a href="#entry19">Entry #19 - Jun. 1</a></li>
				<li><a href="#entry18">Entry #18 - May 27</a></li>
				<li><a href="#entry17">Entry #17 - May 23</a></li>
				<li><a href="#entry16">Entry #16 - May 22</a></li>
				<li><a href="#entry15">Entry #15 - May 19</a></li>
				<li><a href="#entry14">Entry #14 - May 11</a></li>
				<li><a href="#entry13">Entry #13 - May 9</a></li>
				<li><a href="#entry12">Entry #12 - Apr. 23</a></li>
				<li><a href="#entry11">Entry #11 - Mar. 23</a></li>
				<li><a href="#entry10">Entry #10 - Feb. 11</a></li>
				<li><a href="#entry9">Entry #09 - Feb. 9</a></li>
				<li><a href="#entry8">Entry #08 - Jan. 30</a></li>
				<li><a href="#entry7">Entry #07 - Jan. 26</a></li>
				<li><a href="#entry6">Entry #06 - Jan. 23</a></li>
			<li><strong>2023</strong></li>
				<li><a href="#entry5">Entry #05 - Dec. 31</a></li>
				<li><a href="#entry4">Entry #04 - Dec. 22</a></li>
				<li><a href="#entry3">Entry #03 - Dec. 18</a></li>
				<li><a href="#entry2">Entry #02 - Nov. 27</a></li>
				<li><a href="#entry1">Entry #01 - Nov. 22</a></li>
			</ul>
		</div>
		<div style="margin-left: 20px;">
			<h1>Miscellaneous</h1>
			<p>
				Here are some entries of my life. My dreams, my nightmares, and — worst of all — my reality (🎶DDLC starts playing🎶)<br>
				Also check out my <a href="/misc/lists.html">favourites of different media</a> or my <a href="/about">About page</a>.
			</p>

			<h4>
				Start by clicking on the entries
			</h4>
		</div>
		<div class="box">
			<h3>Status Updates</h3>
			<div id="statuscafe"><div id="statuscafe-username"></div><div id="statuscafe-content"></div></div><script src="/assets/js/status-cafe-update.js" defer></script>
			My Mood: <a href="https://www.imood.com/users/sadlyLink"><img src="https://moods.imood.com/display/uname-sadlyLink/imood.gif" alt="The current mood of sadlyLink at www.imood.com" border="0"></a> <br>
			Mood of the Internet: <a href="https://www.imood.com/imood"><img src="https://moods.imood.com/internet/current.gif" alt="The current mood of the Internet at www.imood.com" border="0"></a>
			<h3>Piclog</h3>
			<a href="https://piclog.blue/profile.php?id=250"><img src="https://piclog.blue/latest.php?id=250" style="max-width: 175px;" alt="my piclog picture"></a>
		</div>
	</div>

	<main>
	{% include misc-entry.html %}
	</main>

</body>
</html>
