---
layout: none
permalink: /misc/The_Dream_You_Give
description: "A short story I wrote some time ago, and it was one of the stories where I experimented with Twine."
date: 2024-05-20
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>The Dream You Give</title>
    
    <meta name="author" content="sadlyLink">
    
    <meta name="date" content="{{page.date}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{page.description}}">
    <meta name="keywords" content="neocities, sadlyLink, sadly.link, sadly-link, sadly link, short story, kurzgeschichte, space, sci fi, dystopia, blog, code-cafe, code cafe">
    <meta name="theme-color" content="#000000">
    <meta http-equiv="Content-Security-Policy" content="font-src 'self'">
    <link rel="stylesheet" href="/assets/css/dream.css">
</html>

<body>
    <main>
        <h1>The Dream You Give</h1>
        <p>by sadlyLink</p>

        <a href="/misc/The_Dream_You_Give_English">English Version</a>
        <a href="/misc/The_Dream_You_Give_German">German Version</a>
        <a href="/home/">Fly home</a>

        <p>I wrote this story some time ago, and it was one of the stories where I experimented with Twine.</p>
        <p>Because Twine gives you an HTML file to share the story, I thought it is an easy way to share this story here. Looking back I probably would have done some things different, but I still like the characters and I hope that at least someone reading this story likes them a bit, this would be awesome.</p>
        <p>I changed a bit about this story last year when I encountered “Krabat” which I performed for theater, and though I have mixed feelings about the performance and the book as well as it's movie adaptation, the basic idea is intriguing and something I somewhat explored in the earlier version as well, so I wanted to focus on this more <br>
        I might write a blog post about this soon, but I am not sure yet.
        </p>
        <p>Anyway, no idea what I am writing here haha</p>
        <p>By the way, most of my content is <img src="/assets/images/blinkies/cc-zero.png" alt="CC0" height="20px"> meaning in the public domain, so feel free to take anything by me you like (not just this story but also e.g. my blog posts) and remix, write about, copy it what everever your imagination has to offer. <br>
            Also, attribution is always appreciated ❤️!
        </p>
    </main>
</body>