---
layout: none
permalink: /misc/the_stuff.html
title: Links
description: to cool sites and friends, as well as buttons and blinkies
keywords: links, buttons, blinkies, personal
---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Buttons and Links</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="theme-color" content="#ffffff">
  <meta name="author" content="sadlyLink">
  <meta name="date" content="{{page.date}}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="to cool sites and friends, as well as buttons and blinkies">
  <meta name="keywords" content="neocities, code-cafe, links, buttons, blinkies, personal, blog">
 
  <link rel="stylesheet" href="/assets/css/misc.css">
  <link rel="stylesheet" href="/assets/css/the_stuff.css">
  <script src="/assets/js/interact.min.js"></script>
  <meta http-equiv="Content-Security-Policy" content="
  default-src 'self';
  script-src 'self';
  style-src 'self' 'unsafe-inline';
  img-src 'self' data:;
  connect-src 'self';
  font-src 'self';
  media-src 'self';
  object-src 'none';
  frame-src 'self';
  child-src 'self';
  form-action 'self';
">
  {% include favicon.html %}
</head>

<body>

<main>
	<h1 style="text-align:center">It's dangerouse to go alone! <br> Move those:</h1>
	<p>If I have forgotten your button/link please let me now</small>
	 <ul class="buttons" style="padding-left:10px; list-style: none; float: left">
		<li title="super cool layout builder, css tutorials and manifesto">
			<a href="https://sadgrl.online/" target="_blank">sadgrl</a><br><img src="/assets/images/buttons/sadgrlonline.gif" alt="sadgrlonline" class="draggable" >
		</li>
		<li title="unlimited colours, unlimited gifs, unlimited power">
			<a href="https://meowbark2000.neocities.org" target="_blank">Meowbark</a><br><img src="/assets/images/buttons/meowButton.gif" alt="meowbark2000" class="draggable">
		</li>
		<li title="skull goes spinny">
			<a href="https://twansgendew.net/" target="_blank">twansgendew</a><br><img src="/assets/images/buttons/twansButton.gif" alt="twansgendew" class="draggable">
		</li>
		<li title="the about page is one of the most awesome and creative i've ever seen">
			<a href="https://doqmeat.neocities.org/" target="_blank">Doqmeat</a><br><img src="/assets/images/buttons/doqmeatButton.png" alt="doqmeat" class="draggable">
		</li>
		<li title="beware of the spiders">
			<a href="https://trick-916.neocities.org/" target="_blank">Trick-916</a><br><img src="/assets/images/buttons/trick-916-button.gif" alt="trick-916" class="draggable">
		</li>
		<li title="vampire AND catboy!!?!">
			<a href="https://godmode.neocities.org" target="_blank">Godmode</a><br><img src="/assets/images/buttons/godmodeButton.gif" alt="godmode" class="draggable">
		</li>
		<li title="the art is f*ing awesome!">
			<a href="https://anewchanceanewday.neocities.org/" target="_blank">nerds site</a><br><img src="/assets/images/buttons/anewchanceButton.gif" alt="nerds site" class="draggable">
		</li>
		<li title="definitly visit the cat city - so cute!">
			<a href="https://eatsteas.neocities.org/" target="_blank">eatsteas</a><br><img src="/assets/images/buttons/eatsteasnew.gif" alt="eatsteas" class="draggable">
		</li>
		<li title="cute cat images in the photoroom">
			<a href="https://local98.neocities.org" target="_blank">Local98</a><br><img src="/assets/images/buttons/local98button.gif" alt="local98" width=88 height=31 class="draggable">
		</li>
		<li title="cats! + c tutorials - like 'C'ats (sry) ooh maybe C++ats (i stop now)">
			<a href="https://sapphic-cafe.neocities.org" target="_blank">sapphic cafe</a><br><img src="/assets/images/buttons/sapphic-cafe-button.png" alt="lauren she/her" class="draggable">
		</li>
		<li title="super awesome character designs - but I still can't belive grey doesn't like cats!!">
			<a href="https://kiwimeowo.neocities.org/" target="_blank">Kiwimeowo</a><br><img src="/assets/images/buttons/kiwiButton.png" alt="kiwimeowo" class="draggable">
		</li>
		<li title="oh no - sad/angry Death!!!">
			<a href="https://exo.pet/" target="_blank">Exo.pet</a><br><img src="/assets/images/buttons/exopetButton.png" alt="exopetButton" class="draggable">
		</li>
		<li title="glitter - glitter everywhere :heart:">
			<a href="https://sixtoesss.neocities.org//" target="_blank">sixtoesss</a><br><img src="/assets/images/buttons/sixtoesssButton.gif" alt="sixtoesss" class="draggable">
		</li>
		<li title="french + awesome manifesto!!">
			<a href="https://matchaprika.club/" target="_blank">matchaprika</a><br><img src="/assets/images/buttons/matchaprika.png" alt="matchaprika" class="draggable">
		</li>
		<li title="you know - i'm something of a blue enjoyer myself">
			<a href="https://rhinedottir.neocities.org/">rhinedottir</a><br><img src="/assets/images/buttons/rhinedottir.gif" alt="rhinedottir" class="draggable">
		</li>
		<li title="super cool personal site!">
			<a href="https://slaid.neocities.org/" target="_blank">Slaid</a><br><img src="/assets/images/buttons/slaidbeach.png" alt="slaid's beach" class="draggable">
		</li>
		<li title="the animation is super cool and the music!!">
			<a href="https://lilithdev.neocities.org/" target="_blank">lilithdev</a><br><img src="/assets/images/buttons/lilithdevbtn.gif" alt="lilithdevbtn" class="draggable">
		</li>
		<li title="this is all the cuteness manifested in one breathtaking site">
			<a href="https://spider.pink/" target="_blank">Spider's Web</a><br><img src="/assets/images/buttons/spiderbutton.png" alt="spider web" class="draggable">
		</li>
		<li title="a whole CATS SECTION!?!?">
			<a href="https://snowyfin.neocities.org/" target="_blank">Snowyfin</a><br><img src="/assets/images/buttons/SnowyFin.png" alt="snowyfin" class="draggable" width="88">
		</li>
		<li title="plays the ocarina with link - very relatable">
			<a href="https://catboo.neocities.org/" target="_blank">catboo</a><br><img src="/assets/images/buttons/catboo.webp" alt="catboo" class="draggable">
		</li>
		<li title="super creative site">
			<a href="https://astersarchive.neocities.org/" target="_blank">Astersarchive</a><br><img src="/assets/images/buttons/astersarchive.gif" alt="astersarchive" class="draggable">
		</li>
		<li title="I love! the music">
			<a href="https://memer.online" target="_blank">Memer.online</a><br><img src="/assets/images/buttons/memerOnlineButtonHQ.png" style="width: 88px;" alt="memer.online" class="draggable">
		</li>
		<li title="yay an animal crossing fan!">
			<a href="https://crossingtown.neocities.org" target="_blank">Crossingtown</a><br><img src="/assets/images/buttons/crossingtown.gif" alt="crossingtown" class="draggable">
		</li>
		<li title="why can't I stop obfuscating the site!!!!">
			<a href="https://divsel.neocities.org/" target="_blank">Divsel</a><br><img src="/assets/images/buttons/divsel.png" alt="divsel" class="draggable">
		</li>
		<li title="found this site thorugh the ddlc shrine">
			<a href="https://rxqueen.neocities.org/" target="_blank">rxqueen</a><br><img src="/assets/images/buttons/rxqueen.gif" alt="rxqueen" class="draggable">
		</li>
		<li title="awesome comment widget and super cool site">
			<a href="https://virtualobserver.moe" target="_blank">virtualobserver</a><br><img src="/assets/images/buttons/virtualobserverButton.png" alt="virtualobserver" class="draggable">
		</li>
		<li title="definitly need to try out the neocities thumbnail!">
			<a href="https://arandomsite.neocities.org/" target="_blank">A Random Site</a><br><img src="/assets/images/buttons/arandomsite.gif" alt="arandomsite" class="draggable">
		</li>
		<li title="OMG their blahaj is called Greg!! - love it ❤️!">
			<a href="https://deepintheforest.neocities.org/" target="_blank">Eddie's Place</a><br><img src="/assets/images/buttons/deepintheforest.png" alt="DeepInTheForest" class="draggable">
		</li>
		<li title="">
			<a href="https://n-has-a-site.neocities.org" target="_blank">N-has-a-site</a><br><img src="/assets/images/buttons/n-has-a-site.png" title="i love the terminal-blog layout" alt="n-has-a-site" class="draggable">
		</li>
		<li>
			<a href="https://numbersstory.com/">Numbersstory</a><br><img src="/assets/images/buttons/numbersstory.png" title="OMG THE WORLDBUILDING!!!!" alt="numbersstory" class="draggable">
		</li>
		<li>
			<a href="https://bobs-cool-site.neocities.org/" target="_blank">Bobs Cool Site</a></br><img src="/assets/images/buttons/bobsbutton.gif" title="the kosa summary is a must-read!" alt="Bobs Cool Site :3 :3 :3" class="draggable">
		</li>
		<li>
			<a href="https://maddoxxing.neocities.org/" target="_blank">Maddoxing</a><br><img src="/assets/images/buttons/maddoxxing.png" alt="Maddoxxing" title="flippin' dolphines 🐬🐬!!" class="draggable">
		</li>
		<li title="awesome recommndations and cool blog posts">
			<a href="https://thoree.neocities.org/" target="_blank">Thoree</a>
		</li>
		<li title="the essays are super awesome! Really inspiring the writing is stunning (much to read <3)">
			<a href="https://sorbier.neocities.org/blog/animaldreams" target="_blank">sorbier</a>
		</li>
    	<li title="cool music and writing. 2nd person writing is bold but i love it!!">
			<a href="https://kaleidiope.neocities.org/" target="_blank">Kaleidiope</a>
		</li>
		<li title="i especially love the art!">
			<a href="https://bootlegraven.neocities.org/" target="_blank">Bootleg Raven</a>
		</li>
		<li title="love the posts on privacy!">
			<a href="https://colexdev.neocities.org/" target="_blank">colexdev</a>
		</li>
		<li title="ZELDA CONTENT!!!">
			<a href="https://fiercedeity.neocities.org" target="_blank">Fiercedeity</a>
		</li>
		<li title="love the sprites">
			<a href="https://nyazure-dreams.neocities.org/" target="_blank">nyazure-dreams</a>
		</li>
		<li title="philosophy content + awesome fotos and media pages">
			<a href="https://annahilation.neocities.org/" target="_blank">Annahilation</a>
		</li>
		<li title="don't now what to say - just go there and experience it!">
			<a href="https://fauux.neocities.org/" targt="_blank">fauux</a>
		</li>
		<li title="the 'fly me to the moon' cover omfg - love it!!">
			<a href="https://suyu.neocities.org/" target="_blank">Suyu</a>
		</li>
		<li title="cool button creator and funny quizzes - my guardian is a zebra - i feel safe now">
			<a href="https://hekate.neocities.org/" target="_blank">Hekate</a>
		</li>
		<li title="the terminal is super cool!">
			<a href="https://breadpoetso.city" target="_blank">honeybread</a>
		</li>
		<li title="cool ressources and layout">
			<a href="https://eggramen.neocities.org/" target="_blank">Eggramen</a>
		</li>
		<li title="the pictures and art are so cool">
			<a href="https://minkyexplab.neocities.org/" target="_blank">Minky_80</a>
		</li>
		<li title="the writing is awesome">
			<a href="https://mapleverse.neocities.org/" target="_blank">Mapleverse</a>
		</li>
		<li title="the graffiti wall is fucking amazing">
			<a href="https://ninjaweb.neocities.org/" target="_blank">ninjaweb</a>
		</li>
		<li title="awesome to look around">
			<a href="https://3laine.neocities.org/" target="_blank">3laine</a>
		</li>
		<li title="very minimalistic and tech looking style">
			<a href="https://mcv.neocities.org/" target="_blank">MCV</a>
		</li>
		<li>
			<a href="https://artemislena.eu/" target="_blank">artemislena</a>
		</li>
	</ul>
	<div class="button-container">
		<div class="buttons-stuff">
			<!--! 88*31 non-site buttons: -->
			<a href="https://status.cafe" target="_blank"><img src="/assets/images/blinkies/status-cafe.png" alt="Status Cafe"></a>
			<a href='https://blinkies.cafe' target='_blank'><img src='/assets/images/blinkies/blinkiesCafe-badge.gif' alt='blinkies.cafe | make your own blinkies!'></a>
			<a href="https://mozilla.org/en-US/firefox" target="_blank"><img src="/assets/images/blinkies/firefox.gif" alt="firefox" title="use it daily, go fight Chromium!!"></a>
			<a href="https://www.thunderbird.net/en-US/" target="_blank"><img src="/assets/images/blinkies/thunderbird.png" alt="thunderbird" title="I prefer ProtonMail but for my old email account I use it daily"></a>
			<a href="https://en.wikipedia.org/wiki/Astolfo" target="_blank"><img src="/assets/images/blinkies/wikipedia.gif" alt="wikipedia" title="wrote some articles, love the open approach"></a>
			<a href="https://archlinux.org/" target="_blank"><img src="/assets/images/blinkies/arch.png" alt="ArchLinux now"  title="maybe I should add a fedora button too, though I don't use it anymore it has a speicial place in my heart"></a>
			<a href="https://archive.org"><img src="/assets/images/blinkies/ButtonInternetArchive.jpg" alt="Internet Archive"></a>
			<a href="https://www.mabsland.com/Adoption.html"><img src="/assets/images/blinkies/Censor_14c.gif" alt="Web 14"></a>
			<img src="/assets/images/blinkies/socks.png" alt="programming socks NOW!" class="draggable">
			<img src="/assets/images/blinkies/nonazi.gif" alt="no nazis here!" class="draggable">
			<img src="/assets/images/blinkies/wwwbutton.gif" alt="www - connecting people since 1991" class="draggable">
			<a href="https://www.torproject.org/" target="_blank"><img src="/assets/images/blinkies/tor.gif" alt="TOR"></a>
			<a href="https://emailselfdefense.fsf.org/en/infographic.html" target="_blank"><img src="/assets/images/blinkies/privacynow.jpg" alt="Privacy NOW!" title="encrypt with OpenPGP!"></a>
			<a href="https://www.eff.org/pages/blue-ribbon-campaign" target="_blank"><img src="/assets/images/blinkies/lilrib.gif" alt="blue ribbon - free speech"></a>
			<img src="/assets/images/blinkies/blasphemy.gif" alt="digital blasphemy" class="draggable">
			<img src="/assets/images/blinkies/css_is_awesome.gif" alt="css is awe sOmEEEE" class="draggable">
			<img src="/assets/images/blinkies/cc-zero.png" alt="cc-zero" width="88" class="draggable">
			<img src="/assets/images/blinkies/open-content.gif" alt="open content" title="my content on this site is in the public domain btw" class="draggable">
			<a href="https://joinmastodon.org/" target="_blank"><img src="/assets/images/blinkies/leave-twitter.gif" alt="leave twitter - join mastodon"></a>
			<img src="/assets/images/blinkies/dont-feed-the-ai.gif" alt="don't feed the AI" class="draggable">
			<a href="https://bobs-cool-site.neocities.org/pages/rambles/KOSAmirror" target="_blank"><img src="/assets/images/blinkies/kosaButton.gif" alt="protect freespeech - stop KOSA"></a>
			<a href="https://yesterweb.org/no-to-web3/" target="_blank"><img src="/assets/images/blinkies/saynotoweb3.gif" alt="say no to web 3"></a>
			<a href="https://everestpipkin.medium.com/but-the-environmental-issues-with-cryptoart-1128ef72e6a3" target="_blank"><img src="/assets/images/blinkies/nft.gif" alt="NFT? - No fucking thanks!"></a>
			<img src="/assets/images/blinkies/nofuckingthanks.gif" alt="No Fucking Thanks" class="draggable">
			<img src="/assets/images/blinkies/anybrow.gif" alt="best viewed with any browser!" class="draggable">
			<img src="/assets/images/blinkies/best_viewed_with_eyes.gif" alt="Best viewed with Eyes" class="draggable">
			<img src="/assets/images/blinkies/pn.gif" alt="Peace NOW!" class="draggable">
			<img src="/assets/images/blinkies/vi_now.gif" alt="VI now" title="the programming tool, not the LOL-Character...I think(?)" class="draggable">
			<a href="https://nvchad.com/" target="_blank"><img src="/assets/images/blinkies/neovim.gif" alt="made with neovim"></a>
			<img src="/assets/images/blinkies/encrypt_everything.png" alt="Hey, encrypt EVERYTHING!" class="draggable">
			<img src="/assets/images/blinkies/png_now.png" alt="PNG now" class="draggable">
			<img src="/assets/images/blinkies/no-webp.gif" alt="No WEBP - just use PNG" class="draggable">
			<img src="/assets/images/blinkies/poweredbymac.gif" alt="powerd by mac" class="draggable">
			<img src="/assets/images/blinkies/hatemac.gif" alt="I hate mac" class="draggable">
			<img src="/assets/images/blinkies/hatems.gif" alt="I hate Microsoft" class="draggable">
			<img src="/assets/images/blinkies/linuxnow.jpg" alt="LinuxNOW!" class="draggable">
			<img src="/assets/images/blinkies/spidey-now.gif" alt="Spidey NOW!">
			<img src="/assets/images/blinkies/apocalypse-now.gif" alt="Apocalypse NOW!" class="draggable">
			<img src="/assets/images/blinkies/anarchy-now.gif" alt="anarchy NOW!" class="draggable">
			<img src="/assets/images/blinkies/delete-tiktok.jpg" alt="Delete TikTok" class="draggable">
			<img src="/assets/images/blinkies/ditch-social-media-now.gif" alt="ditch social media NOW!">
			<a href="https://neocities.org/" target="_blank"><img src="/assets/images/blinkies/delete-twitter.gif" alt="delete twitter - make a Neocities"></a>
			<a href="https://neocities.org/" trget="_blank"><img src="/assets/images/blinkies/neocities-internet.gif" alt="Neocities - the web is yours"></a>
			<img src="/assets/images/blinkies/neocitiesbadge.svg" alt="hosted on neocities" class="draggable">
			<a href="https://www.ruby-lang.org/en/documentation/quickstart/" target="_blank"><img src="/assets/images/blinkies/PoweredByRuby.png" alt="powered by ruby"></a>
			<img src="/assets/images/blinkies/screw-cars.gif" alt="screw cars - ride a bike" class="draggable">
			<img src="/assets/images/blinkies/discord-no-way.gif" alt="Discord? - no way!" class="draggable">
			<a href="https://joinmatrix.org/" target="_blank"><img src="/assets/images/blinkies/matrix-now.png" alt="Matrix NOW!"></a>
			<a href="https://joinmastodon.org/" target="_blank"><img src="/assets/images/blinkies/mastodon.gif" alt="Use Mastodon!"></a>
			<a href="https://fedi.tips/" target="_blank"><img src="/assets/images/blinkies/join-the-fediverse.gif" alt="join the fediverse"></a>
			<a href="https://www.gimp.org/" target="_blank"><img src="/assets/images/blinkies/gimp.gif" alt="use GIMP!"></a>
			<a href="https://duckduckgo.com/" target="_blank"><img src="/assets/images/blinkies/googol.gif" alt="googol" title="screw google!"></a>
			<a href="https://openlibrary.org/works/OL1168083W/Nineteen_Eighty-Four" target="_blank"><img src="/assets/images/blinkies/big-brother-is-watching.gif" alt="Big Brother is Watching"></a>
			<a href="https://gutenberg.org/" target="_blank"><img src="/assets/images/blinkies/GUTENBRG.gif" alt="Project Gutenberg"></a>
			<img src="/assets/images/blinkies/buttons-now.gif" alt="Buttons NOW!" class="draggable">
			<a href="https://en.wikipedia.org/wiki/Timeline_of_piracy" target="_blank"><img src="/assets/images/blinkies/piracy.gif" alt="piracy"></a>
			<img src="/assets/images/blinkies/ipv6.gif" alt="ipv6 available" class="draggable">
			<img src="/assets/images/blinkies/neocitizensrock.gif" alt="NeoCitizens Rock" class="draggable">
			<img src="/assets/images/blinkies/wget.gif" alt="I surf with WGET and you?" class="draggable">
			<a href="https://ublockorigin.com/" target="_blank"><img src="/assets/images/blinkies/ublock.png" alt="uBlock NOW!"></a>
		</div>
	</div>
	<!--TODO ?? add a blinkies section ?? -->
	<hr>
	<ul class="buttons" style="padding-left:10px; list-style: none; float: left">
		<li>
			<img src="/assets/images/gifs/cat.gif" alt="cat" height="200px" class="draggable">
		</li>
		<li>
			<img src="/assets/images/avatars/avatar.JPG" alt="avatar1" class="draggable" height="100px">
		</li>
		<li>
			<img src="/assets/images/avatars/avatar5.GIF" alt="avtar5" class="draggable" width="200px">
		</li>
		<li>
			<img src="/assets/images/gifs/madness-c3po.gif" alt="This is madness" class="draggable" height="150px">
		</li>
		<li>
			<img src="/assets/images/gifs/definitlyZelda.gif" alt="This is definitly Zelda" class="draggable" width="200px">
		</li>
		<li>
			<img src="/assets/images/blinkies/more-coffee.gif" alt="more COOFFEE!!!!!" class="draggable">
		</li>
		<li>
			<img src="/assets/images/blinkies/blackgreen.gif" alt="blackgreen" class="draggable">
		</li>
		<li>
			<img src="/assets/images/blinkies/mainframe.gif" alt="mainframe" class="draggable">
		</li>
		<li title="this site sadly doesn't use cookies">
			<img src="/assets/images/blinkies/darthCookies.gif" alt="cookies" class="draggable">
		</li>
		<li>
			<img src="/assets/images/gifs/nyancat.gif" alt="NAYN" class="draggable"> 
		</li>
	</ul>

	<script src="/assets/js/draggable.js"></script> <!-- Code by https://sadgrl.online-->
</main>
</body>
</html>
