---
layout: none
title: About
permalink: /about/
description: This is my about page. I'm a computer science student. Contact me if you like; I will respond (eventually).
keywords: about, school, life, philosophy, computer science, video games, books
date: 2024-08-15
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>
    <meta name="author" content="sadlyLink">
    <meta name="date" content="{{page.date}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{page.description}}">
    <meta name="keywords" content="neocities, sadlyLink, sadly.link, sadly-link, sadly link,{{page.keywords}}, blog, code-cafe, code cafe">
    <meta name="theme-color" content="#000000">
    <meta http-equiv="Content-Security-Policy" content="
      default-src 'self';
      script-src 'self';
      style-src 'self' 'unsafe-inline';
      img-src 'self' data:;
      connect-src 'self';
      font-src 'self';
      media-src 'self';
      object-src 'none';
      frame-src 'self';
      child-src 'self';
      form-action 'self';
    ">
    {% include favicon.html %}
    <link href="/assets/css/about.css" rel="stylesheet">
</head>
<body>
<nav class="navbar">
    <ul>
        <li>| <a href="/home/" tabindex="0">Home</a> |</li>
        <li>| <a href="/blog/" tabindex="0">Blog</a> |</li>
        <li>| <a href="/misc/">Misc</a>|</li>
        <li>| <a href="/misc/the_stuff">Buttonwall</a> |</li>
        <li>| <a href="/misc/lists">Lists</a> |</li>
        <li>| <a href="/misc/The_Dream_You_Give">Short Story</a> |</li>
        <li>| <a href="/about/">About</a> |</li>
        <li>| <a href="/about/positions">Positions</a> |</li>
        <li>| <a href="/guestbook.html">Guestbook</a> |</li>
    </ul>
</nav>
<nav class="navbar kawaii">
    <ul>
        <li><a href="#about-me">About Me</a></li>
        <li><a href="#about-blog">About the Blog</a></li>
        <li><a href="#socials">My Socials</a></li>
        <li><a href="#contact">Contact/<br>Encryption</a></li>
        <li><a href="#my-quotes">Goodreads Quotes</a></li>
    </ul>
</nav>
<div class="about-page">
    <div class="card about-me">
        <h2 id="about-me">About Me</h2>
        <div class="avatar-container">
            <figure aria-live="polite">
                <img class="avatar" id="avatar1" src="/assets/images/avatars/avatar.JPG" alt="Avatar 1" style="display: block;" tabindex="0">
                <img class="avatar" id="avatar2" src="/assets/images/avatars/avatar2.JPG" alt="Avatar 2" style="display: none;" tabindex="0">
                <img class="avatar" id="avatar3" src="/assets/images/gifs/definitlyZelda.gif" alt="Avatar 3" style="display: none;" tabindex="0">
                <img class="avatar" id="avatar4" src="/assets/images/avatars/avatar4.JPG" alt="Avatar 4" style="display: none;" tabindex="0">
                <img class="avatar" id="avatar5" src="/assets/images/avatars/avatar5.GIF" alt="Avatar 5" style="display: none;" tabindex="0">
                <figcaption><small>Try clicking the avatar</small></figcaption>
            </figure>
            <script src="/assets/js/avatar-switch.js"></script>

            <ul>
                <li>I currently <span id="study">study in Germany</span></li>
                <li>My pronouns are <span id="pronouns">he/him</span></li>
                <li>I play theatre (see Avatar 4) and I love to write.</li>
                <li>I'm a huge <span id="interests">Zelda</span> and <span id="interests">Star Wars</span> fan -- so be careful what you say about those /s</li>
            </ul>
        </div>
        <p>You find my positions and opinions to some important aspects for me under my <a href="/about/positions.html">positions page</a> and some entries of my life and stupid thoughts on the <a href="/misc">Miscellaneous</a> page.</p>
        <div class="scrollable-images">
            <img src="/assets/images/blinkies/personal/student.png" alt="student">
            <img src="/assets/images/blinkies/personal/european.png" alt="european">
            <img src="/assets/images/blinkies/personal/he-him-blue.png" alt="he/him">
            <img src="/assets/images/blinkies/personal/german-nativ.png" alt="german-nativ">
            <img src="/assets/images/blinkies/personal/english-2nd.png" alt="english-2nd">
            <img src="/assets/images/blinkies/personal/books.png" alt="likes books">
            <img src="/assets/images/blinkies/personal/theatre.png" alt="likes theater">
            <img src="/assets/images/blinkies/personal/poetry.png" alt="likes poetry">
            <img src="/assets/images/blinkies/personal/star-wars.png" alt="likes sw">
            <img src="/assets/images/blinkies/personal/animal-crossing.png" alt="likes animal crossing">
            <img src="/assets/images/blinkies/personal/loz.png" alt="likes LoZ">
            <img src="/assets/images/blinkies/personal/introverted.png" alt="introverted">
            <img src="/assets/images/blinkies/personal/left-handed.png" alt="left-handed">
            <a href="https://www1.flightrising.com/forums/cc/3078623" target="_blank"><img src="/assets/images/blinkies/personal/free-buttons.png" alt="Flight Rising: Free Buttons"></a>
        </div>
    </div> 

    <div class="card about-blog">
        <h2 id="about-blog">About the Blog</h2>
        <p>
            For quite some time, I played with the idea of having my own blog. <br>
            I tried different things until I found a platform that I was comfortable with, thanks to a <a href="https://thoree.neocities.org">friend</a>.<br>
            Also, take the opportunity to have a look at those other <a href="/thanks.html">great people</a> who made this site possible and the awesome
            blogs on the <a href="/misc/the_stuff.html">Buttonwall</a>.
        </p>
        <hr>
        <p>
            I love Easter eggs, so I couldn't stop myself from adding a few on my site, especially in the start terminal.
        </p>
        <hr>
        <p>
            My Neocities name is "code-cafe," inspired by my interest in computer science, where I planned to write about coding and technical stuff ("code") and combine it with personal experiences, and philosophy ("cafe"). <br>
            I chose the custom domain "sadly.link" because "sadlyLink" is one of my more frequently used online usernames; "Link" references the protagonist from the Zelda games, while "sadly" just sounds neat to me, 
            and I enjoy the nonsensical nature of "sadly link"—who would be sad as Link? 😅 :3
        </p>
    </div>

    <div class="card socials">      
        <h2 id="socials">My Socials</h2>
        <p>Feel free to contact me if you like. I will respond (eventually).</p>
        <div class="aLinkToThePast">
            <a href="mailto:info@sadly.link" title="Email"><svg xmlns="https://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-envelope-at-fill" viewBox="0 0 16 16" alt="Email">
                <path d="M2 2A2 2 0 0 0 .05 3.555L8 8.414l7.95-4.859A2 2 0 0 0 14 2zm-2 9.8V4.698l5.803 3.546zm6.761-2.97-6.57 4.026A2 2 0 0 0 2 14h6.256A4.5 4.5 0 0 1 8 12.5a4.49 4.49 0 0 1 1.606-3.446l-.367-.225L8 9.586zM16 9.671V4.697l-5.803 3.546.338.208A4.5 4.5 0 0 1 12.5 8c1.414 0 2.675.652 3.5 1.671"/>
                <path d="M15.834 12.244c0 1.168-.577 2.025-1.587 2.025-.503 0-1.002-.228-1.12-.648h-.043c-.118.416-.543.643-1.015.643-.77 0-1.259-.542-1.259-1.434v-.529c0-.844.481-1.4 1.26-1.4.585 0 .87.333.953.63h.03v-.568h.905v2.19c0 .272.18.42.411.42.315 0 .639-.415.639-1.39v-.118c0-1.277-.95-2.326-2.484-2.326h-.04c-1.582 0-2.64 1.067-2.64 2.724v.157c0 1.867 1.237 2.654 2.57 2.654h.045c.507 0 .935-.07 1.18-.18v.731c-.219.1-.643.175-1.237.175h-.044C10.438 16 9 14.82 9 12.646v-.214C9 10.36 10.421 9 12.485 9h.035c2.12 0 3.314 1.43 3.314 3.034zm-4.04.21v.227c0 .586.227.8.581.8.31 0 .564-.17.564-.743v-.367c0-.516-.275-.708-.572-.708-.346 0-.573.245-.573.791"/>
            </svg> E-mail</a>

            <a href="https://github.com/sadlyLink" target="_blank" title="GitHub"><svg xmlns="https://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
                <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27s1.36.09 2 .27c1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.01 8.01 0 0 0 16 8c0-4.42-3.58-8-8-8"/>
            </svg> GitHub</a> 

            <a href="https://gitlab.com/sadlylink" target="_blank" title="GitLab"><svg xmlns="https://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-gitlab" viewBox="0 0 16 16">
                <path d="m15.734 6.1-.022-.058L13.534.358a.57.57 0 0 0-.563-.356.6.6 0 0 0-.328.122.6.6 0 0 0-.193.294l-1.47 4.499H5.025l-1.47-4.5A.572.572 0 0 0 2.47.358L.289 6.04l-.022.057A4.044 4.044 0 0 0 1.61 10.77l.007.006.02.014 3.318 2.485 1.64 1.242 1 .755a.67.67 0 0 0 .814 0l1-.755 1.64-1.242 3.338-2.5.009-.007a4.05 4.05 0 0 0 1.34-4.668Z"/>
            </svg> GitLab</a>
            <!-- https://codeberg.org/Codeberg/Design/src/branch/main/logo/icon/svg/codeberg-logo_icon_white.svg?display=source# --->
	<a href="https://codeberg.org/sadlyLink" target="_blank" title="Codeberg"><?xml version="1.0" encoding="UTF-8" standalone="no"?><svg width="16" height="16" viewBox="0 0 4.2333332 4.2333335" version="1.1" id="svg1468"   sodipodi:docname="codeberg-logo_icon_white.svg"   inkscape:version="1.2-alpha1 (b6a15bb, 2022-02-23)"   inkscape:export-filename="/home/robert/Documents/Codeberg/Logo-Kit/svg/Codeberg-favicon_64px.png"   inkscape:export-xdpi="384"   inkscape:export-ydpi="384"   xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"   xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"   xmlns:xlink="http://www.w3.org/1999/xlink"   xmlns="http://www.w3.org/2000/svg"   xmlns:svg="http://www.w3.org/2000/svg"   xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"   xmlns:cc="http://creativecommons.org/ns#"   xmlns:dc="http://purl.org/dc/elements/1.1/">  <title  id="title16">Codeberg logo</title>  <defs  id="defs1462"> <linearGradient xlink:href="#linearGradient6924" id="linearGradient6918" x1="42519.285" y1="-7078.7891" x2="42575.336" y2="-6966.9307" gradientUnits="userSpaceOnUse" /> <linearGradient id="linearGradient6924">   <stop   style="stop-color:#2185d0;stop-opacity:0"   offset="0"   id="stop6920" />   <stop   id="stop6926"   offset="0.49517274"   style="stop-color:#2185d0;stop-opacity:0.48923996" />   <stop   style="stop-color:#2185d0;stop-opacity:0.63279623"   offset="1"   id="stop6922" /> </linearGradient> <linearGradient xlink:href="#linearGradient6924-6" id="linearGradient6918-3" x1="42519.285" y1="-7078.7891" x2="42575.336" y2="-6966.9307" gradientUnits="userSpaceOnUse" /> <linearGradient id="linearGradient6924-6">   <stop  style="stop-color:#ffffff;stop-opacity:0;"  offset="0"   id="stop6920-7" />   <stop   id="stop6926-5"   offset="0.49517274"   style="stop-color:#ffffff;stop-opacity:0.30000001;" />   <stop   style="stop-color:#ffffff;stop-opacity:0.30000001;"   offset="1"   id="stop6922-3" /> </linearGradient>  </defs>  <sodipodi:namedview  showborder="false"  id="base"  pagecolor="#000000"  bordercolor="#666666"  borderopacity="1.0"  inkscape:pageopacity="0"  inkscape:pageshadow="2"  inkscape:zoom="22.627417"  inkscape:cx="2.8505242"  inkscape:cy="18.274291"  inkscape:document-units="px"  inkscape:current-layer="svg1468"  inkscape:document-rotation="0"  showgrid="false"  fit-margin-top="0"  fit-margin-left="0"  fit-margin-right="0"  fit-margin-bottom="0"  units="px"  inkscape:snap-global="false"  inkscape:snap-page="true"  showguides="false"  inkscape:window-width="1531"  inkscape:window-height="873"  inkscape:window-x="69"  inkscape:window-y="27"  inkscape:window-maximized="1"  inkscape:pagecheckerboard="0"  inkscape:deskcolor="#d1d1d1"> <inkscape:grid type="xygrid" id="grid2067" />  </sodipodi:namedview>  <metadata  id="metadata1465"> <rdf:RDF>   <cc:Work   rdf:about="">  <dc:format>image/svg+xml</dc:format>  <dc:type  rdf:resource="http://purl.org/dc/dcmitype/StillImage" />  <dc:title>Codeberg logo</dc:title>  <cc:license  rdf:resource="http://creativecommons.org/publicdomain/zero/1.0/" />  <dc:creator> <cc:Agent>   <dc:title>Robert Martinez</dc:title> </cc:Agent>  </dc:creator>  <dc:rights> <cc:Agent>   <dc:title>Codeberg and the Codeberg Logo are trademarks of Codeberg e.V.</dc:title> </cc:Agent>  </dc:rights>  <dc:date>2020-04-09</dc:date>  <dc:publisher> <cc:Agent>   <dc:title>Codeberg e.V.</dc:title> </cc:Agent>  </dc:publisher>  <dc:source>codeberg.org</dc:source>   </cc:Work>   <cc:License rdf:about="http://creativecommons.org/publicdomain/zero/1.0/"><cc:permits rdf:resource="http://creativecommons.org/ns#Reproduction" /><cc:permits rdf:resource="http://creativecommons.org/ns#Distribution" /><cc:permits rdf:resource="http://creativecommons.org/ns#DerivativeWorks" /></cc:License></rdf:RDF></metadata><g  id="g370484"  inkscape:label="logo"  transform="matrix(0.06551432,0,0,0.06551432,-2.232417,-1.431776)"><path id="path6733-5" style="font-variation-settings:normal;opacity:1;vector-effect:none;fill:url(#linearGradient6918-3);fill-opacity:1;stroke:none;stroke-width:3.67846;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:2;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;paint-order:stroke markers fill;stop-color:#000000;stop-opacity:1" d="m 42519.285,-7078.7891 a 0.76086879,0.56791688 0 0 0 -0.738,0.6739 l 33.586,125.8886 a 87.182358,87.182358 0 0 0 39.381,-33.7636 l -71.565,-92.5196 a 0.76086879,0.56791688 0 0 0 -0.664,-0.2793 z" transform="matrix(0.37058478,0,0,0.37058478,-15690.065,2662.0533)" inkscape:label="berg" /><path id="path360787" style="opacity:1;fill:#ffffff;fill-opacity:1;stroke-width:17.0055;paint-order:markers fill stroke;stop-color:#000000" d="m 11249.461,-1883.6961 c -12.74,0 -23.067,10.3275 -23.067,23.0671 0,4.3335 1.22,8.5795 3.522,12.2514 l 19.232,-24.8636 c 0.138,-0.1796 0.486,-0.1796 0.624,0 l 19.233,24.8646 c 2.302,-3.6721 3.523,-7.9185 3.523,-12.2524 0,-12.7396 -10.327,-23.0671 -23.067,-23.0671 z" sodipodi:nodetypes="sccccccs" inkscape:label="sky" transform="matrix(1.4006354,0,0,1.4006354,-15690.065,2662.0533)" /></g></svg> Codeberg</a>

            <a rel="me" href="https://myanimelist.net/profile/sadlyLink" target="_blank" title="My Anime List"><svg xmlns="https://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-book-half" viewBox="0 0 16 16">
                <path d="M8.5 2.687c.654-.689 1.782-.886 3.112-.752 1.234.124 2.503.523 3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783"/>
            </svg> AnimeList</a>
            <a href="https://simplex.chat/contact#/?v=2-4&smp=smp%3A%2F%2F6iIcWT_dF2zN_w5xzZEY7HI2Prbh3ldP07YTyDexPjE%3D%40smp10.simplex.im%2Fzo5c0wWcyVdEjb-SaUkfwpY1Spzq7PZs%23%2F%3Fv%3D1-2%26dh%3DMCowBQYDK2VuAyEADluQTvCj_90InR9Xuy_dhcXz3szRJhqds6mPIJcWtDQ%253D%26srv%3Drb2pbttocvnbrngnwziclp2f4ckjq65kebafws6g4hy22cdaiv5dwjqd.onion" target="_blank">
                <svg xmlns="https://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat-dots-fill" viewBox="0 0 16 16">
                    <path d="M16 8c0 3.866-3.582 7-8 7a9 9 0 0 1-2.347-.306c-.584.296-1.925.864-4.181 1.234-.2.032-.352-.176-.273-.362.354-.836.674-1.95.77-2.966C.744 11.37 0 9.76 0 8c0-3.866 3.582-7 8-7s8 3.134 8 7M5 8a1 1 0 1 0-2 0 1 1 0 0 0 2 0m4 0a1 1 0 1 0-2 0 1 1 0 0 0 2 0m3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2"/>
                </svg>
                SimpleX Chat
            </a>
            <a href="https://piclog.blue/profile.php?id=250" target="_blank">
                <svg xmlns="https://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-camera-fill" viewBox="0 0 16 16">
                    <path d="M10.5 8.5a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0"/>
                    <path d="M2 4a2 2 0 0 0-2 2v6a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2h-1.172a2 2 0 0 1-1.414-.586l-.828-.828A2 2 0 0 0 9.172 2H6.828a2 2 0 0 0-1.414.586l-.828.828A2 2 0 0 1 3.172 4zm.5 2a.5.5 0 1 1 0-1 .5.5 0 0 1 0 1m9 2.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0"/>
                </svg>
                Piclog
            </a>
            <a href="https://status.cafe/users/code-cafe" target="_blank">
            <svg xmlns="https://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cup-hot-fill" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M.5 6a.5.5 0 0 0-.488.608l1.652 7.434A2.5 2.5 0 0 0 4.104 16h5.792a2.5 2.5 0 0 0 2.44-1.958l.131-.59a3 3 0 0 0 1.3-5.854l.221-.99A.5.5 0 0 0 13.5 6zM13 12.5a2 2 0 0 1-.316-.025l.867-3.898A2.001 2.001 0 0 1 13 12.5"/>
                <path d="m4.4.8-.003.004-.014.019a4 4 0 0 0-.204.31 2 2 0 0 0-.141.267c-.026.06-.034.092-.037.103v.004a.6.6 0 0 0 .091.248c.075.133.178.272.308.445l.01.012c.118.158.26.347.37.543.112.2.22.455.22.745 0 .188-.065.368-.119.494a3 3 0 0 1-.202.388 5 5 0 0 1-.253.382l-.018.025-.005.008-.002.002A.5.5 0 0 1 3.6 4.2l.003-.004.014-.019a4 4 0 0 0 .204-.31 2 2 0 0 0 .141-.267c.026-.06.034-.092.037-.103a.6.6 0 0 0-.09-.252A4 4 0 0 0 3.6 2.8l-.01-.012a5 5 0 0 1-.37-.543A1.53 1.53 0 0 1 3 1.5c0-.188.065-.368.119-.494.059-.138.134-.274.202-.388a6 6 0 0 1 .253-.382l.025-.035A.5.5 0 0 1 4.4.8m3 0-.003.004-.014.019a4 4 0 0 0-.204.31 2 2 0 0 0-.141.267c-.026.06-.034.092-.037.103v.004a.6.6 0 0 0 .091.248c.075.133.178.272.308.445l.01.012c.118.158.26.347.37.543.112.2.22.455.22.745 0 .188-.065.368-.119.494a3 3 0 0 1-.202.388 5 5 0 0 1-.253.382l-.018.025-.005.008-.002.002A.5.5 0 0 1 6.6 4.2l.003-.004.014-.019a4 4 0 0 0 .204-.31 2 2 0 0 0 .141-.267c.026-.06.034-.092.037-.103a.6.6 0 0 0-.09-.252A4 4 0 0 0 6.6 2.8l-.01-.012a5 5 0 0 1-.37-.543A1.53 1.53 0 0 1 6 1.5c0-.188.065-.368.119-.494.059-.138.134-.274.202-.388a6 6 0 0 1 .253-.382l.025-.035A.5.5 0 0 1 7.4.8m3 0-.003.004-.014.019a4 4 0 0 0-.204.31 2 2 0 0 0-.141.267c-.026.06-.034.092-.037.103v.004a.6.6 0 0 0 .091.248c.075.133.178.272.308.445l.01.012c.118.158.26.347.37.543.112.2.22.455.22.745 0 .188-.065.368-.119.494a3 3 0 0 1-.202.388 5 5 0 0 1-.252.382l-.019.025-.005.008-.002.002A.5.5 0 0 1 9.6 4.2l.003-.004.014-.019a4 4 0 0 0 .204-.31 2 2 0 0 0 .141-.267c.026-.06.034-.092.037-.103a.6.6 0 0 0-.09-.252A4 4 0 0 0 9.6 2.8l-.01-.012a5 5 0 0 1-.37-.543A1.53 1.53 0 0 1 9 1.5c0-.188.065-.368.119-.494.059-.138.134-.274.202-.388a6 6 0 0 1 .253-.382l.025-.035A.5.5 0 0 1 10.4.8"/>
                </svg>
                Status Cafe
            </a>
            <a href="https://matrix.to/#/@sadly_link:matrix.org" target="_blank">
                [m] Matrix
            </a>
        </div>
        <p>You can verify my ownership over some of these accounts via 🔑 <a href="https://keyoxide.org/aspe:keyoxide.org:3SNJRUZK32FR7YZFBJ3G5N6FBA" title="aspe:keyoxide.org:3SNJRUZK32FR7YZFBJ3G5N6FBA" target="_blank">Keyoxide</a></p>
    </div>

    <div class="card contact">
        <h2 id="contact">Contact/Encryption</h2>
        <p>You can reach me through the platforms listed above. For secure communication, I recommend using encryption. Below are details on how to contact me securely (Matrix is also a good option).</p>
        <p>For added security, please visit my <a href="verify.html" title="Verify my public keys and fingerprints">verify page</a> to access my public keys and fingerprints, along with those from various projects, which helps ensure the authenticity of communications and downloads.</p>
        <section class="key-section">
            <h3>Secure Email Communication</h3>
            <details>
            <summary><strong>Using PGP for encryption:</strong></summary>
                <p>Email communication can be encrypted using PGP for enhanced security and privacy. If you use ProtonMail messages to me are encrypted by default. Learn more about PGP encryption: [<a href="https://proton.me/blog/what-is-pgp-encryption" title="Learn about PGP Encryption" target="_blank">What is PGP Encryption?</a>] Or try out <a href="https://pr.tn/ref/DQ4YSBS8AAY0" target="_blank">ProtonMail</a> <small>(This is a referral link)</small></p>
                <ul>
                <li>
                    <strong>Public Key:</strong>
                    <a href="https://mail-api.proton.me/pks/lookup?op=get&search=info@sadly.link" target="_blank">Download via Proton API</a>
                </li>
                    <li><strong>Key Fingerprint:</strong> <code class="public-key">ddfa 6688 b972 c079 9047 4c72 ced4 01ad 798e 0de1</code></li>
                    <li>Or download the key via <a href="https://keys.openpgp.org/search?q=info%40sadly.link" target="_blank">keys.openpgp.org</a></li>
                    <li>Alternativly, you can also <a href="/assets/publickey.info@sadly.link-ddfa6688b972c07990474c72ced401ad798e0de1.asc" 
                    title="Download My Public PGP Key" download="publickey.info@sadly.link-ddfa6688b972c07990474c72ced401ad798e0de1.asc">
                   download the key from this site</a></li>
                </ul>
            </details>
            <br>
            <details>
            <summary><strong>Using Kryptor for encryption:</strong></summary>
                <p>Kryptor aims to provide an even more secure alternative to age and minisign for encryption and signing, respectively, while being more user-friendly, concise, and modern than GPG. For more information, visit the project's website: <a href="https://kryptor.co.uk" target="_blank">kryptor.co.uk</a>.</p>
                <ul>
			<li><strong>Encryption Public Key:</strong> <code class="public-key">Cu//ULWhh4BN+7XQSuEzgrju3cWgtBA5ObDDYr3aA/imsRc=</code></li>
			<li><strong>Signing Public Key:</strong> <code class="public-key">Ed//HH3ru7EjBZcKBxaHicMqYNtYRxYxkdcXVaTNnFT5xPU=</code></li>
                </ul>
            </details>
        </section>

        <h3>SimpleX Chat</h3>
        <p>SimpleX is more private and secure than Email, because it includes <a href="https://en.wikipedia.org/wiki/Forward_secrecy" target="_blank">forward secrecy</a> and less metadata.</p>
        <p>It also doesn't collect <strong>any (!)</strong> personal identifiable information, so you can message me absolutely privately. Nonetheless, it is pretty new. Take a look around their website if you're interested: <a href="https://simplex.chat" target="_blank">SimpleX.Chat</a></p>	
        <details>
            <summary><strong>QR-Code to connect</strong></summary>
            <img src="/assets/images/site-images/SimpleX.png" height="300px" alt='You can find the QR-Code via the "SimpleX Chat" link right below the "My socials"-heading'>
        </details>
    </div>
    
    <div class="card quotes">
        <h2 id="my-quotes">My Quotes</h2>
        <div id="gr_quote_body">
            "Because I could not stop for Death – <br/>He kindly stopped for me –  <br/>The Carriage held but just Ourselves –  <br/>And Immortality." &mdash; <a href="https://en.wikipedia.org/w/index.php?search=Emily_Dickinson" title="Quote by" target="_blank">Emily Dickinson</a>
        </div>
    </div>
    <script src="/assets/js/quotes.js"></script>

    </div>
    <footer class="footer">
        <div class="footer-content">
            <p>
                <a href="/thanks.html">thanks-page</a> ❤️ | 
                <a href="/privacy-policy.html">privacy</a> 🔐 
            </p>
            <p>Unless otherwise noted, <b>my content</b> is licensed</p>
            <p>with ❤️ under <b>CC0 Public Domain</b>, 2023-2024</p>
            <img src="/assets/images/blinkies/neocitiesbadge.svg" alt="hosted via neocities">
        </div>
    </footer>
    </div>
</body>
</html>
