---
layout: none
permalink: /about/verify.html
date: 2024-10-03
---
<!DOCTYPE html>
<html>
<head>
  <title>Verify Page</title>
  <meta name="author" content="sadlyLink">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Verify Page of sadlyLink's Neocities Blog. Here you can find my PGP Key and Fingerpirnt, Kryptor Keys, and other fingerprints and ressources to verify this page and other PGP Fingerprints, like Qubes Master Signing Key.">
    <meta http-equiv="content-language" content="en">
    <meta name="date" content="{{ page.date | date: "%Y-%m-%d" }}">
    <meta name="keywords" content="sadlyLink, sadly.link, sadly-link, sadly link, neocities, blog, privacy, security, personal blog, transparency, verify, openpgp, kryptor, fingerprint, pgp fingerprint, public key, qubes master signing key, qubes msk, public keys, PGP, Kryptor, encryption, verify page, fingerprints, VeraCrypt, Qubes OS, Tor, Tails, Proton CA, secure communication, web of trust, digital signatures, privacy, security, cryptography, key verification, trusted software">
    <link rel="stylesheet" href="/assets/css/verify.css">
    <meta name="Content-Security-Policy" content="default-src 'self'; style-src 'self'; script-src 'none'; img-src 'self'; font-src 'self';">
    {% include favicon.html %}
</head>
<body>
	<h1>Verify Page</h1>
	<a href="/about" class="email"><== r e t u r n</a>
	<p>This page is inspired by the verify page by <a href="https://artemislena.eu/services/verify.html" target="_blank">artemislena</a>.</p>
	<p>Besides my Kryptor public keys and links to my OpenPGP publickey and its fingerprint. You can also find the OpenPGP Fingerprints of different projects.</p>
	<p>This can be especially helpful to create a <a href="https://en.wikipedia.org/wiki/Web_of_trust" target="_blank">Web of Trust</a> and verify from more sources that you downloaded the correct keys. I will add more fingerprints in the future. The fingerprints below are verified by me from many different sources, different devices, browser engines, VPN and TOR connections.</p>

	<h2>Public Keys</h2>
	<ul>
		<li>OpenPGP Key for info@sadly.link: Download from <a href="https://mail-api.proton.me/pks/lookup?op=get&search=info@sadly.link">Proton</a> (source) or <a href="https://keys.openpgp.org/search?q=info%40sadly.link">keys.openpgp.org</a> (uploaded by me)</li>
		<li>OpenPGP Fingerprint: <code>DDFA 6688 B972 C079 9047  4C72 CED4 01AD 798E 0DE1</code></li>
		<li>Kryptor Encryption Public Key: <code>Cu//ULWhh4BN+7XQSuEzgrju3cWgtBA5ObDDYr3aA/imsRc=</code></li>
		<li>Kryptor Signing Public Key: <code>Ed//HH3ru7EjBZcKBxaHicMqYNtYRxYxkdcXVaTNnFT5xPU=</code></li>
	</ul>
	<p>To verify the Keys I would recommend comparing the Kryptor Keys and OpenPGP Fingerprint also with the ones published on <a href="https://github.com/sadlyLink" target="_blank">GitHub</a>, <a href="https://gitlab.com/sadlylink/sadlylink" target="_blank">GitLab</a> and <a href="https://codeberg.org/sadlyLink/sadlyLink" target="_blank">Codeberg</a></p>

	<h2>Verify This Page</h2>
		<p>To verify the information on this page, follow these steps:</p>
		<ol>
			<li>Download this page and its signature using <a href="https://www.gnu.org/software/wget/" target="_blank">wget</a> (or a similar tool):</li>
			<pre><span class="c">wget</span> https://sadly.link/about/verify.html https://sadly.link/about/verify.html.signature</pre>
			<li>Use <a href="https://www.kryptor.co.uk/" target="_blank">Kryptor</a> to verify the signature:</li>
			<pre><span class="c">./kryptor</span> <span class="o">-vy</span> <span class="s">'Ed//HH3ru7EjBZcKBxaHicMqYNtYRxYxkdcXVaTNnFT5xPU='</span> verify.html</pre>
		</ol>
		<p>If the signature check fails, please <a href="/about#socials">contact me</a>. It's important to ensure the integrity of this page!</p>

	<h2>Fingerprints</h2>
	<h3>PGP Keys</h3>
		<ul>
			<li>Qubes Master Signing Key: <code>427F 11FD 0FAA 4B08 0123 F01C DDFA 1A3E 3687 9494</code></li>
			<li>Tails Developer Signing Key <small><a href="mailto:tails@boum.org" class="email">tails@boum.org</a></small>: <code>A490 D0F4 D311 A415 3E2B  B7CA DBB8 02B2 58AC D84F</code></li>
			<li>Tor Developer Key <small><a href="mailto:torbrowser@torproject.org" class="email">torbrowser@torproject.org</a></small>: <code>EF6E 286D DA85 EA2A 4BA7 DE68 4E2C 6E87 9329 8290</code></li>
			<li>Veracrypt Team Signing Key <small><a href="mailto:veracrypt@idrix.fr" class="email">veracrypt@idrix.fr</a></small>: <code>5069 A233 D55A 0EEB 174A 5FC3 821A CD02 680D 16DE</code></li>
			<li>Proton CA Key <small><a href="mailto:openpgp-ca@proton.me" class="email">openpgp-ca@proton.me</a></small>: <code>0A86 52FE 5D53 3860 5789  9FE9 D806 C1AF 5978 E8C7</code></li>
			<!--TODO: Add other fingerprints as needed -->
		</ul>

	<h2>Additional Resources</h2>
	<ul>
		<li><a href="https://gitlab.com/sadlyLink/neocities-blog">GitLab Repository</a></li>
		<li><a href="https://codeberg.org/sadlyLink/neocities-blog">Codeberg Repository Mirror</a></li>
	</ul>
</body>
</html>

