---
permalink: /guestbook.html 
---
<!DOCTYPE html>
<html class="dark">
<head>
    <meta charset="utf-8">
    <title>Guestbook</title>
    <meta name="description" content="Guestbook of sadlyLink, please enter and write as you please">
    <meta name="author" content="sadlyLink">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#000000">
    <meta http-equiv="content-language" content="en">
    <meta name="keywords" content="guestbook, sadlylink, neocities, blog, personal, chat, cbox, 123guestbook, book, guests, vistors, sadly.link, sadlyLink, code cafe, code-cafe">
    
    <script src="/assets/js/comment-widget.js" defer></script>
    <script type="text/javascript" src="/assets/js/cactus.js"></script>
    <link rel="stylesheet" href="/assets/css/cactus.css" type="text/css">
    <link rel="stylesheet" type="text/css" href="/assets/css/guestbook.css">

    <meta http-equiv="Content-Security-Policy" content="font-src 'self'; style-src 'self' 'unsafe-inline'; script-src 'self' 'unsafe-inline'">
    {% include favicon.html %}
</head>
<body>
    <h1 class="typewriter">Welcome to the Guestbook!</h1>
    <br>
    <div id="comment-section"></div>
    <script>
        initComments({
          node: document.getElementById("comment-section"),
          defaultHomeserverUrl: "https://matrix.cactus.chat:8448",
          serverName: "cactus.chat",
          siteName: "sadly-link",
          commentSectionId: "guestbook"
        })
    </script>
    <noscript>
        <div class="d-container">
        <div class="retro-box no-js-info">
            <h2>Enable JavaScript to view comments</h2>
            <p>Comments are powered by Cactus Chat, a privacy-focused commenting system, that uses the Matrix Protocol. To view comments, please enable JavaScript.</p>
        </div>
        </div>
    </noscript>
    
    <noscript>
        <div id="c_inputDiv">
            <form id="c_form" onsubmit="c_submitButton.disabled = true; v_submitted = true;" method="post" target="c_hiddenIframe" action="https://docs.google.com/forms/d/e/1FAIpQLSd069CSCUES_UOyRbhjXGOfPJWB591bu4olZ1hFwZJaNTzPEA/formResponse">This comment-widget is closed. Please use the above form ⬆<input type="text" id="entry.1789163770" name="entry.1789163770" style="display: none;"><span id="c_replyingText" style="display: none;"></span><input type="text" id="entry.275240466" name="entry.275240466" style="display: none;"><iframe id="c_hiddenIframe" name="c_hiddenIframe" style="display: none;"></iframe></form>
        </div>
        <div id="c_container"><div id="memer|--|8/24/2024 13:56:11" style="display: block;" class="c-comment"><h3 class="c-name">memer</h3><span class="c-timestamp">8/24/2024</span><a href="https://memer.online/" class="c-site">Website</a><p class="c-text">hi omg i just checked my guestbook for the first time in a while, I'm looking around your site and it looks SO COOL!!!!! stay safe and awesome dear internet stranger ♥</p><button value="memer|--|8/24/2024 13:56:11" onclick="openReply(this.value)" class="c-replyButton">Reply</button><button onclick="expandReplies(this.parentElement.id)" class="c-expandButton">Show Replies (2)</button><div id="memer|--|8/24/2024 13:56:11-replies" style="display: block;" class="c-replyContainer"><div id="memer|--|8/24/2024 14:08:00" class="c-reply"><h3 class="c-name">memer</h3><span class="c-timestamp">8/24/2024</span><a href="https://memer.online/" class="c-site">Website</a><p class="c-text">also i just now noticed my button wasnt formatted properly LOL, mistake on my end, the memerOnlineButton link should now be sized to be 88x31</p></div><div id="sadlylink|--|8/24/2024 18:15:25" class="c-reply"><h3 class="c-name">sadlylink</h3><span class="c-timestamp">8/24/2024</span><a href="https://yewtu.be/watch?v=aPMfVrRwpsw" class="c-site">Website</a><p class="c-text">thank you so so much!! Stay safe and awesome too, fellow internet stranger! ❤️<br>P.S. new button will be in the next pull request!</p></div></div></div><div id="sadlylink|--|5/6/2024 8:09:34" style="display: block;" class="c-comment"><h3 class="c-name">sadlylink</h3><span class="c-timestamp">5/6/2024</span><a href="https://sadly.link" class="c-site">Website</a><p class="c-text">test</p><button value="sadlylink|--|5/6/2024 8:09:34" onclick="openReply(this.value)" class="c-replyButton">Reply</button><button onclick="expandReplies(this.parentElement.id)" class="c-expandButton">Show Replies (2)</button><div id="sadlylink|--|5/6/2024 8:09:34-replies" style="display: block;" class="c-replyContainer"><div id="sadlier Link|--|5/6/2024 8:24:14" class="c-reply"><h3 class="c-name">sadlier Link</h3><span class="c-timestamp">5/6/2024</span><a href="https://yt.artemislena.eu/watch?v=dQw4w9WgXcQ" class="c-site">Website</a><p class="c-text">happy to be here</p></div><div id="happy link|--|8/17/2024 0:28:57" class="c-reply"><h3 class="c-name">happy link</h3><span class="c-timestamp">8/16/2024</span><p class="c-text">another test</p></div></div></div></div>
    </noscript>
   <div id="c_widget2" style="display: none;">
    <div id="c_inputDiv">
        <form id="c_form" onsubmit="c_submitButton.disabled = true; v_submitted = true;" method="post" target="c_hiddenIframe" action="https://docs.google.com/forms/d/e/1FAIpQLSd069CSCUES_UOyRbhjXGOfPJWB591bu4olZ1hFwZJaNTzPEA/formResponse">This comment-widget is closed. Please use the above form ⬆<input type="text" id="entry.1789163770" name="entry.1789163770" style="display: none;"><span id="c_replyingText" style="display: none;"></span><input type="text" id="entry.275240466" name="entry.275240466" style="display: none;"><iframe id="c_hiddenIframe" name="c_hiddenIframe" style="display: none;"></iframe></form>
    </div>
        <div id="memer|--|8/24/2024 13:56:11" style="display: block;" class="c-comment">
            <h3 class="c-name">memer</h3><span class="c-timestamp">8/24/2024</span><a href="https://memer.online/" class="c-site">Website</a>
            <p class="c-text">hi omg i just checked my guestbook for the first time in a while, I'm looking around your site and it looks SO COOL!!!!! stay safe and awesome dear internet stranger ♥</p>
            <button value="memer|--|8/24/2024 13:56:11" onclick="openReply(this.value)" class="c-replyButton">Reply</button>
            <button onclick="expandReplies(this.parentElement.id)" class="c-expandButton">Show Replies (2)</button>
                <div id="memer|--|8/24/2024 13:56:11-replies" style="display: none;" class="c-replyContainer">
                    <div id="memer|--|8/24/2024 14:08:00" class="c-reply"><h3 class="c-name">memer</h3><span class="c-timestamp">8/24/2024</span><a href="https://memer.online/" class="c-site">Website</a><p class="c-text">also i just now noticed my button wasnt formatted properly LOL, mistake on my end, the memerOnlineButton link should now be sized to be 88x31</p></div>
                    <div id="sadlylink|--|8/24/2024 18:15:25" class="c-reply"><h3 class="c-name">sadlylink</h3><span class="c-timestamp">8/24/2024</span><a href="https://yewtu.be/watch?v=aPMfVrRwpsw" class="c-site">Website</a><p class="c-text">thank you so so much!! Stay safe and awesome too, fellow internet stranger! ❤️<br>P.S. new button will be in the next pull request!</p></div>
                </div>
            </div>
        <div id="sadlylink|--|5/6/2024 8:09:34" style="display: block;" class="c-comment"><h3 class="c-name">sadlylink</h3><span class="c-timestamp">5/6/2024</span><a href="https://sadly.link" class="c-site">Website</a><p class="c-text">test</p><button value="sadlylink|--|5/6/2024 8:09:34" onclick="openReply(this.value)" class="c-replyButton">Reply</button><button onclick="expandReplies(this.parentElement.id)" class="c-expandButton">Show Replies (2)</button>
            <div id="sadlylink|--|5/6/2024 8:09:34-replies" style="display: none;" class="c-replyContainer">
                <div id="sadlier Link|--|5/6/2024 8:24:14" class="c-reply"><h3 class="c-name">sadlier Link</h3><span class="c-timestamp">5/6/2024</span><a href="https://yt.artemislena.eu/watch?v=dQw4w9WgXcQ" class="c-site">Website</a><p class="c-text">happy to be here</p></div>
                <div id="happy link|--|8/17/2024 0:28:57" class="c-reply"><h3 class="c-name">happy link</h3><span class="c-timestamp">8/16/2024</span><p class="c-text">another test</p></div>
            </div>
        </div>
    </div>

    <div class="d-container">
        <div class="retro-box">
            <h2>Or use Listed Guestbook:</h2>
            <p>Listed is a bloging platform by Standard Notes and offers a Guestbook, check it out</p>
            <noscript><a href="https://listed.to/@sadlyLink/guestbook" title="https://listed.to/@sadlyLink/guestbook" target="_blank">Visit listed.to</a></noscript>
            <button onclick="location.href='https://listed.to/@sadlyLink/guestbook'" title="https://listed.to/@sadlyLink/guestbook">Visit listed.to</button>
        </div>
    </div>
    
    <div class="d-container">
        <div class="retro-box">
            <h2>Visit the archived 123Guestbook</h2>
            <p>123Guestbook was shut down on July 1st, 2024.</p>
            <noscript><a href="https://code-cafe.123guestbook.com" title="https://code-cafe.123guestbook.com" target="_blank">View Archive</a></noscript>
            <button onclick="location.href='https://code-cafe.123guestbook.com'" title="https://code-cafe.123guestbook.com">View Archive</button>
        </div>
        <div class="retro-box" id="placeholder">
            <h2>Chat Box!<br></h2>
            <p>More chat than guestbook, but pretty popular:</p>
            <p>Chatbox loads google fonts and possibly cookies/trackers. Click if you're fine with that or took some precautions</p>
            <noscript><a href="https://www5.cbox.ws/box/?boxid=946638&boxtag=QrQGCP" target="_blank">Visit the cbox here</a></noscript>
            <button onclick="location.href='https://www5.cbox.ws/box/?boxid=946638&boxtag=QrQGCP'" title="https://www5.cbox.ws/box/?boxid=946638&boxtag=QrQGCP">Visit Cbox</button>
        </div>
    </div>

     <footer class="info-footer">
        <p>For more information on the Comment Widget, visit the awesome project <a href="https://cactus.chat" target="_blank">Cactus Chat</a>.</p>
        <p>The chat used a functional cookie in the past, but not anymore. If you want to delete a message write me what comment I should delete and give me a proof of authorship. Keep in mind public posts might persist online even after deletion. More info in the  <a href="/privacy-policy">Privacy Policy</a> 🔐.</p>
	<p>I welcome constructive criticism and respectful discussion, but reserve the right to remove comments that contain harassment, hate speech, or explicit content. This is a <b><i>guestbook</i></b>, please keep that in mind before posting something.</p>
        <p>
			<a href="/thanks.html">thanks-page</a> ❤️  | <a href="/about">About</a> 📖 | hosted on <a href="https://neocities.org">Neocities</a> 🐱
		</p>
        <p>Unless otherwise noted, <b>my content</b> is licensed with ❤️  under <b>CC0 Public Domain</b>, 2023-2024</p> 
    </footer>
</body>
</html>
