---
layout: none
description: Blog about coding, philosophy, writing and other things. 
    So basically life, the universe and everything...
keywords: philosophy, learning, writing, school, videogames, books
title: Home
permalink: /home/
neko: yes
---

{% include header.html %}
<body>
  {% include navbar.html %}
  <div id="flex">
  {% include left.html %}     
  <!-- Main Part Start -->
  <main>

  <div class="note-box draggable" id="noteBox" style="cursor: grab;">
    <div class="note-header">
        <span>Todo-List</span>
        <button aria-label="Close" tabindex="0" onclick="document.getElementById('noteBox').style.display='none'"
        onkeydown="if(event.key === 'Enter') { document.getElementById('noteBox').style.display = 'none'; }">[X]</button>
    </div>
    <hr />
    <ul>
        <li>• Improve <a href="/misc/lists.html" style="color:#C81B84">list</a> (new design)</li>
        <li>• Improve accessibility (chatbox, colors)</li>
        <li>• New homepage layout and color theme</li>
        <li><hr></li>
        <li>• <del>fix website issues (typo in dns record)</del></li>
        <li>• <del>more responsive design (home+button-wall)</del></li>
        <!-- Add more list items as needed -->
    </ul>
  </div>

  <!-- ! No-JS version
  <div class="note-box draggable" id="noteBox">
    <input type="checkbox" id="toggle" class="toggle" style="display:none">
    <label for="toggle" class="note-header" style="cursor: pointer;">
      <span>Todo-List</span>
      <span>[↓]</span>
    </label>
    <div class="content">
      <hr>
      <ul>
        <li>Improve <a href="/misc/lists.html" style="color:#ed64f5">list</a> (new design)</li>
        <li>Improve accessibility (chatbox, colors)</li>
        <li>New homepage layout and color theme</li>
        <hr>
        <li><del>fix website issues (typo in dns record)</del></li>
        <li><del>more responsive design (home+button-wall)</del></li>
      </ul>
    </div>
  </div>  -->


  <h1>Hello There!</h1>

  <h2>What is this Blog about</h2>

  <p>I want to write about stuff that is important to me at the moment, that I learned new, etc.
  Mainly, those topics will be related to <strong>computer science, philosophy, videogames and writing</strong>. 'Cause these are things I am very interested in. 2023, I started studying computer science, which will influence this blog.</p>

  <p>Philosophy has been a favorite topic of mine since my early school days, then became a subject I hated, and then I learned it to love again.</p>

  <p>Additionally, I have been planning to write a book for a long time. I am more or less obsessed with how stories work and everything related to storytelling. This also includes writing stories for all kinds of genres, such as theatre plays or video games. I want to try all different sorts of storytelling, which I will share here.
  But I am not really good at it yet...</p>

  <p>But I wrote a short story using the software <a href="https://twinery.org/" target="_blank">Twine</a> some time ago, which I uploaded <a href="/misc/The_Dream_You_Give.html" target="_blank">here</a>.<br>
  I also want to use a projects page for some other stuff in the near future.</p>

  <hr>

  <img src="/assets/images/blinkies/0222-construction.gif" alt="" width="400px"><br>
  <small>img from <a href="https://blinkies.cafe/?s=0222-construction">blinkies cafe</a></small>

  <hr>

  <h2 style="text-align: center;">My Button</h2>

  <div class="ccButton">
  <div>
  <img src="/assets/images/buttons/sl-button.png" alt="my button" class="draggable" title="please download the image">
  </div>
  <!--TODO This get's an Accessebility issue, because the textarea has no visual label, but it is not used as a form element -->
  <label for="copyButtonCode" style="display:none;">Copy Button Code</label>
  <textarea class="copyButton" title="copy my button code" name="copyButton code">
    <a href="https://sadly.link/" target="_blank"><img src="https://sadly.link/assets/images/buttons/sl-button.png" alt="sadly.link"></a>
  </textarea>
  <div class="tooltip">
  <button onclick="copyFunc()" onmouseout="outFunc()" aria-label="Copy code to clipboard">
    <span class="tooltiptext" id="myTooltip">Copy to clipboard</span>
    Copy Button
    </button>
  </div>
  </div>

  <script src="/assets/js/copyButton.js"></script>

  <hr>

  <hr>
  <p>
  For this website I used the layout-builder created by <a href="https://sadgrl.online" target="_blank">sadgrl.online</a> and the free static website builder <a href="https://jekyllrb.com" target="_blank">Jekyll</a>. It's hosted by <a href="https://neocities.org" target="_blank">neocities</a>.
  <strong>Huge shout-out to them!</strong> I'm grateful for all the cool things provided.
  </p>
  <p>
  You find the code for this website <a href="https://gitlab.com/sadlylink/neocities-blog" target="_blank">on GitLab</a>
  </p>
  <hr>

  Want to keep up with the blog? Follow me on <a href="https://neocities.org/site/code-cafe" target="_blank">neocities</a> or my <a href="https://sadly.link/feed.xml" target="_blank">RSS Feed</a>. If you want to contact me, visit the <a href="/about">about page</a>.


  <hr>

  <div class="split-view-container">
      <!-- Snowflake iframe -->
      <div class="left-panel">
        <h2>Snowflake</h2>
          <iframe src="https://snowflake.torproject.org/embed.html" class="snowflakeTor" title="Snowflake"></iframe>
        <p>
          <a href="https://snowflake.torproject.org/" target="_blank" rel="noopener noreferrer" title="official site">Snowflake</a>, developed by The Tor Project, is a tool for fighting internet censorship worldwide. 
        </p>
        <p>
          It transforms your browser into a bridge, helping people circumvent censorship with your temporarily shared bandwidth. (Avoid sharing from censored locations)
        </p>
        <p>
          When you leave this page, the Snowflake <strong>connection will end</strong>. 
          To continue supporting Snowflake while browsing other pages of this site, consider <strong>opening them in a new tab</strong>.
          Alternatively, use a site like <a href="https://relay.love" target="_blank" rel="noopener noreferrer">relay.love</a> in a separate tab, or <strong>install the browser extension</strong> for continued support:
        </p>
        <ul>
            <li> <a href="https://addons.mozilla.org/en-US/firefox/addon/torproject-snowflake/" target="_blank" rel="noopener noreferrer">Snowflake for Firefox</a></li>
            <li> <a href="https://chromewebstore.google.com/detail/snowflake/mafpmfcccpbjnhfhjnllmmalhifmlcie" target="_blank" rel="noopener noreferrer">Snowflake for Chrome/Brave/Edge</a></li>
        </ul>
      </div>
      <!-- Website Guardian -->
      <div class="right-panel">
        <div class="results">
                <p style="margin: 0; font-size: 17px">This page is protected by a</p>
                <h2 class="title" style="margin: 0">ZEBRA</h2>
                <img class="zebra" alt="ZEBRA" src="/assets/images/site-images/zebra.jpg"><!-- https://i.ibb.co/pQ5VvhG/zebra.jpg --->
                <p>The zebra's stripes are known to protect it from blood-sucking insects</p>
                <p>
                  <a href="https://hekate.neocities.org" target="_blank">Want your own? Visit hekate.neocities.org!</a>
                </p>
        </div>
      </div>
  </div>

  <hr>

  </main>
  <!-- Main Part End -->

  {% include right.html %}
  </div>
  {% include footer.html %}
  </div>
</body>
</html>
