---
layout: none
description: Blog about coding, philosophy, writing and other things. So basically life, the universe and everything...
keywords: neocities, sadly link, code-cafe, blog, enter, videogames, philosophy, writing, programming
permalink: /
date: 25.1.2024
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sadlyLink's Café</title>
    
    <meta name="author" content="sadlyLink">
    <meta name="date" content="{{ page.date }}">
    <meta name="description" content="{{ page.description }}">
    <meta name="keywords" content="neocities, sadlyLink, sadly link, sadly-link, sadly.link blog, enter, videogames, philosophy, writing, programming">
    <meta name="theme-color" content="#ffffff">
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self' https://weirdscifi.ratiosemper.com; style-src 'self'; img-src 'self'; connect-src 'self' https://weirdscifi.ratiosemper.com;">

    <a href="/home/"></a>

    {% include favicon.html %}

    <link rel="stylesheet" href="/assets/css/start.css">
    
    <script src="/assets/js/interact.min.js" defer></script>
    <script src="/assets/js/draggable.js" defer></script>
    <script src="/assets/js/enter.js" defer></script>
</head>
<body>
    <h1 class="typewriter">Welcome to my Café</h1>
  
    <input type="checkbox" id="toggle-animation" class="toggle-animation-checkbox">
    <label for="toggle-animation" class="toggle-animation-label">⏯️ Stop</label>

    <div class="static-background"></div>

    <div class="draggable">
        <div class="terminal">
            <div class="terminal-header">
                <div class="terminal-header-button">x</div>
                <div class="terminal-header-button">_</div>
                <div class="terminal-header-button">[]</div>
            </div>
            <div class="terminal-body">
                <p>[user@website] ~$ Hello There!</p>
                <p>[user@website] ~$ --help</p>
                <p>Hit Enter or type home to start</p>
                <p>[user@website] ~$ Site --info</p>
                Last Updated: <span id="lastupdate"></span><br/>
                You are Visitor #<span id="hitcount"></span>
                <p>[user@website] ~$ Best viewed on a Desktop + Firefox</p>
                <p>[user@website] ~$ js --info; cookie --info </p>
                <p>JavaScript not required, but enhances experience. 2 functional cookies used by external services, <strong>no</strong> personal info stored. More info <a href="/privacy-policy">here</a>.</p>
                <div id="output" class="output"></div>
                <p>[user@website] ~$ <input type="text" id="command-line" placeholder="Type here..."><noscript>uh this is embarassing...😓...this one needs JS, sorry</noscript></p>
                <noscript>
                    <a href="/home/" class="enter-button">Enter</a>
                </noscript>
                <button class="enter-button js-button">Enter</button>
            </div>
        </div>
    </div>
</body>
</html>
