---
layout: none
permalink: /not_found.html
description: "Page not found. Sadly, you're going down a path I can't follow. Follow these links..."
---
<!doctype html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page Not found | sadly</title>
    <meta name="author" content="sadlyLink">
    <meta name="date" content="23.1.2024">
    
    <meta name="description" content="{{page.description}}">
    <meta name="keywords" content="neocities, sadlyLink, sadly.link, sadly-link, sadly link,{{page.keywords}}, blog">
    <meta name="theme-color" content="#ffffff">
    <meta name="robots" content="noindex, nofollow">
    <meta name="Content-Security-Policy" content="
      default-src 'self'; 
      script-src 'self' 'nonce-<random-nonce>'; 
      style-src 'self' 'nonce-<random-nonce>'; 
      img-src 'self' data:; 
      font-src 'self'; 
      connect-src 'self'; 
      media-src 'self'; 
      object-src 'none'; 
      frame-src 'none'; 
      base-uri 'none'; 
      form-action 'self'; 
      frame-ancestors 'none'; 
      block-all-mixed-content; 
      upgrade-insecure-requests;
      report-uri /csp-violation-report-endpoint;
    ">
    
    {% include favicon.html %}
    
    <link rel="stylesheet" href="/assets/css/404.css">
  </head>

  <body>
    <h1>404</h1>
    <h2>Page not found</h2>
    <img src="/assets/images/gifs/bad-path.gif" alt="You're going down a path I can't follow" class="center-image">
    <hr>
    <p>Try searching for what you need (doesn't function well just now):</p> 
    <form action="https://duckduckgo.com/" method="get" class="search-404">
      <input type="hidden" name="sites" value="sadly.link"/>
      <input type="text" name="q" placeholder="Search this site" class="search-input"/>
      <input type="submit" value="Search" class="search-button"/>
    </form> 
    <p>Or go back to the <a href="/home/">homepage</a>.</p>
    <p>You can explore my latest <a href="/blog/">Blog Posts</a> or some <a href="/misc/">miscellaneous stuff</a> as well.</p>
  </body>
</html>
