---
permalink: privacy-policy.html
date: 2024-05-11
---
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Privacy Policy</title>
    <meta name="author" content="sadlyLink">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Privacy Policy of sadlyLink's Neocities Blog">
    <meta http-equiv="content-language" content="en">
    <meta name="date" content="{{ page.date | date: "%Y-%m-%d" }}">
    <meta name="keywords" content="sadlyLink, sadly.link, sadly-link, sadly link, neocities, blog, privacy, policy, personal blog, transparency">
    <meta name="Content-Security-Policy" content="font-src 'self'; script-src 'self' 'unsafe-inline'; style-src 'self' 'unsafe-inline';">
    <link rel="stylesheet" href="/assets/css/privacy.css">
    {% include favicon.html %}
</head>
<body>
<h1>Privacy Policy</h1>
    <p>Last updated: 24.08.2024</p>

    <div id="tldr">
        <span>TL;DR:</span>
        <p>I do not knowingly collect any personal data. Therefore, I cannot sell, share, or monetize any information. Third-party services used on this site may collect non-personal information to enhance security or provide their service. This document aims to cover every possible instance regarding your privacy.</p>
    </div>
    
    <h3>So Why Is This Policy So Long?</h3>
    <p>
        I want to be transparent about potential privacy weaknesses of this site. I try to cover all external JavaScript code used, as well as all third-party services embedded on this site. You can also check the site's code on <a href="https://gitlab.com/sadlylink/neocities-blog" target="_blank">GitLab</a> for further transparency. Also, you can verify my ownership over my GitLab account and this Blog via <a href="https://keyoxide.org/aspe:keyoxide.org:3SNJRUZK32FR7YZFBJ3G5N6FBA" title="aspe:keyoxide.org:3SNJRUZK32FR7YZFBJ3G5N6FBA" target="_blank">Keyoxide</a>.
    </p>
    <blockquote>Trust, but verify — <a href="https://en.wikipedia.org/wiki/Trust%2C_but_verify">Russian proverb</a></blockquote>

    <h2>Table of Contents</h2>
    <ul>
        <li><a href="#host">Host and Domain</a></li>
        <li><a href="#external-services">External Services</a></li>
        <ul>
            <li><a href="#javascript-functionalities">JavaScript Functionalities</a></li>
            <li><a href="#guestbook-and-comments">Guestbook and Comments</a></li>
            <li><a href="#public-interactions">Public Interactions</a></li>
            <li><a href="#third-party-links">Third Party Links</a></li>
            <li><a href="#cookies">Cookies</a></li>
        </ul>
        <li><a href="#changes-and-contact-info">Changes and Contact Info</a></li>
    </ul>

    <h2 id="host">Host and Domain</h2>
    <p>
        Neocities logs the number of site requests and unique IP addresses for visitor counting. For information about the data Neocities collects, see their <a href="https://neocities.org/privacy" target="_blank">privacy policy</a>.
        To mask your IP address, consider using the <a href="https://torproject.org/">Tor Browser</a>. 
        I highly recommend checking it out and supporting the project.
    </p>

    <h2 id="external-services">External Services</h2>
    <h3 id="javascript-functionalities">JavaScript Functionalities</h3>
    <p>
        This site uses JavaScript for various functionalities. It should work, albeit with limited functionality, if JavaScript is disabled. <br>
        For issues, please contact me via the means described on the <a href="/about#socials">about page</a> 
        or open an issue on the <a href="https://gitlab.com/sadlylink/neocities-blog/-/issues" target="_blank">GitLab Repo</a>.
    </p>
    <p>The following is a list of external JavaScript Code or from external sources that are served locally:</p>
    <ul>
        <li><strong>Interact.js</strong>: Enhances interactive features (draggable content). It is free and open-source. For more information, visit their website, <a href="https://interactjs.io/">interactjs.io</a>.</li>
        <li><strong>Webneko.net</strong>: Powers the “Neko” animation that follows the cursor on click. For more information, visit the website <a href="https://webneko.net/">webneko.net</a>.</li>
        <li><strong>Null-Webring</strong>: By <a href="https://nuthead.neocities.org/ring/" target="_blank">nuthead.neocities.org</a> for community site navigation. It is updated when a new site is added to the webring. See the code <a href="https://nuthead.neocities.org/ring/ring.js">here</a>.</li>
        <li><strong>Status Café</strong>: Updates status by <a href="https://status.cafe" target="_blank">Status Café</a>. I make an API request to get my last status update. See the code <a href="/assets/js/status-cafe-update.js">here</a>.
            Status Café uses <a href="#gorilla_csrf">one cookie</a> for security.</li> 
        <li><strong>Cactus.chat</strong>: Provides the comment sections under my posts and guestbook, using the Matrix Protocol. The JavaScript Code to make the request to Matrix fore recieving and creating comments, is served locally. You can check out the code behind Cactus Chat via their <a href="https://gitlab.com/cactus-comments/">GitLab repos</a>. In an earlier version the JS- and CSS-Code were not served locally, and a functional cookie was set. This is no longer the case.</li>
        <li><strong>Snowflake</strong>: An iframe that enables censorship circumvention for users on the Tor Network, maintained by the Tor Project. 
                To achieve this, it uses WebRTC. However, this could lead to a WebRTC leak, that exposes your IP address even if you use a VPN. Also, if the iframe is exploited, this could introduce vulnerabilities to the site. Or the page embedded in the iframe itself could start tracking its users.
                This is why I normally don't use iframes. <br>
                For most threat models, I think those risks are negligible and the benefit of helping people avoid censorship is much greater. Especially given that it is developed by the Tor Project.
                More info: <a href="https://snowflake.torproject.org/">snowflake.torproject.org</a> or the official repository <a href="https://gitlab.torproject.org/tpo/anti-censorship/pluggable-transports/snowflake">with its code</a>.</li>
        <li><strong>Weirdscifi.ratiosemper</strong>: weirdscifi.ratiosemper.com provides the visitor and last-updated statistic on the enter page of my site.</i>
	<li><strong>Twine</strong>: Twine was used to generate the short story. It uses JavaScript to provide it's functionality of clicking through the pages of the story, for example. It is open-source and mostly used for creating interactive fiction. More info on <a href="https://twinery.org/" target="_blank">twinery.org</a>.</li>
    </ul>

    <strong>Potential Risks</strong> <br>
    <p>
        The external scripts from services like Interact.js or Cactus-Chat are included to enhance the site features but could potentially introduce risks such as unwanted tracking or malicious code. <br>
        This is a risk for all sites using external scripts, and other than disabling JavaScript, there is nothing really to prevent this. <br>
        You could also try to block the scripts with a browser extension like NoScript 
        <a href="https://addons.mozilla.org/en-GB/firefox/addon/noscript/">for Firefox</a> 
        or Chromium-based browsers like <a href="https://chromewebstore.google.com/detail/noscript/doojmbjmlfjjnbmnoijecmcbfeoakpjm">Brave/Chrome/Chromium/Edge/Vivaldi</a>. <br>
    </p>

    <h3 id="guestbook-and-comments">Guestbook and Comments</h3>
    <p>
        <strong>Cactus Chat</strong>: I use a guestbook by Cactus-Chat, a privacy-respecting and open-source comment widget using the Matrix protocol. You can find their <a href="https://gitlab.com/cactus-comments" target="_blank">GitLab repos here</a>.
    </p>
    <p>
        <strong>Old Comment Section</strong>: The old comment section used Google Forms and Spreadsheets to display comments. It was a very cool solution developed by <a href="https://virtualobserver.moe/">Ayano</a>, but not as private as using Matrix, because it uses Google services. <br>
        The displayed comments are fetched from a Google Spreadsheets by me, so the browser doesn't connect to Google. Given that no new comments are added to the spreadsheet, no new data is sent to Google. <br> I will delete the form and the Spreadsheet in the near future. The comments will still be displayed on the site, but no new comments can be added.
    </p>
    <h4>Guestbook Links on my site:</h4>
    <ul>
        <li><strong>Listed.to</strong>: A blogging platform by Standard Notes. See their <a href="https://standardnotes.com/legal/privacy">privacy policy</a>.</li>
        <li><strong>Cbox Chat</strong>: A popular chat service. See <a href="https://www.cbox.ws/privacy" target="_blank">Cbox Privacy Policy</a>.</li>
        <li><strong>123Guestbook</strong>: Offers a guestbook service. See their <a href="https://www.123guestbook.com/privacy-policy/" target="_blank">privacy policy</a>. In the mid of 2024, it shut down, but you can still visit the archive.</li>
    </ul>

    <h3 id="public-interactions">Public Interactions</h3>
    <p>
        Comments on all the guestbooks are public. 
        If you wish to delete a post, you may need to provide proof of authorship. 
        For deletion of personal information, contact Cbox, 123Guestbook, Listed or me (I might be able to help on the other platforms as well).
        Be aware that public interactions may persist online <strong>even after deletion.</strong>
    </p>
	<p>I welcome constructive criticism and respectful discussion, but reserve the right to remove comments that contain harassment, hate speech, or explicit content. Posts on my guestbooks or comment sections that go against this will get deleted. 
	Also, keep in mind where you are posting something. E.g., a 3-page essay on why one of my blog posts is wrong would make a good email to me, but isn't appropriate for a guestbook.</p>

    <h3 id="third-party-links">Third Party Links</h3>
    <p>
        This site contains links to other sites that may collect personal information. 
        I aim to minimize tracking by using privacy-focused alternatives like Invidious (<a href="https://invidious.io" target="_blank">https://invidious.io</a>).
        All links are to HTTPS sites to ensure a secure connection.
    </p>

    <h3 id="cookies">Meet the Cookies</h3>
    <p>No personal information is stored in or collected by these cookies.</p>
    <ul>
        <li id="phpsessid"><strong>PHPSESSID</strong> (by piclog.blue): This cookie is used to store a unique session ID for managing user sessions on the website. This is used for the security and management of piclog.</li>
        <li id="gorilla_csrf"><strong>__gorilla_csrf</strong> (by status.cafe): This cookie is used to prevent Cross-Site Request Forgery (CSRF) attacks. It is used to uniquely identify a user and verify that the user is the one actually making the requests to the server. You can find more information about the cookie on the <a href="https://github.com/gorilla/csrf" target="_blank">GitHub page dedicated to the cookie</a>.</li>
    </ul>
    
    <h2 id="changes-and-contact-info">Changes and Contact Info</h2>
    <p>If I make changes to this privacy policy, they will be noted here along with the date of changes.</p>
    <p>For questions, you can email me at <a href="mailto:info@sadly.link" target="_blank">info@sadly.link</a> or visit my <a href="/about#socials" target="_blank">about page</a> for more contact information and options.<br>
        Emails are saved with Zero-Knowledge encryption by ProtonMail. You can also contact me End-To-End Encrypted using OpenPGP or SimpleX-Chat.</p>
    <p>For transparency, visit <a href="https://gitlab.com/sadlylink/neocities-blog" target="_blank">the GitLab Repo</a> to see the source code of this site.</p>
    <hr>
    <footer>
        <p>Thank you for visiting my blog. <br>
            - sadlyLink
        </p>
        <p>
            <a href="/thanks.html">thanks-page</a> ❤️  |  <a href="/about">About</a> 📖
        </p>
    </footer>
    <hr>

    <ul>
        <li>23.11.2024 updated cookie section (cactus.chat CSS & JS are localy served, so no cookie) + added content removal information for my guestbooks and comment sections</li>
	<li>24.08.2024 — Enhanced privacy and security on my site & added new comment section widget</li>
        <li>11.5.2024 — Initial version</li>
    </ul>
    <a href="https://gitlab.com/sadlylink/neocities-blog/-/commits/main/pages/privacy_policy.html">Check the changes on GitLab</a>
</body>
</html>
