@import 'lists-var';

.gr_grid_book_container {
    /* customize book cover container div here */
    float: left;
    width: 98px;
    height: 160px;
    padding: 0px 0px;
    overflow: hidden;

    &:hover{
        transform: scale(1.3);
    }
}
 
.grid-games {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.game-item {
    width: calc(33.33% - 10px); /* 3 items per row, adjust margin accordingly */
    height: 150px; /* Square size */
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $background; /* Dark background */
    position: relative; /* Set the game-item as relative */
    border: 2px solid $border-green; /* Neon border */
    box-shadow: 0 0 10px $border-green, 0 0 20px $border-green, 0 0 30px $border-green; /* Glowing effect */
    transition: all 0.3s ease;
    font-family: monospace, 'Courier New', Courier, sans-serif; /* Retro-futuristic font */

    img {
        max-width: 100%;
        max-height: 100%;
        object-fit: contain; /* Keeps aspect ratio */
    }

    &:focus {
        border: 2px solid $border-pink; /* Different neon color on focus */
        box-shadow: 0 0 20px $border-pink, 0 0 30px $border-pink, 0 0 40px $border-pink; /* Enhanced glowing effect */
    }

    &::before {
        content: attr(data-tooltip);
        position: absolute;
        bottom: 100%;
        left: 50%;
        transform: translateX(-50%);
        padding: 5px 8px;
        background-color: #000;
        color: #fff;
        border-radius: 3px;
        opacity: 0;
        z-index: 3; /* Ensure tooltip is above other content */
        pointer-events: none; /* Ensure tooltip is not clickable */
        transition: opacity 0.3s ease; /* Add a transition effect */
        font-family: monospace, 'Courier New', Courier, sans-serif; /* Retro-futuristic font */
    }

    &:hover::before {
        opacity: 1;
    }

    &:hover {
        box-shadow: 0 0 20px $border-green, 0 0 30px $border-green, 0 0 40px $border-green; /* Enhanced glowing effect on hover */
    }
}

.license-info {
    position: absolute; /* Position the license info absolutely within game-item */
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $background; /* Dark background */
    color: $border-green; /* Neon color */
    display: none; /* Hide initially */
    z-index: 1; /* Ensure it's above other content */
    padding: 10px;
    border-top: 2px solid $border-green; /* Neon border */
    font-family: monospace, 'Courier New', Courier, sans-serif; /* Retro-futuristic font */
    box-shadow: 0 0 10px $border-green, 0 0 20px $border-green, 0 0 30px $border-green; /* Glowing effect */

    a {
        color: $border-green; /* Neon color */
        text-decoration: underline;
        transition: color 0.3s ease;
    }
}

// Style adjustments for when license info is visible
.game-item .license-info.visible {
    display: block; /* Show license info */
}


/* Collapsible Content Styles */
.collapsible {
    background-color: $background; /* Dark background */
    color: $border-green; /* Neon color */
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: 2px solid $border-green;
    text-align: left;
    outline: none;
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace; /* Retro-futuristic font */
    transition: all 0.3s ease;
}

.collapsible:hover {
    box-shadow: 0 0 20px $border-green, 0 0 30px $border-green, 0 0 40px $border-green; /* Enhanced glowing effect on hover */
}

.content-collapsible {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: $background; /* Dark background */
    border: 2px solid $border-green; /* Neon border */
    box-shadow: 0 0 10px $border-green, 0 0 20px $border-green, 0 0 30px $border-green; /* Glowing effect */
}


// Style the button that is used to open and close the collapsible content
.collapsible {
    font-family: monospace, 'Courier New', Courier, sans-serif; // Retro-futuristic font
    box-shadow: 0 0 10px $border-green, 0 0 20px $border-green, 0 0 30px $border-green;
}

// Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover)
.active, .collapsible:hover {
    background-color: $border-green;
    color: $background;
    box-shadow: 0 0 20px $border-green, 0 0 30px $border-green, 0 0 40px $border-green;
}

.collapsible:focus {
    border: 2px solid $border-pink; /* Different neon color on focus */
    box-shadow: 0 0 20px $border-pink, 0 0 30px $border-pink, 0 0 40px $border-pink; /* Enhanced glowing effect */
}

// Style the collapsible content. Note: hidden by default
.content-collapsible {
    color: $border-green; // Neon color
    font-family: monospace, 'Courier New', Courier, sans-serif; // Retro-futuristic font
}