{% include header.html %}
<body>
{% include navbar.html %}
<div id="flex">
{% include left.html %}
<main>
    {{ content }}
    <ul class="post-list">
        {% for post in site.posts %}
        {% if post.categories contains page.cat %}
        <li class="blog-item">
            <div class="card">
                {% if post.image %}
                <div class="card-image">
                    <a href="{{ post.image }}"><img src="{{ post.image }}" alt="{{ post.alt }}" loading="lazy"></a>
                    <small>{{ post.credit }}</small>
                </div>
                {% endif %}
                <div class="card-content">
                    <a href="{{ post.url }}" class="card-link">
                        <h2 class="card-title">{{ post.title }}</h2>
                        <p class="date">{{ post.date | date: "%-d. %B %Y" }}</p>
                        <div class="tags">
                            {% for tag in post.tags %}
                            <span class="tag">{{ tag }}</span>
                            {% endfor %}
                        </div>
                        <p class="description">{{ post.excerpt }}</p>
                    </a>
                </div>
            </div>
        </li>
        {% endif %}
        {% endfor %}
    </ul>
</main>
{% include right.html %}
</div>
{% include footer.html %}
</body>
</html>