{% include header.html%}
    <body>
        {% include navbar.html%}
        <div id="flex">  

        <main>
            <h1>{{ page.title }}</h1>

        {{ content }}

        </main>
        </div>
        {% include footer.html %}
        </div>
    </body>
</html>