<!DOCTYPE html>
<html lang="{{ page.language }}">
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }}</title>
  
  <meta name="author" content="sadlyLink">
  
  <meta name="date" content="{{page.date}}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="{{page.description}}">
  <meta name="keywords" content="neocities, sadlyLink, sadly.link, sadly-link, sadly link,{{page.keywords}}, blog">
  <meta name="theme-color" content="#ffffff">

  <meta http-equiv="Content-Security-Policy" content="
    default-src 'self'; 
    script-src 'self' 'unsafe-inline' 'unsafe-eval' https://webneko.net https://latest.cactus.chat/cactus.js;
    style-src 'self' 'unsafe-inline' https://latest.cactus.chat/style.css; 
    img-src 'self' https://webneko.net https://latest.cactus.chat; 
    connect-src 'self' https://webneko.net https://matrix.cactus.chat:8448;
  ">
  
  {% include favicon.html %}
  
  <link href="/assets/css/style.css" rel="stylesheet" type="text/css" media="all">
  
  <script src="/assets/js/interact.min.js"></script> <!-- Class draggable-->
  <script src="/assets/js/draggable.js"></script>
  
  {% if page.comments != false %}
  <!-- Comment section -->
  <script type="text/javascript" src="/assets/js/cactus.js"></script>
  <link rel="stylesheet" href="/assets/css/cactus.css" type="text/css">
  <link rel="stylesheet" href="/assets/css/post-comments.css" type="text/css">
  {% endif %}
  
  {% if page.neko == true %}
  <!-- Neko cat chasing cursor by: https://webneko.net/ -->
  <script>NekoType="white"</script>
  <h4 id=nl><script src="https://webneko.net/n20171213.js"></script><a href="https://webneko.net">Neko</a></h4>
  {% endif %}
  
  <meta property="og:title" content="{{ page.title }}">
  <meta property="og:description" content="{{ page.description }}">
  <meta property="og:image" content="https://sadly.link{{ page.image }}">
  <meta property="og:url" content="https://sadly.link{{ page.url }}">
  <meta property="og:type" content="article">
  <meta property="og:site_name" content="sadlyLink's Café">
</head>
<body>
  {% include navbar.html %}
  <div id="flex">
  <main>
    <h1>{{page.title}}</h1>
    <p class="post-metadata">
      First published: {{ page.date | date: "%d.%m.%y" }} <br>
      Last edited: {{ page.last-edited | date: "%d.%m.%y" }}
    </p>
    {% if page.listed %}
      <p><a href="{{ page.listed }}">Read post on listed.to</a>  | More modern design, same content, but also worth checking out!</p>
    {% endif %}
    {{ content }}
    <br>
    <a href="/about#socials">Contact</a> | <a href="mailto:info@sadly.link?subject={{ page.title }}">Mail</a>

    {% if page.comments != false %}
      <div id="comment-section"></div>
      <script>
      initComments({
        node: document.getElementById("comment-section"),
        defaultHomeserverUrl: "https://matrix.cactus.chat:8448",
        pageSize: 5,
        serverName: "cactus.chat",
        siteName: "sadly-link",
        commentSectionId: "{{ page.url }}"
      })
      </script>
      <noscript>Please enable JavaScript to view the <a href="https://cactus.chat" rel="nofollow">comments - powered by the secure matrix protocol.</a></noscript>
    {% endif %}
  </main>
</div>
{% include footer.html %}
</div>
</body>
</html>
