//* The dropdown container | primarily used in the navbar
.dropdown {
	float: left;
	overflow: hidden;

	&:hover {
		// Add a red background color to navbar links on hover 
		.dropbtn {
			background-color: transparent;
			color:$hover-color
		}
		
		// Show the dropdown menu on hover 
		.dropdown-content {
			display: grid;
		}
	}
}

// Dropdown button 
.dropbtn {
	border: $accent-color;
	outline: $accent-color;
	color: black;
	padding: 14px 16px;
	background-color: inherit;
	font-family: inherit; // Important for vertical align on mobile phones 
	margin: 0; // Important for vertical align on mobile phones 
}

// Dropdown content (hidden by default)
.dropdown-content {
	display: none;
	position: absolute;
	background-color: black;
	min-width: 100px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	
	// Inside the dropdown
	a {
		float: none;
		padding: 12px 16px;
		display: block;
		text-decoration: none;
		color: $accent-color;
		text-align: left;
		transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
		box-shadow: inset 0 0 0 0 $hover-color;
		
		&:hover {
			box-shadow: inset 200px 0 0 0 $hover-color;
			// color: white;
		}
	}

}
