// TODO make images responsive to screen size

footer {
	//display: grid;
	grid-template-columns: 1fr 1fr; // 2 columns
	border-radius: 10px;
	background-color: $dark-bg-color;
	width: 100%;
	height: 100%;
	padding: 10px;
	text-align: center;
	margin-top: 10px;
	display: flex;
	justify-content: space-evenly; // evenly spaces items in the container
	align-items: flex-start; // aligns items to the top of the container
}

.han-shot-first{
	/* margin-top: 10px;
	background-color: blueviolet;
	width: 100%;
	height: 40px;
	padding: 10px;
	text-align: center; */
	display: flex;
	justify-content: space-evenly;
}

.firework img {
    max-height: 200px;
    max-width: 100%; /* Ensure the image does not exceed the container's width */
    width: auto; /* Maintain aspect ratio */
    height: auto; /* Maintain aspect ratio */
}
