@import "variables";
@import "layout/navbar";
@import "layout/dropdown";

#header {
	width: 100%;
	background-color: #5e4e8c;
	height: 150px;
	background-image: $header-image;
	background-position: center center; // Image gets centered
	background-size: 100%; // Image covers the whole header
	border-radius: 10px 10px 0 0; // Rounded corners on top
}