aside { // for left and right sidebar
	background-color: #241445; //#0d0d3e
	width: 200px;
	padding: 20px;
	font-size: smaller;
}

#container {
	max-width: 1200px;
	margin: 0 auto;
	
	a {
		color: $yellow-accent;
		font-weight: bold;

		&:hover{
			text-decoration: none;
		}
	}
}

#flex {
	display: flex;
}

//* Sidebars *
#leftSidebar {
	margin-right: 10px;
	border-radius: 10px;
	order: 1; // Position 
	background: linear-gradient(#13092D, #43256E);
}

#rightSidebar {
	padding-left: 10px;
	margin-left: 10px;
	border-radius: 10px;
	order: 3; // Position 
	background: linear-gradient(#13092D, #43256E);

	#misc-link {
		font-size: larger;
	}
	
	.box ul {
		padding-left: 10px;
		list-style: none;
	}
}

#topBar {
	width: 100%;
	height: 30px;
	padding: 10px;
	font-size: smaller;
	background-color: $dark-bg-color;
}
