// TODO: Improve accessibility of navbar

#navbar {
    height: 40px;
    width: 100%;
    background-color: $dark-bg-color;
    border-radius: 0 0 10px 10px;
    margin-bottom: 10px; // Space between navbar and content
    
    ul {
        display: flex; // Flexbox layout
        padding: 0;
        margin: 0;
        list-style-type: none; // Remove bullet points
        justify-content: space-evenly; // Evenly spaced items
    }

    li {
        padding-top: 10px;

        a {
            color: $accent-color;
            font-weight: 800;
            text-decoration: none;
        }
        a:hover, a:focus { // When hovering or focusing on a link
            color: $accent-color; // Alternative color: #a49cba
            text-decoration: underline;
        }
    }

    @media (max-width: 600px) {
        height: auto; // Adjust height for smaller screens
        ul {
            flex-direction: column; // Stack items vertically
            align-items: stretch; // Stretch items to fit the width
        }
        li {
            width: 100%; // Make list items take full width
            text-align: center; // Center align text
        }
    }
}
