* {
	box-sizing: border-box;
}

body {
	font-family: 'Courier New', monospace;
	font-size: 14px;
	// Alternative font: font-family: 'Handjet', cursive;
	margin: 0;
	background: $body-bg-color;

	background-size: 65px;
	color: $text-color;
	background-image: $body-bg-image;
	background-repeat: no-repeat; // Background image does not repeat
	background-size: cover; // The image is stretched to fill the entire background
	background-position: center center; // The image is centered
	background-attachment: fixed; // Image remains static while scrolling
}

main {
	background: linear-gradient(#43256E, #13092D); // #0b0b68
	flex: 1;
	padding: 20px;
	order: 2; // First is the left sidebar and third is the right sidebar
	border-radius: 10px;
}
