@import "variables";

h1,h2 {
    color: $accent-color;
    text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

h3,h4, h5, h6 {
	color: $yellow-accent;
	text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
h1 {
	font-size: 25px;
}
strong {
	color: $accent-color;
}
main { strong {background-color: $dark-bg-color; } }
